<template>
  <small-banner-block
      title="Handy Utilities"
      subtitle="Discover a range of helpful utilities designed to assist you in developing, testing, and debugging your integration with Konnect Kit for a smoother development experience."/>

  <breadcrumb :items="[
        { label: 'Home', route: 'Home' },
        { label: 'Developers', route: 'Developers' },
        { label: 'Utilities', },
    ]"/>

</template>
<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";

export default {
  name: 'DevelopersUtilities',
  components: {
    Breadcrumb,
    SmallBannerBlock
  },
  data() {
    return {};
  },
  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },

};
</script>
