<template>
<small-banner-block :title="$t('Join Our Events')"
  :subtitle="$t('Discover a variety of events organized by Konnect Kit, ranging from webinars and workshops to conferences and networking sessions. Connect with industry professionals, learn from experts, and expand your knowledge.')" />

<breadcrumb :items="[
  { label: $t('Home'), route: 'Home' },
  { label: $t('Community'), route: 'Community' },
  { label: $t('Events') }
]" />


  <!-- EVENTS PAGE INTRODUCTION START -->
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div>
            <p>{{$t('Konnect Kit actively participates in various events to engage with the technology community, foster innovation, and stay up-to-date with the latest industry trends. Our involvement spans across organizing, sponsoring, and attending different events, showcasing our commitment to supporting technological advancements and networking with like-minded professionals.')}}</p>
            <p>{{$t('Stay informed about the events we sponsor, such as DTech, an annual gathering for students, companies, and tech enthusiasts, and UTAD SUMMIT, a student-centered event organized by five Student Associations at UTAD. These sponsorships highlight our dedication to nurturing talent and encouraging collaboration within the tech industry.')}}</p>
            <p>{{$t('Join us on our journey as we attend industry-leading conferences, such as the SGA Conference, and collaborate with fellow professionals. Discover how Konnect Kit stays connected to the technology ecosystem while continuously driving innovation and growth in our solutions.')}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- EVENTS PAGE INTRODUCTION END -->
  <!--  EVENTS SECTION START  -->
  <section id="events" class="bg-feature section-padding"
    style="background-image: url('/static/img/banner/banner-bg.jpg')">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-sm-12 m-auto">
          <div class="heading text-white text-center">
            <h4 class="section-title text-white">{{$t('Our Involvement in Events')}}</h4>
            <p>{{$t('Konnect Kit is actively involved in a range of events, including those we organize, sponsor, and attend. Our participation in these events showcases our commitment to staying connected with the industry and supporting innovation in technology.')}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="service-box p-5 rounded mb-4">
            <div class="service-img-icon">
              <img :src="require('@/assets/img/community/organized-events.jpg')" alt="{{$t('Organized Events')}}" class="img-fluid">
            </div>
            <h4 class="mb-4">{{$t('Organized Events')}}</h4>
            <p class="text-left">{{$t('We are currently not organizing any events, but stay tuned for future updates on our upcoming initiatives and projects.')}}</p>
            <AppSubscribe class="text-left"></AppSubscribe>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="service-box p-5 rounded mb-4">
            <div class="service-img-icon">
              <img :src="require('@/assets/img/community/sponsored-events.jpg')" alt="{{$t('Sponsored Events')}}" class="img-fluid">
            </div>
            <h4 class="my-4">{{$t('Sponsored Events')}}</h4>
            <p style="text-align: left;">{{$t('Konnect Kit is proud to sponsor events like DTech, an annual technology gathering for students, companies, and tech enthusiasts, and UTAD SUMMIT, a free, in-person event dedicated to the student community, organized by five Student Associations at UTAD.')}}</p>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="service-box p-5 rounded mb-4">
            <div class="event-header">
              <div class="service-img-icon">
                <img :src="require('@/assets/img/community/attended-events.jpg')" alt="{{$t('Attended Events')}}" class="img-fluid">
              </div>
              <div>
                <h4 class="my-4">{{$t('Attended Events')}}</h4>
              </div>
            </div>
            <div style="text-align: left;">
              <p>{{$t('We are always eager to learn and connect with others in the industry. Here are some of the events we have attended:')}}</p>
              <ul>
                <li>
                  <strong>SGA Conference</strong>
                  <span class="events-tag">{{$t('Guests')}}</span>
                  <p>{{$t('We look forward to networking and gaining valuable insights from fellow professionals.')}}</p>
                </li>
                <!-- Add more events here -->
                <!--  <li>
          <strong>Other Conference</strong>
          <span class="events-tag">Exhibitor</span>
          <p>Description of the event and your participation.</p>
        </li>
        <li>
          <strong>Another Conference</strong>
          <span class="events-tag">Speaker</span>
          <p>Description of the event and your talk.</p>
        </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>
</section>
  <!--  EVENTS SECTION END  -->
  <section class="section-padding">
  <div class="container">
    <div class="row align-items-left">
      <div class="col-md-12">
        <h3 class="mb-3">{{$t('Join Our Team and Shape the Future of Technology')}}</h3>
        <p class="mb-4">{{$t('Looking for an exciting career opportunity? Join our dynamic team at Konnect Kit and be part of pioneering personalized tech solutions. Immerse yourself in our vibrant company culture, values, and the countless benefits of working with us. Explore our current job openings and internship programs to find the perfect fit for your skills and aspirations. At Konnect Kit, we foster a collaborative and inclusive work environment that empowers personal growth and professional development.')}}</p>
        <router-link class="mt-3 d-inline-block a-hover" to="/about/careers"><i class="icofont icofont-link"></i>
          {{$t('Discover your future with us')}} <i class="fa fa-angle-right"></i></router-link>
      </div>
    </div>
  </div>
</section>
</template>
<script>
import AppSubscribe from '@/app/components/Subscribe.vue';
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
export default {
  name: 'CommunityEvents',
  components: {
    Breadcrumb,
    SmallBannerBlock,
    AppSubscribe
},
metaInfo() {
  return {
    title: "Join Our Events - Konnect Kit",
    meta: [
      { name: 'description', content: 'Discover a variety of events organized by Konnect Kit, ranging from webinars and workshops to conferences and networking sessions. Connect with industry professionals, learn from experts, and expand your knowledge.' },
      { property: 'og:title', content: "Join Our Events - Konnect Kit" },
      { property: 'og:description', content: 'Discover a variety of events organized by Konnect Kit, ranging from webinars and workshops to conferences and networking sessions. Connect with industry professionals, learn from experts, and expand your knowledge.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/community/events' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/community/events' }
    ]
  }
},

data() {
return {};
},
computed: {

},
setup() {
return {};
},
created() {
console.log("Page created");
},

};
</script>