<template>
  <div class="careers">
     <small-banner-block
     :title="$t('Join Our Dynamic Team')"
     :subtitle="$t('At Konnect Kit, we are always looking for talented and passionate individuals to join our team. Be a part of a group that thrives on innovation, empowering businesses, and enhancing user experiences. Explore our exciting career opportunities and help us shape the future of technology solutions.')"/>
     <breadcrumb :items="[
    { label: $t('Home'), route: 'Home' },
    { label: $t('About'), route: 'About' },
    { label: $t('Careers') },
]"/>

<section class="section-padding bg-main">
 
   

  <div class="container">
    <h2 style="padding-bottom: 90px;">{{$t('Browse our available positions and join our mission to empower businesses through innovative technology solutions:')}}</h2>

    <!-- <div class="row box mb-4">
      <div class="col-md-9">
        <h2 class="mb-4">{{$t('Full Stack Developer')}}</h2>
        <p>{{$t('We are looking for a talented Full Stack Developer to join our team. The ideal candidate will have experience in PHP, Laravel, JavaScript, Vue.js, HTML, CSS, SASS, SQL, MySQL, and PostgreSQL. We value a positive attitude and energetic personality, and we welcome genuine individuals who are willing to work hard and grow with the team.')}}</p>
      </div>
      <div class="col-md-3 d-flex flex-column justify-content-center">
        <a href="https://easyapply.app/job/easyapply.3051" class="btn btn-hero btn-circled" target="_blank"><i class="icofont icofont-link"></i> {{$t('Read more and apply')}}</a>
      </div>
    </div>-->
   <div class="row">
    <div class="col-10 offset-1">
      <p class="text-center mb-5 job-alert">{{$t('We are currently not hiring for any positions, but subscribe to stay updated with our latest news and developments.')}}</p>
            <AppSubscribe class="text-left"></AppSubscribe>
    </div>
   </div>
  </div>
</section>
</div>
</template>
<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
import AppSubscribe from '@/app/components/Subscribe.vue';
export default {
  name: 'AboutCareers',
  components: {
    SmallBannerBlock,
    Breadcrumb,
    AppSubscribe
  },
  metaInfo() {
  return {
    title: "Careers - Join Our Team at Konnect Kit",
    meta: [
      { name: 'description', content: 'Join Konnect Kit’s dynamic team that thrives on innovation. Explore exciting career opportunities and be a part of our mission to empower businesses and shape the future of technology solutions.' },
      { property: 'og:title', content: "Careers - Join Our Team at Konnect Kit" },
      { property: 'og:description', content: 'Join Konnect Kit’s dynamic team that thrives on innovation. Explore exciting career opportunities and be a part of our mission to empower businesses and shape the future of technology solutions.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/about/careers' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/about/careers' }
    ]
  }
},

  data() {
    return {};
  },
  computed: {
},
setup() {
return {};
},
created() {
console.log("Page created");
},

};
</script>