<template>
<small-banner-block title="Spotlight on Client Success"
    subtitle="Introducing GovWise, a remarkable example of our collaborative achievements. Delve into their story to understand how our strategic technological solutions have accelerated their growth." />

  <breadcrumb :items="[
    { label: 'Home', route: 'Home' },
    { label: 'Community', route: 'Community' },
    { label: 'Customers', route: 'Customers'},
    { label: 'Govwise',},
  ]" />

<!-- GovWise START -->
<section id="engagement-solutions" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div class="section-heading">
            <h3>Our Technological Contributions for GovWise</h3>
            <p class="lead">Empowering Success through Advanced Tech Solutions</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block col-sm-12" style="display: flex !important;align-items: center;">
        <div class="intro-img">
          <img :src="require(`@/assets/img/community/customers/govwise/gw.png`)" alt="Govwise" class="img-fluid">
        </div>
      </div>
        <div class="col-lg-7 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
              <div class="intro-box">
                <span>01.</span>
                <h4>Core Services</h4>
                <p>[Detail the core services used by GovWise and how they benefitted the client.]</p>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
              <div class="intro-box ">
                <span>02.</span>
                <h4>Data Analytics Services</h4>
                <p>[If applicable, detail how our data analytics services were utilized and the outcomes achieved.]</p>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
              <div class="intro-box">
                <span>03.</span>
                <h4>Software Development</h4>
                <p>[Describe the software development services we provided, such as creating their platform, and the impact on
                  the client's business.]</p>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
              <div class="intro-box">
                <span>04.</span>
                <h4>Automation and Cybersecurity Services</h4>
                <p>[If automation or cybersecurity services were used, explain how they improved efficiency for GovWise. Discuss
                  any data services provided and their role in the client's operations.]</p>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
              <div class="intro-box">
                <span>05.</span>
                <h4>Cloud and Hosting Services</h4>
                <p>[If cloud and hosting services were employed, mention this and the benefits realized.]</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- GovWise END -->
  <!-- ABOUT GOVWISE START -->
<section class="section-padding banner-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <div>
          <h3 class="pb-4">About GovWise</h3>
          <p>GovWise is a leading data science company, boasting a team of professionals with over 30 years of combined experience in the GovTech sector. Their mission is to generate value savings, profitability, and a high return on investment for public organizations and businesses that interact with the state. Their innovative AI tools simplify the hiring process, save time and resources, increase efficiency, and offer insider information.</p>

          <p>They are deeply committed to the principles of integrity and transparency in the provision of information. This commitment is reflected in their rigorous approach to data analysis and in the trust placed in them by their clients.</p>

          <p>Innovation is at the heart of GovWise's operations. They are dedicated to the continuous improvement of their technology to meet the evolving needs of the public sector. Their innovative solutions have transformed the way their clients work, making public processes more efficient and effective.</p>

          <p>Collaboration is another key aspect of GovWise's philosophy. They believe in building relationships and collaborating with institutions and companies to improve public processes. This collaborative approach has allowed them to make a significant positive impact on the public sector.</p>

          <p>As a result of their commitment to integrity, innovation, and collaboration, GovWise has become a trusted partner for public organizations and businesses alike, helping them navigate the complexities of the GovTech sector with ease and confidence.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ABOUT GOVWISE END -->
<section class="section-padding bg-main">
  <div class="container">
    <h2 class="pb-4">Ready to Experience the GovWise Advantage?</h2>
    <div class="row mb-4">
      <div class="col-md-12">
        <p class="pb-4">GovWise offers an impressive array of data science solutions designed for public organizations and businesses interacting with the state. With their innovative AI tools, they are revolutionizing the GovTech sector, making processes more efficient, transparent, and effective. Powered by a team with over 30 years of combined experience, GovWise is committed to providing solutions that save time, resources, and maximize value. Discover how GovWise can transform your operations and bring about meaningful change.</p>
        <a href="https://govwise.ai/" class="d-inline-block a-hover" target="_blank"><i class="icofont icofont-link"></i> Visit GovWise's Website</a>
      </div>
    </div>
  </div>
</section>


</template>
<script>
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
export default {
  name: 'CommunityCustomersGovwise',
  components: {
    Breadcrumb,
    SmallBannerBlock

  },
  data() {
    return {};
  },
  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },

};
</script>
