<template>
  <small-banner-block :title="$t('Our Valued Customers')"
    :subtitle="$t('We are proud to serve a diverse range of clients from various industries. Explore our customer success stories and learn how our innovative solutions have helped them grow and thrive.')" />

  <breadcrumb :items="[
    { label: $t('Home'), route: 'Home' },
    { label: $t('Community'), route: 'Community' },
    { label: $t('Customers') },
  ]" />

  <!-- CUSTOMERS INTRODUCTION SECTION START -->
  <section id="customers-intro" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div class="intro-text">
            <p>{{ $t('At Konnect Kit, we take pride in the relationships we\'ve built with our diverse range of customers. From innovative startups to established businesses, we\'ve partnered with organizations across various industries, providing tailored solutions that empower them to thrive in the digital age.') }}</p>
            <p>{{ $t('Our team of skilled professionals works closely with each client, ensuring that our digital solutions align with their unique goals and visions. Through our comprehensive approach, we combine cutting-edge technology with industry best practices to deliver results that drive growth and enhance user experience.') }}</p>
            <p>{{ $t('Explore our customer stories to find out more about how Konnect Kit has helped organizations unlock their potential, streamline operations, and foster innovation. Let\'s work together to turn your ideas into reality and unlock new opportunities for your business.') }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- CUSTOMERS INTRODUCTION SECTION END -->

  <!-- CUSTOMERS SECTION START -->
  <section id="customers" class="section-padding background-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 m-auto">
          <div class="section-heading">
            <h4 class="section-title">{{ $t('Our Customers') }}</h4>
            <div class="line"></div>
            <p>{{ $t('Discover how our solutions have helped our valued customers in various industries to unlock their potential, streamline operations, and foster innovation.') }}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-6 col-md-4 mt-4">
          <div class="blog-block ">
        
              <img :src="require('@/assets/img/community/customers/broodhuys.png')" alt="{{ $t('Bakkerij Broodhuys') }}" class="img-fluid">

            
            <div class="blog-text">
              <h4>{{ $t('Bakkerij \'t Broodhuys') }}</h4>
              <p class="fixed-height">{{ $t('Bakkerij \'t Broodhuys, a respected bakery in Netherlands, has used our services to modernize their business operations and enhance the customer experience.') }}</p>
           <!--   <router-link to="/community/customers/bakkerij-broodhuys" class="btn btn-black btn-circled ">
                <i class="icofont icofont-link"></i>
                Explore
              </router-link> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-4 mt-4">
          <div class="blog-block ">
          
              <img :src="require('@/assets/img/community/customers/fractal-mind.png')" alt="{{ $t('Fractal Mind') }}" class="img-fluid">

        
            <div class="blog-text">
              <h4>{{ $t('Fractal Mind') }}</h4>
              <p class="fixed-height">{{ $t('Fractal Mind, with gamified solutions, promotes engagement, learning, and behavioral change. Our collaboration supports this mission.') }}</p>
            <!--  <router-link to="/community/customers/fractal-mind" class="btn btn-black btn-circled ">
                <i class="icofont icofont-link"></i>
                Explore
              </router-link> -->
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-sm-6 col-md-4 mt-4">
          <div class="blog-block ">
            
              <img :src="require('@/assets/img/community/customers/govwise.png')" alt="{{ $t('Govwise') }}" class="img-fluid">

        
            <div class="blog-text">
              <h4>{{ $t('Govwise') }}</h4>
              <p class="fixed-height">{{ $t('Govwise has effectively utilized our solutions to enhance their operations and drive innovation within their organization.') }}</p>
           <!--  <router-link to="/community/customers/govwise" class="btn btn-black btn-circled">
                <i class="icofont icofont-link"></i>
                Explore
              </router-link> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-4 mt-4">
          <div class="blog-block ">
            
              <img :src="require('@/assets/img/community/customers/drac.png')" alt="{{ $t('Drac') }}" class="img-fluid">

           
            <div class="blog-text">
              <h4>{{ $t('Drac') }}</h4>
              <p class="fixed-height">{{ $t('Drac, a prominent player in their industry, has successfully utilized our services to optimize their business processes and elevate customer engagement.') }}</p>
           <!--   <router-link to="/community/customers/drac" class="btn btn-black btn-circled ">
                <i class="icofont icofont-link"></i>
                Explore
              </router-link> -->
            </div>
          </div>
        </div>

        <!-- <div class="col-lg-4 col-sm-6 col-md-4 mt-4">
          <div class="blog-block ">
            <router-link to="/community/customers/sentinel-systems">
              <img :src="require('@/assets/img/community/customers/sentinel-systems.png')" alt="{{ $t('Sentinel Systems') }}" class="img-fluid">

            </router-link>
            <div class="blog-text">
              <h4>{{ $t('Sentinel Systems') }}</h4>
              <p class="fixed-height">{{ $t('Learn how Sentinel Systems has leveraged our services to enhance their business processes and achieve their strategic goals.') }}</p>
              <router-link to="/community/customers/sentinel-systems" class="btn btn-black btn-circled">
                <i class="icofont icofont-link"></i>
                Explore
              </router-link>
            </div>
          </div>
        </div> -->

        <div class="col-lg-4 col-sm-6 col-md-4 mt-4">
          <div class="blog-block ">
         
              <img :src="require('@/assets/img/community/customers/webwise.png')" alt="{{ $t('Webwise') }}" class="img-fluid">

          
            <div class="blog-text">
              <h4>{{ $t('Webwise') }}</h4>
              <p class="fixed-height">{{ $t('Webwise has leveraged our solutions to optimize their operations, fostering efficiency and enabling significant growth in their business.') }}</p>
          <!--    <router-link to="/community/customers/webwise" class="btn btn-black btn-circled ">
                <i class="icofont icofont-link"></i>
                Explore
              </router-link> -->
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-sm-6 col-md-4 mt-4">
          <div class="blog-block ">
            
              <img :src="require('@/assets/img/community/customers/link101.png')" alt="{{ $t('Link101') }}" class="img-fluid">

         
            <div class="blog-text">
              <h4>{{ $t('Link101') }}</h4>
              <p class="fixed-height">{{ $t('Link101, a dynamic and pioneering company in their industry, has successfully harnessed our services to amplify their digital presence and cultivate substantial business growth.') }}</p>
           <!--   <router-link to="/community/customers/link101" class="btn btn-black btn-circled ">
                <i class="icofont icofont-link"></i>
                Explore
              </router-link> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-4 mt-4">
          <div class="blog-block ">
           
              <img :src="require('@/assets/img/community/customers/walstra.png')" alt="{{ $t('Walstra') }}" class="img-fluid">

         
            <div class="blog-text">
              <h4>{{ $t('Walstra Tuin en Onderhoud') }}</h4>
              <p class="fixed-height">{{ $t('Walstra Tuin en Onderhoud, a prominent landscaping and maintenance company, achieved expanded reach and enhanced customer engagement through our strategic marketing services.') }}</p>
         <!--     <router-link to="/community/customers/walstra-tuin-en-onderhoud" class="btn btn-black btn-circled ">
                <i class="icofont icofont-link"></i>
                Explore
              </router-link> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- CUSTOMERS SECTION END -->
</template>
<script>
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
export default {
  name: 'CommunityCustomers',
  components: {
    Breadcrumb,
    SmallBannerBlock
  },
  metaInfo() {
  return {
    title: "Our Valued Customers - Konnect Kit",
    meta: [
      { name: 'description', content: 'Explore our customer success stories and learn how Konnect Kit has helped organizations from various industries grow and thrive. Our tailored solutions empower businesses to succeed in the digital age.' },
      { property: 'og:title', content: "Our Valued Customers - Konnect Kit" },
      { property: 'og:description', content: 'Explore our customer success stories and learn how Konnect Kit has helped organizations from various industries grow and thrive. Our tailored solutions empower businesses to succeed in the digital age.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/community/customers' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/community/customers' }
    ]
  }
},

  data() {
    return {};
  },
  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },
};
</script>
