<template>
    <div class="about-contacts">
        <small-banner-block :title="$t('Connect with Konnect Kit')"
            :subtitle="$t('Connect with our team of experts for assistance, inquiries, or to discover how our innovative solutions can help drive your business forward and enhance your digital presence.')" />
        <breadcrumb :items="[
            { label: $t('Home'), route: 'Home' },
            { label: $t('About'), route: 'About' },
            { label: $t('Contacts') },
        ]" />
         <!--  Contact START  -->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-12">
                    <div class="mb-5">
                        <h2 class="mb-2">{{$t("Let's Collaborate")}}</h2>
                        <p>{{$t('Whether you have a project idea, require consultation, or just want to explore your options, feel free to reach out. Let\'s work together to achieve your business objectives and drive success.')}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-sm-12">
                        <!-- form message -->
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success contact__msg" v-if="isSubmitted" role="alert">
                                    {{$t('Thank you for reaching out to us! We appreciate your message and will get back to you as soon as possible.')}}
                                </div>
                            </div>

                         <!--   <div class="col-12">
                                <div class="alert alert-error contact__msg" v-if="isSubmitted" role="alert">
                                    Please make sure to fill out all required fields in the form. Your message is important to us, and we want to ensure that we provide the best assistance possible. Thank you for your understanding. 
                                </div>
                            </div> -->
                        </div>
                        <!-- end message -->
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input name="name" :disabled="isLoading" v-model="contactForm.name" type="text" class="form-control" :placeholder="$t('Name')" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input name="email" :disabled="isLoading" v-model="contactForm.email" type="email" class="form-control" :placeholder="$t('Email')" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="select-wrapper">
                                    <select name="subject" :disabled="isLoading" v-model="contactForm.subject" class="form-control" required>
                                        <option value="" disabled selected>{{$t('Select a topic')}}</option>
                                        <option value="Custom Development Solutions">{{$t('Development Solutions')}}</option>
                                        <option value="Responsive Web Design Services">{{$t('Responsive Web Design Services')}}</option>
                                        <option value="Mobile App Development">{{$t('Mobile App Development')}}</option>
                                        <option value="E-commerce Solutions">{{$t('E-commerce Solutions')}}</option>
                                        <option value="EasyApply Platform Inquiries">{{$t('EasyApply Platform Inquiries')}}</option>
                                        <option value="BEWITT Event Management Solutions">{{$t('BEWITT Event Management Solutions')}}</option>
                                        <option value="KeyCode.Media Services">{{$t('KeyCode.Media Services')}}</option>
                                        <option value="Digital Transformation Consultation">{{$t('Digital Transformation Consultation')}}</option>
                                        <option value="General Inquiries">{{$t('Investment')}}</option>
                                        <option value="Partnerships and Collaborations">{{$t('Partnerships and Collaborations')}}</option>
                                        <option value="General Inquiries">{{$t('General Inquiries')}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 form-group">
                                <textarea name="message" :disabled="isLoading"  v-model="contactForm.message" class="form-control" rows="6" :placeholder="$t('Message')"
                                    required></textarea>
                            </div>
                            <div class="col-12 mt-4">
                                <button @click="SendContactForm" :disabled="isLoading" class=" btn btn-hero btn-circled">
                                  <span> {{$t('Send Message')}} </span>
                                  <span v-if="isLoading" class="icon"><span class="fa fa-spin fa-spinner"></span></span>
                                </button>
                            </div>
                        </div>

                </div>

                <div class="col-lg-5 pl-4 mt-4 mt-lg-0">
                    <div class="pb-4">
                        <h2>{{$t('Contact Information')}}</h2>
                    </div>


                    <h4>{{$t('Office Address')}}</h4>
                    <p class="mb-3">Papa Pavla 7, 21000 Novi Sad, Serbia</p>
                    <hr>
                    <h4>{{$t('Info')}}</h4>
                    <p class="mail"><span>{{$t('Email us at:')}}</span> <a href="mailto:info@konnectkit.nl">info@konnectkit.nl</a>
                    </p>
                    <hr>
                    <h4>{{$t('Sales')}}</h4>
                    <p class="mail"><span>{{$t('Email us at:')}}</span> <a
                            href="mailto:sales@konnectkit.nl">sales@konnectkit.nl</a></p>
                    <hr>
                    <h4>{{$t('Customer Support')}}</h4>
                    <p class="mail"><span>{{$t('Email us at:')}}</span> <a
                            href="mailto:support@konnectkit.nl">support@konnectkit.nl</a></p>
                    <hr>
                    <h4>{{$t('Jobs')}}</h4>
                    <p class="mail"><span>{{$t('Email us at:')}}</span> <a href="mailto:jobs@konnectkit.nl">jobs@konnectkit.nl</a>
                    </p>
                    <hr>
                    <h4>{{$t('Privacy Policy')}}</h4>
                    <a href="https://privacy.mykit.ws/policy/konnectkit.nl" class="d-inline-block a-hover"
                        target="_blank">
                        <i class="icofont icofont-link"></i> {{$t('Privacy policy')}}</a>
                </div>
            </div>
        </div>
    </section>
    <!--  CONTACT END  -->






</div>
</template>
<script>
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import axios from "axios";
export default {
    name: 'AboutContacts',
    components: {
        Breadcrumb,
        SmallBannerBlock
    },
    data() {
        return {
          isLoading: false,
          isSubmitted: false,
          contactForm: {
            name: '',
            email: '',
            subject: '',
            message: '',
          }
        };
    },
    computed: {

    },
    setup() {
        return {};
    },
    created() {
        console.log("Page created");
    },
  methods: {
    SendContactForm() {
      if(!this.isLoading) {
        this.isLoading = true;
        axios.post('https://form.mykit.ws/api/contact/form', this.contactForm, {
          headers: {
            'x-app-kit-token': 'YjUxZjgwODI2MDdkMzJiOGQxMWQ0ZDZmOTc5MmUzMmEyNzBjZGEwYTVmZTBjYTk0MTk2ZTk=',
            'content-type': 'application/json',
          }
        }).finally(() => {
          this.isSubmitted = true;
          this.isLoading = false;
          this.contactForm = {
                name: '',
                email: '',
                subject: '',
                message: '',
          };
        })
      }
    }
  }

};
</script>
        