<template>
  <div class="our-team">
    <small-banner-block :title="$t('Meet Our Talented Team')" :subtitle="$t('At Konnect Kit, our dedicated team of professionals is the driving force behind our innovative solutions. Passionate about empowering businesses and enhancing user experiences, they work tirelessly to create lasting connections and deliver tailored services for our clients.')" />

    <breadcrumb :items="[
      { label: $t('Home'), route: 'Home' },
      { label: $t('About'), route: 'About' },
      { label: $t('Our Team') },
    ]" />


      <!--  SECTION TEAM  -->
      <section class="section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="mb-5">
              <p>{{$t('At Konnect Kit, we believe that our team\'s diverse expertise and backgrounds are essential to fostering a culture of creativity and innovation. Each team member brings a unique perspective to the table, enabling us to develop and deliver cutting-edge solutions that cater to a wide range of business and individual needs. We are proud of our collaborative work environment, which encourages open communication, knowledge sharing, and mutual support, ensuring that we consistently exceed our clients\' expectations.')}}</p>
              <p>{{$t('Their passion for technology and commitment to staying current with industry trends enable us to offer state-of-the-art products and services that keep our clients ahead in the digital landscape. They are dedicated to providing personalized solutions that address the specific goals and objectives of each client, empowering them to grow and thrive in an increasingly competitive marketplace.')}}</p>
              <p>{{$t('At Konnect Kit, we recognize that our team is our greatest asset, and we are committed to supporting their ongoing growth and development. Through ongoing training, mentorship, and opportunities for advancement, we ensure that our team remains at the forefront of the industry, ready to tackle new challenges and continue driving success for our clients.')}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
              <router-link to="/about/our-team/joao-morais">
                <img src="/static/img/team/joao-morais.jpg" alt="{{$t('Joao Morais')}}" class="img-fluid rounded w-100">
         </router-link>
         <router-link to="/about/our-team/joao-morais" class="absolute-bottom">{{$t('Read more')}}</router-link>


            <ul class="list-unstyled list-inline team-social mt-4">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/joaomoraistech/" target="_blank"><i
                    class="fab fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/joaomoraistech/" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://www.facebook.com/jpmm1994" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
            </ul>
            <h4 class="mt-3">{{$t('João Morais')}}</h4>
            <p>{{$t('Business Owner')}}</p>

          </div>
          <div class="col-lg-3 col-md-6">

            <router-link to="/about/our-team/shirley-martina">
              <img src="/static/img/team/shirley-martina.jpg" alt="{{$t('Shirley Martina')}}" class="img-fluid rounded w-100">
         </router-link>
         <router-link to="/about/our-team/shirley-martina" class="absolute-bottom">{{$t('Read more')}}</router-link>

            <ul class="list-unstyled list-inline team-social mt-4">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/shirleymartina/" target="_blank"><i
                    class="fab fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/shirley_martina_/" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://www.facebook.com/shirley.martina" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
            </ul>
            <h4 class="mt-3">{{$t('Shirley Martina')}}</h4>
            <p>{{$t('Marketing Manager')}}</p>
          </div>
          <div class="col-lg-3 col-md-6">
            <router-link to="/about/our-team/ferenc-sic">
              <img src="/static/img/team/ferenc-sic.jpg" alt="{{$t('Ferenc Sic')}}" class="img-fluid rounded w-100">
              
            </router-link>
            <router-link to="/about/our-team/ferenc-sic" class="absolute-bottom">{{$t('Read more')}}</router-link>
            
            <ul class="list-unstyled list-inline team-social mt-4">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/ferenc-si%C4%8D-b53204205/"
                  target="_blank"><i class="fab fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/fer_dawson/?hl=en" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://www.facebook.com/ferenc.sich/" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
            </ul>
            <h4 class="mt-3">{{$t('Ferenc Sic')}}</h4>
            <p>{{$t('Frontend Developer')}}</p>

          </div>
          <div class="col-lg-3 col-md-6">
            <router-link to="/about/our-team/daan-balm">
              <img src="/static/img/team/daan-balm.jpg" alt="{{$t('Daan Balm')}}" class="img-fluid rounded w-100">
         </router-link>
         <router-link to="/about/our-team/daan-balm" class="absolute-bottom">{{$t('Read more')}}</router-link>
            <ul class="list-unstyled list-inline team-social mt-4">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/daanbalm/" target="_blank"><i
                    class="fab fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/error_type_string_undefined/"
                  target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <h4 class="mt-3">{{$t('Daan Balm')}}</h4>
            <p>{{$t('Frontend Developer')}}</p>

          </div>

          <div class="col-lg-3 col-md-6">
            <router-link to="/about/our-team/dimitrije-djordjevic">
              <img src="/static/img/team/dimitrije-djordjevic.jpg" alt="{{$t('Dimitrije Djordjevic')}}" class="img-fluid rounded w-100">
         </router-link>
         <router-link to="/about/our-team/dimitrije-djordjevic" class="absolute-bottom">{{$t('Read more')}}</router-link>
            <ul class="list-unstyled list-inline team-social mt-4">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/dimitrije-djordjevic-2016529a/"
                  target="_blank"><i class="fab fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/dimitrije.djordjevic/" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://www.facebook.com/dimitrije.djordjevic.3" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
            </ul>
            <h4 class="mt-3">{{$t('Dimitrije Djordjevic')}}</h4>
            <p>{{$t('Creative Chief')}}</p>

          </div>

          <div class="col-lg-3 col-md-6">
            <router-link to="/about/our-team/johnny-cartucho">
              <img src="/static/img/team/johnny-cartucho.jpg" alt="{{$t('Johnny Cartucho')}}" class="img-fluid rounded w-100">
         </router-link>
         <router-link to="/about/our-team/johnny-cartucho" class="absolute-bottom">{{$t('Read more')}}</router-link>
            <ul class="list-unstyled list-inline team-social mt-4">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/johnnycartucho/" target="_blank"><i
                    class="fab fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/johnnycartucho/" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://www.facebook.com/johnnycartucho" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
            </ul>
            <h4 class="mt-3">{{$t('Johnny Cartucho')}}</h4>
            <p>{{$t('Advisor')}}</p>

          </div>
          <div class="col-lg-3 col-md-6">
            <img src="/static/img/team/male-placeholder.jpg" alt="{{$t('Miguel Ramos')}}" class="img-fluid rounded w-100">

            <ul class="list-unstyled list-inline team-social mt-4">
              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-facebook-f"></i></a> --></li>
              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-twitter"></i></a> --></li>
              <li class="list-inline-item"><!--<a href="#"><i class="fab fa-pinterest"></i></a> --></li>
              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-linkedin"></i></a> --></li>
              <li class="list-inline-item"><!--<a href="#"><i class="fab fa-google-plus"></i></a>--></li>
            </ul>
            <h4 class="mt-3" style="padding-top: 3px;">{{$t('Miguel Ramos')}}</h4>
            <p>{{$t('Advisor')}}</p>
          </div>
          <div class="col-lg-3 col-md-6">
            <img src="/static/img/team/male-placeholder1.jpg" alt="{{$t('Levi Winter')}}" class="img-fluid rounded w-100">

            <ul class="list-unstyled list-inline team-social mt-4">

              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-facebook-f"></i></a> --></li>
              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-twitter"></i></a> --></li>
              <li class="list-inline-item"><!--<a href="#"><i class="fab fa-pinterest"></i></a> --></li>
              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-linkedin"></i></a> --></li>
              <li class="list-inline-item"><!--<a href="#"><i class="fab fa-google-plus"></i></a>--></li>

            </ul>
            <h4 class="mt-3" style="padding-top: 3px;">{{$t('Levi Winter')}}</h4>
            <p>{{$t('Operations')}}</p>

          </div>

          <div class="col-lg-3 col-md-6">
            <img src="/static/img/team/female-placeholder.jpg" alt="{{$t('Lea Blasko')}}" class="img-fluid rounded w-100">

            <ul class="list-unstyled list-inline team-social mt-4">
              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-facebook-f"></i></a> --></li>
              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-twitter"></i></a> --></li>
              <li class="list-inline-item"><!--<a href="#"><i class="fab fa-pinterest"></i></a> --></li>
              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-linkedin"></i></a> --></li>
              <li class="list-inline-item"><!--<a href="#"><i class="fab fa-google-plus"></i></a>--></li>
            </ul>
            <h4 class="mt-3" style="padding-top: 3px;">{{$t('Lea Blaskó')}}</h4>
            <p>{{$t('Sales Representative')}}</p>
          </div>
        </div>
      </div>
    </section>
    <!--  SECTION TEAM END  -->
  </div>
</template>
<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
export default {
  name: 'AboutOurTeam',
  components: {
    SmallBannerBlock,
    Breadcrumb
  },
  data() {
    return {};
  },
  metaInfo() {
  return {
    title: "Our Team - Konnect Kit",
    meta: [
      { name: 'description', content: 'Meet the dedicated team at Konnect Kit that drives our innovative solutions. With diverse expertise, our professionals are passionate about empowering businesses and delivering cutting-edge, tailored services.' },
      { property: 'og:title', content: "Our Team - Konnect Kit" },
      { property: 'og:description', content: 'Meet the dedicated team at Konnect Kit that drives our innovative solutions. With diverse expertise, our professionals are passionate about empowering businesses and delivering cutting-edge, tailored services.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/about/our-team' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/about/our-team' }
    ]
  }
},

  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },
};
</script>
