<template>
  <small-banner-block
      title="Code Samples"
      subtitle="Jumpstart your development with our curated collection of code samples, covering essential use cases and showcasing how to harness the power of Konnect Kit."/>

  <breadcrumb :items="[
        { label: 'Home', route: 'Home' },
        { label: 'Developers', route: 'Developers' },
        { label: 'Code Samples', },
    ]"/>
</template>
<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";

export default {
  name: 'DevelopersCodeSamples',
  components: {
    Breadcrumb,
    SmallBannerBlock
  },
  data() {
    return {};
  },
  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },

};
</script>
