<template>
  <small-banner-block
      title="Comprehensive Documentation"
      subtitle="Dive into our detailed documentation to learn more about our API, SDKs, libraries, and best practices for integrating with Konnect Kit to unlock endless possibilities."/>

  <breadcrumb :items="[
        { label: 'Home', route: 'Home' },
        { label: 'Developers', route: 'Developers' },
        { label: 'Documentation', },
    ]"/>
</template>
<script>
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
export default {
  name: 'DevelopersDocumentation',
  components: {
    Breadcrumb,
    SmallBannerBlock

  },
  data() {
    return {};
  },
  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },

};
</script>
