<template>
  <small-banner-block
      title="Meet Our Esteemed Partners"
      subtitle="Discover the companies that collaborate with us to deliver exceptional solutions and services, enhancing our capabilities and expanding our reach in various industries."/>

  <breadcrumb :items="[
        { label: 'Home', route: 'Home' },
        { label: 'Community', route: 'Community' },
        { label: 'Partners', },
    ]"/>
</template>
<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
export default {
  name: 'CommunityPartners',
  components: {
    SmallBannerBlock,
    Breadcrumb

  },
  data() {
    return {};
  },
  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },

};
</script>
