
<template>
<small-banner-block
  :title="$t('Engagement Solutions')"
  :subtitle="$t('Empower your business with our innovative and tailored development solutions designed for startups and small businesses. Explore our comprehensive range of services and unlock your business\'s potential in the digital world.')"
/>

<breadcrumb :items="[
  { label: $t('Home'), route: 'Home' },
  { label: $t('Solutions'), route: 'Solutions' },
  { label: $t('Engagement Solutions') },
]" />

<!-- ENGAGEMENT SOLUTIONS AREA START -->
<section id="engagement-solutions" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="section-heading">
          <p class="lead">{{$t('At Konnect Kit, we empower individuals and businesses through innovative, tailor-made technology solutions. Our robust and adaptable platform delivers seamless experiences, unlocking a world of opportunities. Experience the future of technology with us, and embrace delightful possibilities for all.')}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 d-none d-lg-block col-sm-12">
        <div class="intro-img">
          <img :src="require(`@/assets/img/solutions/engagement-solutions/engagement-solutions.jpg`)" alt="{{$t('Engagement Solutions')}}" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-md-6">
            <div class="intro-box">
              <span>01.</span>
              <h4>{{$t('Enhancing Participant Experience')}}</h4>
              <p>{{$t('We provide interactive features that boost engagement levels at events and within communities, fostering a sense of belonging and collaboration. Our solutions help you create dynamic and interactive environments, enhancing the overall experience for participants.')}}</p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6">
            <div class="intro-box">
              <span>02.</span>
              <h4>{{$t('Fostering Networking')}}</h4>
              <p>{{$t('Our innovative solutions encourage networking among event participants and community members. With our tools, you can facilitate collaboration, knowledge-sharing, and the formation of meaningful connections, driving success for your business or community.')}}</p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6">
            <div class="intro-box">
              <span>03.</span>
              <h4>{{$t('Increasing Engagement at Events and Communities')}}</h4>
              <p>{{$t('We provide interactive features that boost engagement levels at events and within communities, fostering a sense of belonging and collaboration. Our solutions help you create dynamic and interactive environments, enhancing the overall experience for participants.')}}</p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6">
            <div class="intro-box">
              <span>04.</span>
              <h4>{{$t('Communities with Interactive Features')}}</h4>
              <p>{{$t('We develop interactive features that empower communities, encourage collaboration, and drive engagement. Our solutions help you create an immersive and connected experience for your community members, enabling them to share ideas, learn from one another, and grow together.')}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="intro-cta">
              <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
                <i class="icofont icofont-link"></i>
                <span class="text-content">&nbsp;{{$t('Still have any question on mind?')}}</span>
                <span class="contact-us">{{$t('Contact us ')}} <i class="fa fa-angle-right"></i></span>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ENGAGEMENT SOLUTIONS AREA END -->
</template>
<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";

export default {
  name: 'EngagementSolutions',
  components: {
    Breadcrumb,
    SmallBannerBlock
  },
  metaInfo() {
  return {
    title: "Engagement Solutions - Konnect Kit",
    meta: [
      { name: 'description', content: 'Discover Konnect Kit’s Engagement Solutions designed to enhance participant experience, foster networking, and empower communities with interactive features.' },
      { property: 'og:title', content: "Engagement Solutions - Konnect Kit" },
      { property: 'og:description', content: 'Discover Konnect Kit’s Engagement Solutions designed to enhance participant experience, foster networking, and empower communities with interactive features.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/solutions/engagement-solutions' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/solutions/engagement-solutions' }
    ]
  }
},

  data() {
    return {};
  },
  computed: {},
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },
};
</script>