<template>
  <small-banner-block
    :title="$t('Data Solutions')"
    :subtitle="$t('Transform your decision-making processes with our advanced data solutions, designed to optimize data storage, analysis, and visualization. Unleash the power of data-driven insights and unlock your organization\'s full potential in the rapidly evolving digital landscape.')"
  />
  <breadcrumb
    :items="[
      { label: $t('Home'), route: 'Home' },
      { label: $t('Solutions'), route: 'Solutions' },
      { label: $t('Data Solutions') }
    ]"
  />

  <!-- DATA SOLUTIONS INTRODUCTION START -->
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div>
            <p>{{$t('At Konnect Kit, we offer comprehensive Data Solutions to help businesses leverage the power of data for informed decision-making and insights. Our data storage, analysis, and visualization solutions provide the foundation for businesses to thrive in a data-driven world.')}}</p>
            <p>{{$t('Discover our innovative services designed to cater to the unique requirements of each client. Our team of data experts will work closely with you to develop solutions that align with your goals and deliver the insights necessary to drive business growth.')}}</p>
            <p>{{$t('Explore our wide array of Data Solutions and learn how Konnect Kit can empower your business to harness the potential of data, uncover hidden opportunities, and stay ahead of the competition.')}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- DATA SOLUTIONS INTRODUCTION END -->

  <!-- DATA STORAGE START -->
  <section class="section-padding background-gray">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-4 pb-sm-20">
          <img :src="require('@/assets/img/solutions/data-solutions/data-storage.jpg')" alt="Data Storage"
            class="img-fluid rounded w-100">
        </div>
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
          <h3 class="mb-3">{{$t('Data Storage')}}</h3>
          <p class="mb-4">{{$t('Our data storage solutions provide a secure and scalable foundation for managing your organization\'s data. We help you implement efficient data storage systems that ensure data integrity, accessibility, and protection. Our solutions support various storage architectures and formats, catering to your specific needs and requirements. Trust Konnect Kit to deliver the reliability and performance your business demands in today\'s data-driven environment.')}}</p>
          <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
            <i class="icofont icofont-link"></i>
            <span class="text-content">&nbsp;{{$t('Contact us for')}}</span>
            <span class="contact-us">{{$t('data storage solutions')}} <i class="fa fa-angle-right"></i></span>
          </router-link>
        </div>
      </div>
    </div>
  </section>
  <!-- DATA STORAGE END -->

  <!-- DATA ANALYSIS START -->
  <section class="section-padding order-reverse">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
          <h3 class="mb-3">{{$t('Data Analysis')}}</h3>
          <p class="mb-4">{{$t('Transform raw data into actionable insights with our data analysis solutions. Our team of data experts utilizes advanced analytical techniques and tools to help you uncover hidden patterns, trends, and correlations in your data. Our data analysis services support decision-making processes, identify areas for improvement, and provide a competitive advantage. Partner with Konnect Kit to unlock the full potential of your data and drive your business forward.')}}</p>
          <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
            <i class="icofont icofont-link"></i>
            <span class="text-content">&nbsp;{{$t('Contact us for')}}</span>
            <span class="contact-us">{{$t('data analysis solutions')}} <i class="fa fa-angle-right"></i></span>
          </router-link>
        </div>
        <div class="col-lg-6 col-md-4 pb-sm-20">
          <img :src="require('@/assets/img/solutions/data-solutions/data-analysis.jpg')" alt="Data Analysis"
            class="img-fluid rounded w-100">
        </div>
      </div>
    </div>
  </section>
  <!-- DATA ANALYSIS END -->

  <!-- DATA VISUALIZATION START -->
  <section class="section-padding background-gray">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-4 pb-sm-20">
          <img :src="require('@/assets/img/solutions/data-solutions/data-visualization.jpg')" alt="Data Visualization"
            class="img-fluid rounded w-100">
        </div>
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
          <h3 class="mb-3">{{$t('Data Visualization')}}</h3>
          <p class="mb-4">{{$t('Communicate complex data effectively with our data visualization solutions. We create interactive and visually appealing representations of your data, enabling you to easily identify trends and patterns. Our data visualization services help you present your data in a clear and concise manner, making it easier for stakeholders to understand and make informed decisions. Let Konnect Kit help you transform your data into visually compelling stories that drive insights and action.')}}</p>

          <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
            <i class="icofont icofont-link"></i>
            <span class="text-content">&nbsp;{{$t('Contact us for')}}</span>
            <span class="contact-us">{{$t('data visualization solutions')}} <i class="fa fa-angle-right"></i></span>
          </router-link>
        </div>
      </div>
    </div>
  </section>
  <!-- DATA VISUALIZATION END -->
</template>

<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";

export default {
  name: 'DataSolutions',
  components: {
    Breadcrumb,
    SmallBannerBlock,
  },
  metaInfo() {
  return {
    title: "Data Solutions - Konnect Kit",
    meta: [
      { name: 'description', content: 'Transform your decision-making processes with Konnect Kit’s advanced data solutions, optimizing data storage, analysis, and visualization for informed insights and business growth.' },
      { property: 'og:title', content: "Data Solutions - Konnect Kit" },
      { property: 'og:description', content: 'Transform your decision-making processes with Konnect Kit’s advanced data solutions, optimizing data storage, analysis, and visualization for informed insights and business growth.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/solutions/data-solutions' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/solutions/data-solutions' }
    ]
  }
},

  created() {
    console.log("Page created");
  },
};
</script>
