<template>
<small-banner-block
  :title="$t('Education and Training')"
  :subtitle="$t('Unlocking Potentials, Shaping Tech Maestros of Tomorrow')"
/>

<breadcrumb :items="[
 { label: $t('Home'), route: 'Home' },
 { label: $t('Services'), route: 'Services' },
 { label: $t('Education and Training') }
]" />

<!-- EDUCATION AND TRAINING INTRODUCTION START -->
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <div>
          <p>
            {{ $t('Guided by Joao Morais\' passion and vast expertise, Konnect Kit\'s mission is to pave the way for the next generation of tech enthusiasts. We believe in fostering a comprehensive understanding of the core and advanced facets of web and software development.') }}
          </p>
          <p>
            {{ $t('At our Education and Training division, learners are introduced to a plethora of technologies. Our curriculum encompasses foundational languages like PHP, HTML, CSS, and JavaScript, scaling to more advanced platforms and frameworks such as Laravel, Python, Django, and Zend Framework. Diving deeper, we touch upon various web services like RESTful and SOAP, frontend libraries like jQuery and Bootstrap, and backend technologies including MySQL and SQLite. From the intricacies of Java and Objective-C to the utilities of Google Maps API and Semantic UI, we\'ve got it all covered. Our approach ensures that every participant emerges as a well-rounded, versatile developer, equipped to take on real-world challenges.') }}
          </p>
          <p>
            {{ $t('Whether a beginner eager to delve into the world of web development, or an intermediate developer keen on honing specific skills, Konnect Kit promises a transformative learning experience. Under Joao\'s visionary leadership and backed by our modern and evolving curriculum, we aim to shape the tech leaders of tomorrow. Let\'s embark on this journey of innovation and excellence together.') }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- EDUCATION AND TRAINING INTRODUCTION END -->
<!-- EDUCATION BY JOAO MORAIS START -->
<section class="section-padding background-gray">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-4 pb-sm-20">
        <img :src="require(`@/assets/img/services/education-and-training/education.jpg`)" alt="{{ $t('Joao Morais Teaching') }}" class="img-fluid rounded w-100">
      </div>
      <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
        <h3 class="mb-3">{{ $t('Exclusive Education by Joao Morais') }}</h3>
        <p class="mb-4">
          {{ $t('Steer your tech aspirations with Joao Morais, a software maestro who began his odyssey in 2015. Having worked on key projects and inaugurating his own tech enterprise, Konnect Kit, Joao’s experience is vast and varied, making him an ideal mentor.') }}
        </p>
        <p class="mb-4">
          {{ $t('A significant hallmark of Joao’s teaching approach lies in its fine balance between theoretical learning and practical application. It\'s one thing to understand the basics such as HTML, PHP, CSS, and another to master advanced platforms like Laravel, Django, and Zend Framework. Aspiring to specialize in databases? Joao’s proficiency extends to MySQL, SQLite, and many more. Interested in frontend libraries or backend technologies? Dive into jQuery, Bootstrap, RESTful, SOAP and beyond. His meticulous guidance ensures you\'re adeptly skilled, versatile, and industry-ready.') }}
        </p>
        <p class="mb-4">
          {{ $t('But the sessions extend beyond mere coding. Joao fosters an environment of innovation, emphasizing the transformation of abstract ideas into tangible, efficient solutions. His extensive knowledge about various technologies, combined with his entrepreneurial spirit, ensures that learners get a 360-degree insight into the tech world, preparing them not just as developers, but as future tech leaders.') }}
        </p>
        <router-link class="mt-3 d-inline-block a-hover" to="/about/our-team/joao-morais">
          <i class="icofont icofont-link"></i>
          {{ $t('Discover more about Joao Morais') }} <i class="fa fa-angle-right"></i>
        </router-link>
        <br>
        <router-link class="mt-3 d-inline-block a-hover" to="/about/contacts">
          <i class="icofont icofont-link"></i>
          {{ $t('Interested in elevating your tech skills? Join Joao’s sessions now!') }} <i class="fa fa-angle-right"></i>
        </router-link>
      </div>
    </div>
  </div>
</section>
<!-- EDUCATION BY JOAO MORAIS END -->

<!-- TRAINING BY JOAO MORAIS START -->
<section class="section-padding order-reverse">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
        <h3 class="mb-3">{{ $t('Tailored Training by Joao Morais') }}</h3>
        <p class="mb-4">
          {{ $t('Embark on a transformative journey with Joao Morais, a tech virtuoso with a rich tapestry of experience. Beyond mere teaching, Joao instills the essence of creation, development, and innovation, ensuring that you not only understand technology but master its application.') }}
        </p>
        <span class="h5 mb-4">{{ $t('Key areas of training include:') }}</span>
        <ul class="about-list2 my-4">
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Web Development (HTML, CSS, JavaScript)') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Backend Frameworks (Laravel, Django, Zend)') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Database Management (MySQL, SQLite)') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Advanced Mobile App Development') }}</li>
        </ul>
        <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
            <i class="icofont icofont-link"></i>
            <span class="text-content">&nbsp;{{ $t('Ready to elevate your skills? ') }}</span>
            <span class="contact-us">{{ $t('Join Joao’s Training Today!') }} <i class="fa fa-angle-right"></i></span>
        </router-link>
      </div>
      <div class="col-lg-6 col-md-4 pb-sm-20">
          <img :src="require(`@/assets/img/services/education-and-training/training.jpg`)" alt="{{ $t('Training by Joao Morais') }}" class="img-fluid rounded w-100">
      </div>
    </div>
  </div>
</section>
<!-- TRAINING BY JOAO MORAIS END -->

</template>


<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
export default {
name: 'EducationAndTraining',
components: {
Breadcrumb,
SmallBannerBlock
},
metaInfo() {
  return {
    title: "Training and Education - Konnect Kit",
    meta: [
      { name: 'description', content: 'Konnect Kit’s Training and Education offers hands-on sessions led by Joao Morais, focusing on modern technologies, frameworks, and practical application in software development.' },
      { property: 'og:title', content: "Training and Education - Konnect Kit" },
      { property: 'og:description', content: 'Konnect Kit’s Training and Education offers hands-on sessions led by Joao Morais, focusing on modern technologies, frameworks, and practical application in software development.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/education-background.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/services/training-and-education' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/services/training-and-education' }
    ]
  }
},

data() {
return {};
},
computed: {

},
setup() {
return {};
},
created() {
console.log("Page created");
},

};
</script>