<template>
  <small-banner-block :title="$t('Announcements')"
    :subtitle="$t('Stay Updated with Konnect Kit’s Latest News & Developments')" />

  <breadcrumb :items="[
    { label: $t('Home'), route: 'Home' },
    { label: $t('Community'), route: 'Community' },
    { label: $t('Announcements') }
  ]" />

  <!-- ANNOUNCEMENTS INTRODUCTION START -->
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div>
            <p>
              {{ $t('In the dynamic world of technology, Konnect Kit is always on the move. Whether we are unveiling a new product, making corporate announcements, or sharing our milestones, this is where you can stay informed. Dive in to get the latest updates on our advancements and achievements.') }}
            </p>
            <p>
              {{ $t('We value transparency and believe in keeping our community informed. Be the first to know about our latest innovations, updates, and events.') }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ANNOUNCEMENTS INTRODUCTION END -->
  <!-- COSMOCRAFTER ANNOUNCEMENT START -->
<section class="section-padding pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
                <h3 class="mb-3">{{ $t('Welcome to CosmoCrafter!') }}</h3>
                <p class="mb-4">
                    {{ $t('CosmoCrafter is a fascinating space exploration game where you can build your own cosmos. Create and customize planets, star systems, and entire galaxies. Explore the vast space, discover new celestial bodies, and craft your unique universe.') }}
                </p>
                <p class="mb-4">
                    {{ $t('As the master of your universe, you decide the fate of your cosmic creations. Create peaceful and prosperous galaxies or instigate stellar conflicts, the choice is entirely yours. CosmoCrafter offers endless possibilities and countless hours of fun.') }}
                </p>
                <p class="mb-4">
                    {{ $t('Unique Features: In CosmoCrafter, you\'ll enjoy features such as real-time universe simulation, in-depth cosmic customization, multiple game modes, and much more. Connect with other CosmoCrafters in our community and share your creations, strategies, and stories.') }}
                </p>
                <a class="mt-3 d-inline-block a-hover" href="https://cosmocrafter.net/" target="_blank"
            rel="noopener noreferrer">
            <i class="icofont icofont-link"></i>
            {{ $t('Explore CosmoCrafter Universe') }} <i class="fa fa-angle-right"></i>
          </a>
            </div>
            <div class="col-lg-6 col-md-4 pb-sm-20">
                <!-- You can include a relevant image here, similar to the one provided in the example -->
                <img :src="require(`@/assets/img/community/annoucements/cosmo-crafter.jpg`)" alt="{{ $t('CosmoCrafter Universe') }}" class="img-fluid rounded w-100">
            </div>
        </div>
          

    </div>
</section>
<!-- COSMOCRAFTER ANNOUNCEMENT END -->


  <!-- EASYAPPLY ANNOUNCEMENT START -->
  <section class="section-padding background-gray">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-4 pb-sm-20">
          <img :src="require(`@/assets/img/community/annoucements/easyapply-community.jpg`)" alt="{{ $t('EasyApply 2.7') }}"
            class="img-fluid rounded w-100">
        </div>
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
          <h3 class="mb-3">{{ $t('Unveiling EasyApply 2.7: Redefined Hiring Experience') }}</h3>
          <p class="mb-4">
            {{ $t('Konnect Kit is thrilled to announce the latest iteration of EasyApply. Packed with enhanced features and functionality, EasyApply 2.7 promises a more streamlined and efficient recruitment journey for both candidates and employers.') }}
          </p>
          <p class="mb-4">
            {{ $t('Experience the pinnacle of recruitment solutions with EasyApply and take a step towards a brighter and more connected future.') }}
          </p>
          <a class="mt-3 d-inline-block a-hover" href="https://easyapply.app/en" target="_blank"
            rel="noopener noreferrer">
            <i class="icofont icofont-link"></i>
            {{ $t('Discover more about EasyApply 2.7') }} <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- EASYAPPLY ANNOUNCEMENT END -->
<!-- NEW OFFICE ANNOUNCEMENT START -->
<section class="section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
                <h3 class="mb-3">{{ $t('New Co-Working Space in Novi Sad') }}</h3>
                <p class="mb-4">
                    {{ $t('We’re excited to announce the opening of our new office at Papa Pavla 7, Novi Sad, Serbia! This isn’t just any office; it’s a vibrant co-working space designed to foster collaboration, creativity, and innovation.') }}
                </p>
                <p class="mb-4">
                    {{ $t('With a blend of modern design and tech-friendly amenities, this space serves as a hub for tech enthusiasts, freelancers, startups, and anyone looking to immerse themselves in a dynamic tech environment.') }}
                </p>
                <p class="mb-4">
                    {{ $t('We invite you to drop by, share your ideas, work on your projects, or just have a coffee with our team. Let’s co-create, collaborate, and turn ideas into reality!') }}
                </p>
                <router-link class="mt-3 d-inline-block a-hover" to="/about/contacts">
                    <i class="icofont icofont-link"></i>
                    {{ $t('Want to visit or reserve a spot? Get in touch with us') }} <i class="fa fa-angle-right"></i>
                </router-link>
            </div>
            <div class="col-lg-6 col-md-4 pb-sm-20">
                <img :src="require(`@/assets/img/community/annoucements/co-working.jpg`)" alt="{{ $t('Co-Working Space at Novi Sad') }}" class="img-fluid rounded w-100">
            </div>
        </div>
    </div>
</section>
<!-- NEW OFFICE ANNOUNCEMENT END -->


</template>
<script>
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
export default {
  name: 'CommunityAnnouncements',
  components: {
    Breadcrumb,
    SmallBannerBlock

  },
  data() {
    return {};
  },
  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },

};
</script>
