<template>
    <div class="our-team">
        <small-banner-block :title="$t('Dimitrije Djordjevic')"
            :subtitle="$t('Dimitrije Djordjevic is the Creative Chief at Konnect Kit. His diverse proficiency in design software and passion for creating compelling visual content are instrumental in our branding and marketing initiatives.')" />

        <breadcrumb :items="[
            { label: $t('Home'), route: 'Home' },
            { label: $t('About'), route: 'About' },
            { label: $t('Our Team'), route: 'AboutOurTeam' },
            { label: $t('Dimitrije Djordjevic') },
        ]" />

        <!--  ABOUT AREA START  -->
        <section id="intro">
            <div class="container">
                <div class="row section-padding">
                    <div class="col-lg-5  d-none d-lg-block col-sm-12">
                        <div class="intro-img">
                            <img src="/static/img/team/dimitrije-djordjevic-single.jpg" alt="intro-img" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 ">
                        <h2 class="mb-4">{{ $t('Dimitrije Djordjevic') }}</h2>
                        <p>{{ $t('Dimitrije Djordjevic, the Creative Chief at Konnect Kit, brings a unique blend of artistic vision and technical proficiency to our team. Well-versed in numerous design programs, he is capable of transforming creative ideas into compelling visual content that enhances our brand\'s communication.') }}</p>
                        <p>{{ $t('Apart from his work, Dimitrije\'s life is deeply rooted in music. An accomplished guitarist, his tunes often reverberate through our office, adding a melodic rhythm to our workdays. Music is not just a hobby for him; it\'s a source of inspiration that often reflects in his creative designs.') }}</p>
                        <p>{{ $t('Dimitrije also has a knack for creating stunning visualizations at parties where DJs perform. His ability to blend sound and visuals in a dynamic environment showcases his versatility and adaptability as a designer.') }}</p>
                        <p>{{ $t('His social nature and love for hanging out with friends add another dimension to his personality. Dimitrije is known for his ability to create an upbeat and enjoyable atmosphere wherever he goes, making him a beloved member of our team.') }}</p>
                        <p>{{ $t('Dimitrije Djordjevic is more than a Creative Chief; he is a vibrant individual whose personal passions reflect in his professional contributions, adding a unique touch to everything he does.') }}</p>
                        <ul class="list-unstyled list-inline team-social mt-4">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/dimitrije-djordjevic-2016529a/"
                  target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/dimitrije.djordjevic/" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/dimitrije.djordjevic.3" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
            </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--  ABOUT AREA END  -->
    </div>
</template>


<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
export default {
    name: 'DimitrijeDjordjevic',
    components: {
        SmallBannerBlock,
        Breadcrumb
    },
    data() {
        return {};
    },
    metaInfo() {
        return {
            title: this.$t("Dimitrije Djordjevic - Our Team - Konnect Kit"),
            meta: [
                { name: 'description', content: this.$t('Discover more about Dimitrije Djordjevic, the Creative Chief at Konnect Kit. His expertise in design software and passion for creating compelling visual content are instrumental in our branding and marketing efforts.') },
                { property: 'og:title', content: this.$t("Dimitrije Djordjevic - Our Team - Konnect Kit") },
                { property: 'og:description', content: this.$t('Discover more about Dimitrije Djordjevic, the Creative Chief at Konnect Kit. His expertise in design software and passion for creating compelling visual content are instrumental in our branding and marketing efforts.') },
                { property: 'og:site_name', content: 'Konnect Kit' },
                { property: 'og:type', content: 'website' },
                { property: 'og:image', content: '/static/img/team/dimitrije-djordjevic-single.jpg' },
                { property: 'og:url', content: 'https://konnectkit.nl/about/our-team/dimitrije-djordjevic' },
                { name: 'robots', content: 'index,follow' }
            ],
            link: [
                { rel: 'canonical', href: 'https://konnectkit.nl/about/our-team/dimitrije-djordjevic' }
            ]
        }
    },

    computed: {

    },
    setup() {
        return {};
    },
    created() {
        console.log("Page created");
    },
};
</script>
