<template>

    <small-banner-block
        title="Kickstart Your Integration"
        subtitle="Begin your journey with Konnect Kit by following our step-by-step guide to setting up, integrating, and leveraging our platform for your development needs."/>

    <breadcrumb :items="[
        { label: 'Home', route: 'Home' },
        { label: 'Developers', route: 'Developers' },
        { label: 'Getting Started', },
    ]"/>

</template>
<script>
import SmallBannerBlock from '@/app/components/Blocks/SmallBannerBlock';
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";

export default {
  name: 'DevelopersGettingStarted',
  components: {
    Breadcrumb,
    SmallBannerBlock
  },
  data() {
    return {};
  },
  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },

};
</script>
