<template>
  <div class="bewitt">
    <small-banner-block
      :title="$t('Discover BEWITT')"
      :subtitle="$t('Step into the world of BEWITT, our event management solution. Transforming events into immersive experiences, BEWITT streamlines planning and execution, ensuring seamless organization and unforgettable moments.')"
    />

    <breadcrumb
      :items="[
        { label: $t('Home'), route: 'Home' },
        { label: $t('About'), route: 'About' },
        { label: $t('Our Brands'), route: 'AboutOurBrands' },
        { label: 'Bewitt' }
      ]"
    />
    <section class="section-padding bg-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="">
              <p>{{ $t('Welcome to BEWITT, our leading-edge event management solution. Designed to revolutionize the way events are planned and executed, BEWITT offers a suite of powerful tools to streamline every aspect of event organization, from scheduling and logistics to audience engagement and feedback collection.') }}</p>
              <p>{{ $t('At Konnect Kit, we take pride in the innovation, quality, and customer satisfaction that BEWITT delivers.This user - friendly and customizable platform is equipped to handle a wide range of applications, offering unique solutions to meet the varying needs of event planners, businesses, and individuals in the dynamic digital world.') }}</p>
              <p>{{ $t('Explore BEWITT\'s diverse capabilities and learn how it can help you navigate the complexities of event management, enabling you to unlock new opportunities, foster growth, and achieve lasting success in all your event endeavors.') }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--  SERVICE PARTNER START  -->
    <section id="service-head" class="bg-feature" style="background-image: url('/static/img/banner/banner-bg.jpg')">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-sm-12 m-auto">
            <div class="heading text-white text-center">
              <h4 class="section-title text-white">{{ $t('Interactive Solutions for Events, Training, and Communities') }}
              </h4>
              <p>{{ $t('BeWitt is a brand that offers a SaaS solution to enhance the experience of events, training, and communities, leveraging cutting - edge technology to create meaningful connections.') }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  SERVICE PARTNER END  -->

    <!--  SERVICE AREA START  -->
    <section id="service" class="padding-bottom-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="service-box p-5 rounded mb-4">
              <div class="service-img-icon">
                <img :src="require('@/assets/img/our-brands/bewitt/login-types.jpg')"
                  alt="{{ $t('Different Login Types') }}" class="img-fluid">
              </div>
              <h4 class="my-4">{{ $t('Different Login Types') }}</h4>
              <p>{{ $t('BeWitt offers various login options, including Facebook, Google, and our proprietary login system, providing easy and secure access for all users.') }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="service-box p-5 rounded mb-4">
              <div class="service-img-icon">
                <img :src="require('@/assets/img/our-brands/bewitt/schedule.jpg')" alt="{{ $t('Updated Agenda') }}"
                  class="img-fluid">
              </div>
              <h4 class="my-4">{{ $t('Updated Agenda') }}</h4>
              <p>{{ $t('With BeWitt, you get a constantly updated schedule with all the presentations, ensuring you never miss important sessions.') }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="service-box p-5 rounded mb-4">
              <div class="service-img-icon">
                <img :src="require('@/assets/img/our-brands/bewitt/quizzes.jpg')" alt="{{ $t('Interactive Quizzes') }}"
                  class="img-fluid">
              </div>
              <h4 class="my-4">{{ $t('Interactive Quizzes') }}</h4>
              <p>{{ $t('Enhance user engagement with interactive quizzes. Each speaker can define a set of questions related to the talk, promoting active learning and participation.') }}</p>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="service-box p-5 rounded ">
              <div class="service-img-icon">
                <img :src="require('@/assets/img/our-brands/bewitt/challenges.jpg')"
                  alt="{{ $t('Challenges & Leaderboard') }}" class="img-fluid">
              </div>
              <h4 class="my-4">{{ $t('Challenges & Leaderboard') }}</h4>
              <p>{{ $t('Encourage participation with fun challenges and a dynamic leaderboard. Users earn points by completing tasks like attending workshops.') }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="service-box p-5 rounded ">
              <div class="service-img-icon">
                <img :src="require('@/assets/img/our-brands/bewitt/easy-contact.jpg')" alt="{{ $t('Easy Contact') }}"
                  class="img-fluid">
              </div>
              <h4 class="my-4">{{ $t('Easy Contact') }}</h4>
              <p>{{ $t('BeWitt makes connecting participants and organizers simple, enhancing communication and the overall event experience.') }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="service-box p-5 rounded ">
              <div class="service-img-icon">
                <img :src="require('@/assets/img/our-brands/bewitt/custom-solutions.jpg')"
                  alt="{{ $t('Custom Solutions') }}" class="img-fluid">
              </div>
              <h4 class="my-4">{{ $t('Custom Solutions') }}</h4>
              <p>{{ $t('Need a tailored solution? BeWitt is fully customizable to meet your specific needs, enhancing the overall event experience and facilitating a more engaging and dynamic gathering.') }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  SERVICE AREA END  -->
    <!--  SERVICE BLOCK2 START  -->
    <section id="service-2" class="section-padding brands-customers">
      <div class="container">
        <div class="heading text-center">
          <h4 class="section-title">{{ $t('Diverse Events Enhanced by BEWITT') }}</h4>
          <p>{{ $t('Here are some of the events that have benefited from BEWITT\'s immersive and interactive experiences.') }}</p>
        </div>
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="service-box-2 p-2">
              <h4>{{ $t('DTech Series') }}</h4>
              <p>{{ $t('An annual technology event aimed at students, companies, and tech enthusiasts. BEWITT has been enhancing the experience of DTech since 2018.') }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-box-2 p-2">
              <h4>{{ $t('Jornadas da Engenharia Informática') }}</h4>
              <p>{{ $t('UTAD SUMMIT 2020, organized by five Student Associations at UTAD, was a free in-person event dedicated to the student community, made more engaging with BEWITT.') }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-box-2 p-2">
              <h4>{{ $t('Jornadas da Engenharia Mecânica VII') }}</h4>
              <p>{{ $t('UTAD SUMMIT 2021, also organized by the UTAD student associations, continued the tradition of engaging and dynamic events with the help of BEWITT.') }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  SERVICE BLOCK2 END  -->
  </div>
</template>
<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
export default {
  name: 'AboutOurBrandsBewitt',
  components: {
    SmallBannerBlock,
    Breadcrumb
  },
  data() {
    return {};
  },
  metaInfo() {
  return {
    title: "Discover BEWITT - Konnect Kit",
    meta: [
      { name: 'description', content: 'Step into the world of BEWITT, our event management solution. Revolutionize event planning and execution with BEWITT, ensuring seamless organization and unforgettable experiences.' },
      { property: 'og:title', content: "Discover BEWITT - Konnect Kit" },
      { property: 'og:description', content: 'Step into the world of BEWITT, our event management solution. Revolutionize event planning and execution with BEWITT, ensuring seamless organization and unforgettable experiences.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/about/our-brands/bewitt' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/about/our-brands/bewitt' }
    ]
  }
},

  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },

};
</script>