<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description"
          content="Konnect Kit offers a vast array of services, such as web and mobile app development, UI/UX design, and custom solutions. Our kits can adapt to various operations, including data parsing, data viewing, managing orders, and more.">
    <meta name="keywords"
          content="Konnect Kit, Tech Systems, Web Development, Mobile App Development, UI/UX Design, Custom Solutions, Data Parsing, Data Viewing, Order Management">
    <meta name="author" content="Konnect Kit">

    <meta property="og:title" content="Konnect Kit: Your All-in-One Solution for Digital Operations">
    <meta property="og:description" content="From web and mobile app development to data parsing and order management, Konnect Kit has the tools to streamline your operations.">
    <meta property="og:image" content="https://media.mykit.ws/repository/serve/MTYxMjUzMTU5MzYwMWQ0Nzg5YTVjYjV8NTNiMDcwNDVjODlmZjBhYjA4MjhmNzcyZTdkNTUxN2JmYTIyNmRiYXwkMnkkMTAkUmkyUW1NTUEuYnAvWE5mSFMvbVZWdTJ6QUZsSS9UeEl2RjdwVmNvMkl6SkdDblZPTHlNY2V8MTgyMjE2MDcwMTAxLjMz">
    <meta property="og:url" content="https://konnectkit.nl">

    <link rel="icon" href="/favicon.ico">





    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css">
    <!--  Icon Font css  -->
    <link rel="stylesheet" href="/static/fonts/flaticon/flaticon.css" type="text/css">
    <!-- FONT AWESOME ICON  -->
    <link rel="stylesheet" href="/static/css/all.css" type="text/css">
    <link rel="stylesheet" href="/static/css/icofont.css" type="text/css">
    <!--  Animate STYLE  -->
    <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">
    <!--  Theme CUSTOM STYLE  -->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <!--  RESPONSIVE STYLE  -->
    <link rel="stylesheet" href="/static/css/responsive.css" type="text/css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QF1T5S6NWZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QF1T5S6NWZ');
</script>


    <title>Konnect Kit</title>


</head>
<body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>
<div id="app">
</div>


<!-- built files will be auto injected -->
<script src="/static/js/jquery.min.js"></script>
<!-- contact form  -->
<script src="/static/js/contact.js"></script>
<script src="/static/bootstrap/js/popper.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<!--  Counter up  -->
<script src="/static/js/jquery.waypoints.js"></script>
<script src="/static/js/jquery.counterup.min.js"></script>

<script src="/static/js/jquery.easing.1.3.js"></script>
<!--  wow animation  -->
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/custom.js"></script>


</body>

</html>
