<template>
  <div class="about-our-brands">
    <small-banner-block :title="$t('Empowering Brands for a Connected Future')"
      :subtitle="$t('Discover Our Comprehensive Portfolio of Innovative Solutions, Designed to Transform Your Business and Simplify Your Life')" />
    <breadcrumb :items="[
      { label: $t('Home'), route: 'Home' },
      { label: $t('About'), route: 'About' },
      { label: $t('Our Brands') }
    ]" />
    <!-- BRANDS AREA START -->
    <section class="section-padding bg-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="">
              <p>{{$t('Welcome to our dynamic collection of brands, each tailored to address the unique challenges faced by businesses and individuals in the ever-evolving digital world. At Konnect Kit, we take pride in our commitment to innovation, quality, and customer satisfaction, ensuring that our brands deliver powerful, user-friendly, and customized solutions for a wide range of applications. Explore the diverse capabilities of our brands and learn how they can help you navigate the complexities of today\'s digital landscape, enabling you to unlock new opportunities, foster growth, and achieve lasting success.')}}</p>
              <h4 class="section-title">{{$t('Discover our innovative brands that focus on delivering unique and tailored solutions for different needs:')}}</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="pricing" class="section-padding bg-main pt-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="pricing-block ">
              <div class="price-header">
                <img :src="require(`@/assets/img/about/brands/easy-apply.jpg`)" alt="EasyApply"
                  class="img-fluid circle-image mb-4">
                <h4>{{$t('EasyApply')}}</h4>
              </div>
              <div class="line"></div>
              <p class="padding-20">{{$t('EasyApply is a job search platform that uses powerful algorithms to match candidates with job opportunities based on their skills, experience, and personality types.')}}</p>
              <router-link class="btn btn-hero btn-circled" to="/about/our-brands/easyapply">
                <i class="icofont icofont-link"></i> {{$t('Learn more')}}
              </router-link>
              <a href="https://easyapply.app/" class="btn btn-hero btn-circled" target="_blank"><i
                class="icofont icofont-link"></i> {{$t('Visit website')}}</a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="pricing-block ">
              <div class="price-header">
                <img :src="require(`@/assets/img/about/brands/key-code-media.jpg`)" alt="KeyCodeMedia"
                  class="img-fluid circle-image mb-4">
                <h4>{{$t('KeyCode.Media')}}</h4>
              </div>
              <div class="line"></div>
              <p class="padding-20">{{$t('KeyCode.Media is a digital agency focused on transforming businesses by delivering simple, intuitive, and powerful websites and webshops, enhancing user experience.')}}</p>
              <router-link class="btn btn-hero btn-circled" to="/about/our-brands/keycodemedia">
                <i class="icofont icofont-link"></i> {{$t('Learn more')}}
              </router-link>
              <button disabled href="#" class="btn btn-hero btn-circled" target="_blank"><i
                class="icofont icofont-link"></i> {{$t('Coming soon!')}}</button>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="pricing-block">
              <div class="price-header">
                <img :src="require(`@/assets/img/about/brands/bewitt.jpg`)" alt="Bewitt"
                  class="img-fluid circle-image mb-4">
                <h4>{{$t('BEWITT')}}</h4>
              </div>
              <div class="line"></div>
              <p class="padding-20">{{$t('BEWITT offers a SaaS solution to enhance the experience of events, training, and communities, creating interactive and immersive experiences for audiences.')}}</p>
              <router-link class="btn btn-hero btn-circled" to="/about/our-brands/bewitt">
                <i class="icofont icofont-link"></i> {{$t('Learn more')}}
              </router-link>
              <!--<a href="https://bewitt.com/" class="btn btn-hero btn-circled" target="_blank"><i
                class="icofont icofont-link"></i> {{ $t('Visit website') }}</a> -->

                <button disabled href="#" class="btn btn-hero btn-circled" target="_blank"><i
                class="icofont icofont-link"></i> {{ $t('In Construction!') }}</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- BRANDS AREA END -->
</template>

<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";

export default {
  name: 'AboutOurBrands',
  components: {
    SmallBannerBlock,
    Breadcrumb
  },
  metaInfo() {
  return {
    title: "Our Brands - Konnect Kit",
    meta: [
      { name: 'description', content: 'Discover Konnect Kit’s dynamic collection of innovative brands tailored to address unique challenges in the digital world. Explore EasyApply, KeyCode.Media, and BEWITT for powerful, user-friendly, and customized solutions.' },
      { property: 'og:title', content: "Our Brands - Konnect Kit" },
      { property: 'og:description', content: 'Discover Konnect Kit’s dynamic collection of innovative brands tailored to address unique challenges in the digital world. Explore EasyApply, KeyCode.Media, and BEWITT for powerful, user-friendly, and customized solutions.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/about/our-brands' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/about/our-brands' }
    ]
  }
},

  data() {
    return {};
  },
  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },
};
</script>
