<template>
    <div class="our-team">
        <small-banner-block :title="$t('Ferenc Sic')"
            :subtitle="$t('Ferenc Sic is a Frontend Developer and UI/UX Designer at Konnect Kit. His diverse skills in coding, design, and content creation contribute significantly to the intuitive user interfaces and compelling brand communications that Konnect Kit is known for.')" />
        <breadcrumb :items="[
            { label: $t('Home'), route: 'Home' },
            { label: $t('About'), route: 'About' },
            { label: $t('Our Team'), route: 'AboutOurTeam' },
            { label: $t('Ferenc Sic') },
        ]" />

        <!--  ABOUT AREA START  -->
        <section id="intro">
            <div class="container">
                <div class="row section-padding">
                    <div class="col-lg-5  d-none d-lg-block col-sm-12">
                        <div class="intro-img">
                            <img src="/static/img/team/ferenc-sic-single.jpg" alt="intro-img" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <h2 class="mb-4">{{$t('Ferenc Sic')}}</h2>
                        <p>{{$t('Ferenc Sic is not only a passionate Frontend Developer and UI/UX Designer at Konnect Kit, but he is also an accomplished content creator. His diverse technical skills, coupled with his flair for creative writing, enable him to design and develop user-friendly interfaces and compelling marketing content that enhances Konnect Kit\'s brand communication.')}}</p>
                        <p>{{$t('He has been instrumental in writing marketing emails that captivate our audience and crafting the engaging content that you see on this website. His work not only captures the vision of the business but also enhances the users\' digital experiences.')}}</p>
                        <p>{{$t('Outside of his professional realm, Ferenc explores his interest in psychology, believing that understanding human behavior and thought processes aids him in creating designs and content that truly resonate with the users. His fascination with psychology also extends to his personal life, where it provides him a unique perspective on life and relationships.')}}</p>
                        <p>{{$t('Ferenc is an avid traveler and adventure enthusiast. He enjoys playing the piano and singing in his leisure time, purely for the joy and soulful expression it offers. As a sports enthusiast, he finds pleasure in tennis and regular workouts. His diverse personal interests add depth to his professional contributions, making him a unique and invaluable member of the Konnect Kit team.')}}</p>
                        <p>{{$t('Ferenc Sic\'s professional excellence as a developer, designer, and content creator, coupled with his diverse personal interests, make him a crucial asset to Konnect Kit. His multifaceted contribution to our team significantly influences our work and brand identity.')}}</p>
                        <ul class="list-unstyled list-inline team-social mt-4">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/ferenc-si%C4%8D-b53204205/"
                  target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/fer_dawson/?hl=en" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/ferenc.sich/" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
            </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--  ABOUT AREA END  -->
    </div>
</template>

<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
export default {
    name: 'FerencSic',
    components: {
        SmallBannerBlock,
        Breadcrumb
    },
    data() {
        return {};
    },
    metaInfo() {
        return {
            title: this.$t("Ferenc Sic - Our Team - Konnect Kit"),
            meta: [
                { name: 'description', content: this.$t('Learn more about Ferenc Sic, a Frontend Developer, UI/UX Designer, and Content Creator at Konnect Kit. His diverse skills and interests significantly influence our user interfaces and brand communications.') },
                { property: 'og:title', content: this.$t("Ferenc Sic - Our Team - Konnect Kit") },
                { property: 'og:description', content: this.$t('Learn more about Ferenc Sic, a Frontend Developer, UI/UX Designer, and Content Creator at Konnect Kit. His diverse skills and interests significantly influence our user interfaces and brand communications.') },
                { property: 'og:site_name', content: 'Konnect Kit' },
                { property: 'og:type', content: 'website' },
                { property: 'og:image', content: '/static/img/team/ferenc-sic-single.jpg' },
                { property: 'og:url', content: 'https://konnectkit.nl/about/our-team/ferenc-sic' },
                { name: 'robots', content: 'index,follow' }
            ],
            link: [
                { rel: 'canonical', href: 'https://konnectkit.nl/about/our-team/ferenc-sic' }
            ]
        }
    },

    computed: {

    },
    setup() {
        return {};
    },
    created() {
        console.log("Page created");
    },
};
</script>
