<template>
  <div class="easyapply">
    <small-banner-block :title="$t('Experience the Future of Job Applications with EasyApply')"
      :subtitle="$t('We\'re excited to share the latest advancements in EasyApply, our revolutionary job application platform. Designed to streamline the job hunting process, EasyApply is continuously evolving to offer an even smoother, more efficient experience for job seekers.')" />

    <breadcrumb :items="[
      { label: $t('Home'), route: 'Home' },
      { label: $t('About'), route: 'About' },
      { label: $t('Our Brands'), route: 'AboutOurBrands' },
      { label: 'EasyApply' }
    ]" />

    <section class="section-padding bg-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="">
              <p>{{ $t('With its cutting-edge technology, EasyApply is redefining the job application process by making it more efficient, easier, and fairer for everyone involved.') }}</p>
              <p>{{ $t('At Konnect Kit, we take pride in the efficiency, quality, and user satisfaction that EasyApply delivers. This intuitive and customizable platform is designed to handle a diverse range of job application processes, offering unique solutions to meet the varying needs of recruiters, businesses, and job seekers in today\'s fast-paced digital world.') }}</p>
              <p>{{ $t('Explore EasyApply\'s diverse capabilities and learn how it can help you streamline the complexities of the job application process. With EasyApply, you can unlock new opportunities, foster growth, and achieve lasting success in all your recruitment endeavors.') }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--  SERVICE PARTNER START  -->
    <section id="service-head" class="bg-feature" :style="{ backgroundImage: 'url(/static/img/banner/banner-bg.jpg)' }">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-sm-12 m-auto">
            <div class="heading text-white text-center">
              <h4 class="section-title">{{ $t('Revolutionizing Job Applications for Recruiters and Applicants') }}</h4>
              <p>{{ $t('EasyApply is a brand that offers a SaaS solution to streamline and enhance the job application process, leveraging cutting-edge technology to connect job seekers and employers more effectively.') }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  SERVICE PARTNER END  -->

    <!--  SERVICE AREA START  -->
    <section id="service" class="padding-bottom-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="service-box p-5 rounded mb-4">
              <div class="service-img-icon">
                <img :src="require('@/assets/img/our-brands/easyapply/quick-application.jpg')"
                  alt="Quick Application" class="img-fluid">
              </div>
              <h4 class="my-4">{{ $t('Quick Application') }}</h4>
              <p>{{ $t('EasyApply enables rapid application submission, saving time for both job seekers and employers while ensuring that opportunities don\'t slip through the cracks.') }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="service-box p-5 rounded mb-4">
              <div class="service-img-icon">
                <img :src="require('@/assets/img/our-brands/easyapply/resume.jpg')"
                  alt="Built-In Resume Builder" class="img-fluid">
              </div>
              <h4 class="my-4">{{ $t('Built-In Resume Builder') }}</h4>
              <p>{{ $t('With EasyApply, job seekers can create professional resumes directly on the platform, which can be easily customized and submitted for each application.') }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="service-box p-5 rounded mb-4">
              <div class="service-img-icon">
                <img :src="require('@/assets/img/our-brands/easyapply/tracking.jpg')"
                  alt="Job Application Tracking" class="img-fluid">
              </div>
              <h4 class="my-4">{{ $t('Job Application Tracking') }}</h4>
              <p>{{ $t('EasyApply offers application tracking features, allowing users to keep track of the jobs they\'ve applied to, follow up, and stay organized in their job search.') }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="service-box p-5 rounded ">
              <div class="service-img-icon">
                <img :src="require('@/assets/img/our-brands/easyapply/dashboard.jpg')"
                  alt="Employer Dashboard" class="img-fluid">
              </div>
              <h4 class="my-4">{{ $t('Employer Dashboard') }}</h4>
              <p>{{ $t('EasyApply provides an intuitive dashboard for employers to manage job postings, track applications, and communicate with applicants, simplifying the recruitment process.') }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="service-box p-5 rounded ">
              <div class="service-img-icon">
                <img :src="require('@/assets/img/our-brands/easyapply/job-alerts.jpg')"
                  alt="Job Alerts" class="img-fluid">
              </div>
              <h4 class="my-4">{{ $t('Job Alerts') }}</h4>
              <p>{{ $t('EasyApply\'s job alert system keeps job seekers informed of new opportunities in their field of interest, helping them stay ahead in their job search.') }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="service-box p-5 rounded ">
              <div class="service-img-icon">
                <img :src="require('@/assets/img/our-brands/easyapply/ai.jpg')"
                  alt="Automated Candidate Screening" class="img-fluid">
              </div>
              <h4 class="my-4">{{ $t('Automated Candidate Screening') }}</h4>
              <p>{{ $t('EasyApply\'s sophisticated AI can automate the initial screening process, helping employers identify the most promising candidates quickly and effectively.') }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  SERVICE AREA END  -->
  </div>
</template>

<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";

export default {
  name: 'AboutOurBrandsEasyApply',
  components: {
    SmallBannerBlock,
    Breadcrumb
  },
  data() {
    return {};
  },
  metaInfo() {
  return {
    title: "Experience the Future of Job Applications with EasyApply - Konnect Kit",
    meta: [
      { name: 'description', content: 'Discover the latest advancements in EasyApply, our revolutionary job application platform. Streamline the job hunting process with EasyApply, offering a smoother and more efficient experience for job seekers.' },
      { property: 'og:title', content: "Experience the Future of Job Applications with EasyApply - Konnect Kit" },
      { property: 'og:description', content: 'Discover the latest advancements in EasyApply, our revolutionary job application platform. Streamline the job hunting process with EasyApply, offering a smoother and more efficient experience for job seekers.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/about/our-brands/easyapply' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/about/our-brands/easyapply' }
    ]
  }
},

  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },
};
</script>
