<template>
  <small-banner-block :title="$t('Core Services')" :subtitle="$t('Transforming Businesses with Innovative Solutions')" />
<breadcrumb :items="[
 { label: $t('Home'), route: 'Home' },
 { label: $t('Services'), route: 'Services' },
 { label: $t('Core Services') },
]" />

  <!-- CORE SERVICES INTRODUCTION START -->
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div>
            <p>{{ $t('At Konnect Kit, we offer a wide array of core services to help businesses enhance their digital presence and streamline their operations. Our services include authentication, transcription, email, and gamification, ensuring that we cater to the diverse needs of our clients.') }}</p>
            <p>{{ $t('Our team of experienced professionals works closely with clients to create innovative and efficient solutions that align with their goals and vision. Our comprehensive approach combines cutting-edge technology with industry best practices to deliver results that drive business growth and enhance user experience.') }}</p>
            <p>{{ $t('Explore our core services to find the perfect fit for your business and discover how Konnect Kit can empower you to achieve success in the ever-evolving digital landscape. Let\'s work together to turn your ideas into reality, foster growth, and unlock new opportunities for your business.') }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- CORE SERVICES INTRODUCTION END -->
  <!-- AUTHENTICATION SERVICES START -->
  <section class="section-padding background-gray order-reverse">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
          <h3 class="mb-3">{{ $t('Authentication Services') }}</h3>
          <p class="mb-4">{{ $t('We provide secure and user-friendly authentication services to safeguard your applications and ensure seamless access control. Our experts develop custom authentication solutions tailored to your specific needs and requirements.') }}</p>
          <span class="h5 mb-4">{{ $t('Our authentication services:') }}</span>
          <ul class="about-list2 my-4">
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Single sign-on (SSO) implementation') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Multi-factor authentication (MFA)') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('OAuth and OpenID Connect integration') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Custom authentication strategies') }}</li>
          </ul>
          <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
            <i class="icofont icofont-link"></i>
            <span class="text-content">&nbsp;{{ $t('Contact us for ') }}</span>
            <span class="contact-us">{{ $t('authentication services') }} <i class="fa fa-angle-right"></i></span>
          </router-link>
        </div>
        <div class="col-lg-6 col-md-4 pb-sm-20">
          <img :src="require(`@/assets/img/services/core-services/authentication.jpg`)" alt="{{ $t('Authentication Services') }}"
            class="img-fluid rounded w-100">
        </div>
      </div>
    </div>
  </section>
  <!-- AUTHENTICATION SERVICES END -->
  <!-- TRANSCRIPTION SERVICES START -->
  <section class="section-padding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-4 pb-sm-20">
          <img :src="require(`@/assets/img/services/core-services/transcription.jpg`)" alt="{{ $t('Transcription Services') }}"
            class="img-fluid rounded w-100">
        </div>
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
          <h3 class="mb-3">{{ $t('Transcription Services') }}</h3>
          <p class="mb-4">{{ $t('Our transcription services are powered by our state-of-the-art application, Whisper Wave. With Whisper Wave, we leverage the power of artificial intelligence to provide accurate and efficient transcription services. Our AI-driven solution delivers a transcription accuracy of 84%, ensuring high-quality results for your business.') }}</p>
          <span class="h5 mb-4">{{ $t('Our transcription services include:') }}</span>
          <ul class="about-list2 my-4">
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Audio and video transcription') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('AI-powered transcription with Whisper Wave') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Multi-language support') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Fast turnaround times') }}</li>
          </ul>
          <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
        <i class="icofont icofont-link"></i>
        <span class="text-content">&nbsp;{{ $t('Contact us for ') }}</span>
        <span class="contact-us">{{ $t('transcription services') }} <i class="fa fa-angle-right"></i></span>
      </router-link>
    </div>
  </div>
</div>
</section>
  <!-- TRANSCRIPTION SERVICES END -->
  <!-- EMAIL SERVICES START -->
  <section class="section-padding background-gray order-reverse">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
          <h3 class="mb-3">{{ $t('Email Services') }}</h3>
          <p class="mb-4">{{ $t('We offer reliable and secure email services to help businesses manage their communication efficiently. Our email solutions are tailored to your specific requirements, ensuring seamless integration with your existing systems and processes.') }}</p>
          <span class="h5 mb-4">{{ $t('Our email services:') }}</span>
          <ul class="about-list2 my-4">
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Email hosting and setup') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Email marketing and automation') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Email deliverability and security') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Email template design and development') }}</li>
          </ul>
          <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
            <i class="icofont icofont-link"></i>
            <span class="text-content">&nbsp;{{ $t('Contact us for ') }}</span>
            <span class="contact-us">{{ $t('email services') }} <i class="fa fa-angle-right"></i></span>
          </router-link>
        </div>
        <div class="col-lg-6 col-md-4 pb-sm-20">
          <img :src="require(`@/assets/img/services/core-services/email.jpg`)" alt="{{ $t('Email Services') }}"
            class="img-fluid rounded w-100">
        </div>
      </div>
    </div>
  </section>
  <!-- EMAIL SERVICES END -->
  <!-- GAMIFICATION SERVICES START -->
  <section class="section-padding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-4 pb-sm-20">
          <img :src="require(`@/assets/img/services/core-services/gamification.jpg`)" alt="{{ $t('Gamification Services') }}"
            class="img-fluid rounded w-100">
        </div>
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4 order-md-1">
          <h3 class="mb-3">{{ $t('Gamification Services') }}</h3>
          <p class="mb-4">{{ $t('Our gamification services help businesses engage and motivate their users, employees, and customers by integrating game mechanics into their existing processes and applications. We create custom gamification strategies that drive user engagement, boost productivity, and enhance customer loyalty.') }}</p>
          <span class="h5 mb-4">{{ $t('Our gamification services:') }}</span>
          <ul class="about-list2 my-4">
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Gamification strategy and design') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Gamification platform development') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Employee engagement and training') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Customer loyalty and retention programs') }}</li>
          </ul>
          <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
            <i class="icofont icofont-link"></i>
            <span class="text-content">&nbsp;{{ $t('Contact us for ') }}</span>
            <span class="contact-us">{{ $t('gamification services') }} <i class="fa fa-angle-right"></i></span>
          </router-link>
        </div>
      </div>
    </div>
  </section>
  <!-- GAMIFICATION SERVICES END -->
</template>
<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
export default {
name: 'CoreServices',
components: {
Breadcrumb,
SmallBannerBlock
},
data() {
return {};
},
metaInfo() {
  return {
    title: "Core Services - Transforming Businesses with Konnect Kit",
    meta: [
      { name: 'description', content: 'Explore Konnect Kit’s core services, including authentication, transcription, email, gamification to streamline operations and enhance your digital presence.' },
      { property: 'og:title', content: "Core Services - Transforming Businesses with Konnect Kit" },
      { property: 'og:description', content: 'Explore Konnect Kit’s core services, including authentication, transcription, email, gamification to streamline operations and enhance your digital presence.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/services/core-services' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/services/core-services' }
    ]
  }
},



computed: {

},
setup() {
return {};
},
created() {
console.log("Page created");
},

};
</script>