@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary: #00FADE;
$secondary: #0ce8b0;
$secondaryAlt: #3DAD90;
$tertiary: #151C32;
$quaternary: #091021;
$gray: #e0e0e0;
$lighterGray: #f8f9fa;

.fa-rotate-45 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5)";
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lexend Deca', sans-serif;
  color: $quaternary;
}

.padding-20 {
  padding: 20px;
}

.breadcrumb-bgd {
  background: $gray;

  .breadcrumb {
    background: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.a-hover:hover {
  color: $secondary;
}


.banner-content .subtitle {
  background: $primary;
  color: $quaternary;
  border-radius: 5px;
  opacity: 1;
  font-weight: 700;
}

.trans-navigation.header-white {
  // background: $tertiary;
  background: rgba($tertiary, 1);
  backdrop-filter: blur(10px);
}

.section-strategy {
  background-color: $primary;
  background-size: cover;
}

.service-box {
  background-color: white;
  height: 92%;

  .service-inner {
    h4 {
      color: $tertiary !important;
    }

    color: $tertiary;
  }
}

.intro-box span,
.about-content .subtitle {
  color: $secondary;
}

.bg-feature {
  background-color: $secondary;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}



a.announcement-hyperlink {

  h1,
  h2,
  h3,
  h4,
  h5 {
    transition: all 200ms;
  }

}

a.announcement-hyperlink:hover {

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-decoration: underline;
  }
}

.trans-navigation .navbar-nav {
  a {
    font-weight: 800;
    text-transform: none;

    i {
      font-size: 88%;
      margin-right: 0.13rem;
    }
  }

  .nav-link {
    &.router-link-active {
      color: $primary !important;
    }
  }
}

.blog-block,
.blog-post {
  background: rgba($lighterGray, 0.99);
  border-radius: 5px;
}

.sidebar-widget {
  padding-left: 0;
  padding-right: 20px;
}

.is-size-3 {
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.nav-item.dropdown .dropdown-menu {
  background: rgba($tertiary, 1);
  backdrop-filter: blur(10px);
  padding-top: 2rem;
  min-width: 280px;
  max-width: 350px;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  max-height: 500px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px; 
    height: 10px; 
  }

  &::-webkit-scrollbar-thumb {
    background-color: $tertiary; 
    border-radius: 4px;

    &:hover {
      background-color: #555;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: $primary; 
    border-radius: 4px;
  }

  a {
    margin-top: 0.25rem;
    font-weight: 700;

    &:hover,
    &.router-link-active {
      background: $primary;
      color: $tertiary;
      border-radius: 5px;

      small {
        color: $quaternary;
      }
    }

    &.router-link-active {}

    word-wrap: break-word;
    font-size: 0.85rem;
    color: white;
    line-height: 1rem;

    small {
      padding-left: 1.1rem;
      padding-top: 0.25rem;
      display: inline-block;
      font-size: 0.65rem;
      word-break: break-word;
      white-space: normal;
      font-weight: 400;
      color: #e0e0e0;
    }
  }
}

.btn {
  border-radius: 5px !important;
  transition: all 240ms;
  padding: 15px;

  &.btn-primary {
    background: $primary;

    span {
      color: $quaternary !important;
    }

    color: $quaternary !important;
    outline: none;
    box-shadow: none !important;

    &:hover {
      background: $tertiary;
      color: white !important;

      span {
        color: white !important;
      }

      border-color: $quaternary;
      outline: none;
      box-shadow: none !important;
    }

    &:active,
    &:focus,
    &:active:focus {
      background: $tertiary;
      color: white !important;

      span {
        color: white !important;
      }

      border-color: $quaternary;
      outline: none;
      box-shadow: none !important;
    }
  }

  &.btn-black {
    background: $tertiary;
    color: white !important;

    span {
      color: white !important;
    }

    outline: none;
    box-shadow: none !important;

    &:hover {
      background: $primary;
      color: $quaternary !important;

      span {
        color: $quaternary !important;
      }

      border-color: darken($primary, 10);
      outline: none;
      box-shadow: none !important;
    }

    &:active,
    &:focus,
    &:active:focus {
      background: $primary;
      color: $quaternary !important;

      span {
        color: $quaternary !important;
      }

      border-color: darken($primary, 10);
      outline: none;
      box-shadow: none !important;
    }
  }
}

.btn-white {
  &:hover {
    background: $primary;
    border-color: darken($primary, 10);
    color: $quaternary !important;
  }
}

.btn-hero {
  background: $secondary;
  border-color: darken($secondary, 10);
  color: $quaternary !important;
  font-weight: 700;

  &:hover {
    background: $quaternary;
    border-color: darken($quaternary, 10);
    color: $secondary !important;
  }
}

.pricing-block {
  &:hover i {
    background: none;
    color: $quaternary;
    border: none;
  }

  .btn-hero {
    &:hover i {
      background: none;
      color: $secondary;
      border: none;
    }
  }

  a,
  button[disabled] {
    width: 210px;
    max-width: 100%;
    padding: 15px;
  }

}

.line {
  background: $secondary;
}

.footer-copy {
  border-top: 1px solid $secondary;
}

#footer {
  background: url(/public/static/footer-bgd.png);
  background-position: center center;
  background-size: cover;

  * {
    color: #fff;
  }

  a {
    &:hover {
      color: $secondary !important;
    }
  }
}

/********* ABOUT US PAGE START *********/
.overlay {
  background: url(/public/static/img/banner/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.text-default {
  color: $tertiary;
}

.about-list2 li i {
  color: $secondary;
}

.team-social {
  li {
    a {

      &:hover,
      &:hover li {
        color: $primary;
        background: $quaternary;
        border-radius: .25rem;
      }
    }
  }
}

/********* ABOUT US PAGE END *********/
.circle-image {
  border-radius: 50%;
  border: 2px solid $secondaryAlt;
}

/********* BLOG PAGE START *********/

.search {
  i {
    color: $quaternary;
  }

  /*::placeholder{
    color: $quaternary;
  }*/
  input[type=text],
  input[type=email] {
    border-color: $primary;
  }
}

.blog-post {
  color: $quaternary;
}

.post-author i,
.fa-calendar-check {
  color: $secondary;
}

.download {
  a {
    i {
      color: $secondary;
    }
  }
}

.form-control:focus {
  color: $quaternary;
}

/********* BLOG PAGE END *********/

/********* CONTACTS PAGE START*********/
.form-control {
  border-color: $secondary;

  &:hover,
  &:focus {
    box-shadow: 0px 2px 5px 0px $secondary;
    border-color: $secondary;
  }
}

.select-wrapper {
  position: relative;

  select {
    padding: 0 0 0 30px;


  }

  &::after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 14px;
    color: $quaternary;
    position: absolute;
    left: calc(100% - 20px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  select.form-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
    background-color: transparent;
  }


}


select.form-control option:hover,
select.form-control option:focus {
  background-color: $secondary !important;
  color: $primary !important;
}

/********* CONTACTS PAGE END*********/

/********* CAREER PAGE START*********/
.box {
  border: 1px solid $secondary;
  padding: 30px;
  border-radius: .25rem;
}




/********* CAREER PAGE END*********/

/********* OUR BRANDS KEYCODEMEDIA START*********/
.padding-bottom-0 {
  padding-bottom: 0px;
}

.brands-customers {
  background-color: $primary;

  a {
    display: inline-block;

    &:hover {
      transform: scale(1.05) !important;
      color: $quaternary;
    }
  }

  .author-img {
    img {
      border: 5px solid $secondaryAlt;
    }
  }

  .carousel-indicators {
    li.active {
      background: $secondaryAlt;
    }
  }
}

.service-img-icon {
  background: $primary !important;
  padding: 0px;
  border: 1px solid $secondaryAlt !important;
}

/********* OUR BRANDS KEYCODEMEDIA END*********/
.background-gray {
  background: #e9e9e9 !important;
}

/********* EVENTS PAGE START*********/
.service-box-inner {
  .inner-div {
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 50%;
  }

  p {
    text-align: left;
  }
}

.subscribe {
  position: relative;
  display: inline-block;
  width: 100%;

  input {
    padding: 10px;
    padding-right: 120px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    color: $quaternary !important;
  }

  .btn-subscribe {
    position: absolute;
    top: 0;
    left: calc(100% - 95px);
    background-color: $secondary;
    color: $quaternary !important;
    border: none;
    padding: 12px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    width: 130px;
    max-width: 100%;

    &:hover {
      background: $tertiary;
      color: $secondary !important;
    }
  }
}

@media screen and (max-width: 767px) {
  .subscribe input {
    padding-right: 10px;
  }

  .subscribe .btn-subscribe {
    position: static;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
  }
}

.event-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;

  li {
    margin-bottom: 20px;

    strong {
      display: inline-block;
      font-size: 18px;
      margin-bottom: 5px;
    }
  }
}

.events-tag {
  display: inline-block;
  background-color: $tertiary;
  color: #fff;
  padding: 0 5px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 12px;
}

.fixed-height {
  height: 150px;
}

.banner-bg {
  background-image: url('@/assets/img/banner/banner-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  * {
    color: #fff;
  }
}

.filter-img {
  filter: grayscale(100%);
}

.link-disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
}

a {
  &:hover {
    color: $primary;
  }
}

.carousel-inner {
  ol {
    cursor: pointer;
  }
}

@media (max-width: 575px) {
  .long-link {
    .contact-us {
      display: block;

    }
  }

  .pricing-block {

    a,
    button[disabled] {
      width: 80% !important;
    }
  }
}

@media (max-width: 768px) {
  .order-reverse {
    .row {
      flex-direction: column-reverse;
    }
  }

  .pb-sm-20 {
    padding-bottom: 20px;
  }
}

ul {
  li {
    margin-bottom: 0 !important;
  }
}

.navbar-toggler {
  background: transparent;
  border: 1px solid $secondary;
  border-radius: 5px;

  &:focus {
    outline: none;
  }

  i.fa.fa-bars,
  i.fa.fa-times {
    color: $secondary;
  }
}

.alert-success {
  color: #00543f;
  background: $secondary;
}

.alert-error {
  background: #ff000060;
  color: #aa0101;
}
.language-button {
  .custom-dropdown-toggle {
    color: $primary !important;
    display: inline-block;
    text-decoration: none;
    border: 1px solid $primary;
    border-radius: 5px;

    .dropdown-arrow {
      margin-left: 5px;
    }

    &:hover {
      background-color: $primary;
      color: $tertiary !important;
    }
  }

  ul {
    background-color: $tertiary !important;
    color: $lighterGray;
    

    li.language-option:not(:last-child) {
      margin: 5px !important;
 
    }

    li.language-option:last-child {
      margin: 5px 5px 0 5px !important;
    }
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    color: $tertiary;

    &:hover,
    &:focus,
    &:active {
      background-color: $primary;
      color: $tertiary !important;
      border-radius: 5px;
    }

    .flag-icon {
      display: inline-block;
      width: 25px;
      height: 20px;
      margin-right: 8px;

      &.flag-icon-us {
        background-image: url('@/assets/img/flags/us.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      &.flag-icon-rs {
        background-image: url('@/assets/img/flags/rs.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }

  .selected {
    background-color: $primary;
    color: $tertiary;
    border-radius: 5px;

  }
}

.trans-navigation {
  background: #151c32 !important;
}

.absolute-bottom {
  position: absolute;
  bottom: 146px;
  right: 15px;
  background-color: $primary;
  color: $tertiary;
  opacity: 71%;
  border-radius: .25rem 0rem .25rem 0rem !important;
  padding: 0 5px;
  transition: .2s ease-in;

  &:hover {
    color: $primary;
    background: $tertiary;
    opacity: 95%;
  }
}

.blog-img {
  width: 100%;
}

.blog-list {
  padding-left: 2em;

  li {
    list-style: disc outside !important;

  }

}

.selected-c {
  background: $tertiary;
  color: $primary;
  border-radius: 5px;
}

.category {
  li {
    cursor: pointer;
    padding: 5px 0 !important;
    &:hover {
      color: $primary;
    }
    a {
      font-size: 14px;
      &.selected-c {
        background: $tertiary;
        color: $primary;
        padding: 8px !important;
        border-radius: 5px;
        &:focus{
          color: $primary;
        }
      }

    }

  }
}

.faq{
  button{
    color: $tertiary;
    font-size: 14px;
    &:hover,
    &:focus,
    &:active{
      color: $secondaryAlt;
    }
    }
  }
.job-alert{
  background: $primary;
}