<template>
  <small-banner-block
    :title="$t('Hosting Services')"
    :subtitle="$t('Empowering Your Business with Reliable and Scalable Solutions')"
  />
<breadcrumb :items="[
 { label: $t('Home'), route: 'Home' },
 { label: $t('Services'), route: 'Services' },
 { label: $t('Hosting Services') }
]" />

  <!-- HOSTING SERVICES INTRODUCTION START -->
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div>
            <p>
              {{ $t('At Konnect Kit, we offer reliable and high-performance hosting services to ensure your applications run smoothly and efficiently. Our hosting services include Apps, Containers, and Virtual Machines, providing flexible and scalable solutions that cater to your specific needs.') }}
            </p>
            <p>
              {{ $t('Our team of experienced professionals works closely with clients to provide customized hosting solutions that meet their unique requirements. Our hosting solutions offer top-notch performance, security, and reliability to ensure maximum uptime and minimal downtime for your applications.') }}
            </p>
            <p>
              {{ $t('Explore our hosting services to find the perfect fit for your business and discover how Konnect Kit can empower you to achieve success in the ever-evolving digital landscape. Let\'s work together to turn your ideas into reality, foster growth, and unlock new opportunities for your business.') }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- HOSTING SERVICES INTRODUCTION END -->
  <!-- APPS START -->
  <section class="section-padding background-gray">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-4 pb-sm-20">
          <img :src="require(`@/assets/img/services/hosting-services/hosting-apps.jpg`)" alt="{{ $t('Hosting Apps') }}" class="img-fluid rounded w-100">
        </div>
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
          <h3 class="mb-3">{{ $t('Apps') }}</h3>
          <p class="mb-4">
            {{ $t('Our hosting services for Apps offer a reliable and scalable solution to ensure your applications run smoothly and efficiently. We provide top-notch infrastructure and maintenance services to ensure maximum uptime and minimal downtime for your applications.') }}
          </p>
          <span class="h5 mb-4">{{ $t('Our Apps hosting services include:') }}</span>
          <ul class="about-list2 my-4">
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('High-performance infrastructure') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Customized maintenance and support') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Scalable solutions') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Competitive pricing') }}</li>
          </ul>
          <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
            <i class="icofont icofont-link"></i>
            <span class="text-content">&nbsp;{{ $t('Contact us for ') }}</span>
            <span class="contact-us">{{ $t('Apps hosting services') }} <i class="fa fa-angle-right"></i></span>
          </router-link>
        </div>
      </div>
    </div>
  </section>
  <!-- APPS END -->
  <!-- CONTAINERS START -->
  <section class="section-padding order-reverse">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
          <h3 class="mb-3">{{ $t('Containers') }}</h3>
          <p class="mb-4">
            {{ $t('We offer powerful and scalable container solutions to help businesses deploy and manage their applications with ease. Our experts leverage the latest container technologies to provide secure, reliable, and efficient hosting services that meet your business needs.') }}
          </p>
          <span class="h5 mb-4">{{ $t('Our container services:') }}</span>
          <ul class="about-list2 my-4">
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Docker containerization') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Kubernetes deployment and management') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Integration with container registries') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Microservices architecture design') }}</li>
          </ul>
          <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
            <i class="icofont icofont-link"></i>
            <span class="text-content">&nbsp;{{ $t('Contact us for ') }}</span>
            <span class="contact-us">{{ $t('container solutions') }} <i class="fa fa-angle-right"></i></span>
          </router-link>
        </div>
        <div class="col-lg-6 col-md-4 pb-sm-20">
          <img :src="require(`@/assets/img/services/hosting-services/containers.jpg`)" alt="{{ $t('Containers') }}" class="img-fluid rounded w-100">
        </div>
      </div>
    </div>
  </section>
  <!-- CONTAINERS END -->
  <!-- VIRTUAL MACHINES START -->
  <section class="section-padding background-gray">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-4 pb-sm-20">
          <img :src="require(`@/assets/img/services/hosting-services/virtual-machines.jpg`)" alt="{{ $t('Virtual Machines') }}" class="img-fluid rounded w-100">
        </div>
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4 order-md-1">
          <h3 class="mb-3">{{ $t('Virtual Machines') }}</h3>
          <p class="mb-4">
            {{ $t('Our virtual machines service provides a cost-effective and scalable solution for your IT infrastructure. With our expert team, you can seamlessly migrate your applications and workloads to the cloud, ensuring that they run efficiently and securely.') }}
          </p>
          <span class="h5 mb-4">{{ $t('Our virtual machines services include:') }}</span>
          <ul class="about-list2 my-4">
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Flexible and scalable virtual machines') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Secure and reliable cloud infrastructure') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Automated backup and disaster recovery') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Efficient and cost-effective cloud solutions') }}</li>
          </ul>
          <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
            <i class="icofont icofont-link"></i>
            <span class="text-content">&nbsp;{{ $t('Contact us for ') }}</span>
            <span class="contact-us">{{ $t('virtual machines services') }} <i class="fa fa-angle-right"></i></span>
          </router-link>
        </div>
      </div>
    </div>
  </section>
  <!-- VIRTUAL MACHINES END -->
</template>
<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
export default {
name: 'HostingServices',
components: {
Breadcrumb,
SmallBannerBlock
},
metaInfo() {
  return {
    title: "Hosting Services - Konnect Kit",
    meta: [
      { name: 'description', content: 'Konnect Kit’s Hosting Services provide reliable hosting for Apps, Containers, and Virtual Machines with top-notch performance, security, and scalability.' },
      { property: 'og:title', content: "Hosting Services - Konnect Kit" },
      { property: 'og:description', content: 'Konnect Kit’s Hosting Services provide reliable hosting for Apps, Containers, and Virtual Machines with top-notch performance, security, and scalability.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/services/hosting-services' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/services/hosting-services' }
    ]
  }
},

data() {
return {};
},
computed: {

},
setup() {
return {};
},
created() {
console.log("Page created");
},

};
</script>