<template>

<small-banner-block
    :title="$t('Custom Solutions')"
    :subtitle="$t('Discover the limitless potential of custom-tailored solutions, designed to perfectly align with your unique business requirements. Our team of experts will work closely with you to develop innovative strategies and solutions that drive growth and success in the competitive digital landscape.')"
  />

  <breadcrumb :items="[
    { label: $t('Home'), route: 'Home' },
    { label: $t('Solutions'), route: 'Solutions' },
    { label: $t('Custom Solutions') }
  ]" />

  <div class="custom-solutions">
    <!-- CUSTOM SOLUTIONS AREA START -->
    <section id="custom-solutions" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="section-heading">
              <p class="lead">{{$t('At Konnect Kit, we specialize in crafting custom technology solutions that cater to the unique needs and goals of your business. Our team of experts work closely with you to design, develop, and implement innovative strategies that drive growth and success in the competitive digital landscape.')}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block col-sm-12">
            <div class="intro-img">
              <img :src="require(`@/assets/img/solutions/engagement-solutions/engagement-solutions.jpg`)" alt="Engagement Solutions" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="intro-box">
                  <span>01.</span>
                  <h4>{{$t('Bespoke Application Development')}}</h4>
                  <p>{{$t('We create tailor-made applications that perfectly fit your business requirements and objectives. Our solutions are designed to streamline processes, improve efficiency, and enhance user experience, driving growth and success for your organization.')}}</p>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="intro-box">
                  <span>02.</span>
                  <h4>{{$t('Custom Integration Solutions')}}</h4>
                  <p>{{$t('Our custom integration solutions seamlessly connect your existing systems and applications, ensuring smooth data flow and streamlined operations. By connecting disparate systems, we help you unlock valuable insights and improve decision-making across your organization.')}}</p>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="intro-box">
                  <span>03.</span>
                  <h4>{{$t('Scalable & Adaptable Solutions')}}</h4>
                  <p>{{$t('We build scalable and adaptable custom solutions that can grow and evolve alongside your business. Our solutions are designed to be flexible, ensuring they continue to meet your needs as your organization expands and changes over time.')}}</p>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="intro-box">
                  <span>04.</span>
                  <h4>{{$t('End-to-End Support & Maintenance')}}</h4>
                  <p>{{$t('We provide end-to-end support and maintenance for our custom solutions, ensuring optimal performance and reliability. Our team of experts is always available to assist you with any questions or concerns, so you can focus on driving success for your business.')}}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="intro-cta">
                  <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
                    <i class="icofont icofont-link"></i>
                    <span class="text-content">&nbsp;{{$t('Have questions or need assistance?')}}</span>
                    <span class="contact-us">{{$t(' Contact us')}} <i class="fa fa-angle-right"></i></span>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- CUSTOM SOLUTIONS AREA END -->
    <!--  CUSTOM SOLUTIONS SECTION START  -->
<section id="custom-solutions" class="bg-feature section-padding" style="background-image: url('/static/img/banner/banner-bg.jpg')">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-sm-12 m-auto">
        <div class="heading text-white text-center">
          <h4 class="section-title text-white">{{$t('Some of Our Custom Solutions')}}</h4>
          <p>{{$t('Konnect Kit specializes in creating customized technological solutions tailored to a diverse range of industries and applications. By integrating artificial intelligence into our innovative offerings, we cater to your unique needs and help you achieve your goals more efficiently. Whatever your requirements, Konnect Kit is committed to providing cutting-edge solutions that transform your ideas into reality, fostering growth and success for your business.')}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="service-box p-5 rounded mb-4">
          <div class="service-img-icon">
            <img :src="require('@/assets/img/solutions/custom-solutions/e-commerce-assistant.jpg')" alt="E-Commerce Assistant" class="img-fluid">
          </div>
          <h4 class="my-4">E-Commerce Assistant</h4>
          <p>{{$t('Our AI-powered E-Commerce Assistant helps you manage your products, sales, inventory, and more through email. This intelligent solution streamlines your business operations and improves your overall efficiency.')}}</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="service-box p-5 rounded mb-4">
          <div class="service-img-icon">
            <img :src="require('@/assets/img/solutions/custom-solutions/go-on.jpg')" alt="Go-On" class="img-fluid">
          </div>
          <h4 class="my-4">Go-On</h4>
          <p>{{$t('Go-On is a transportation platform that helps you find the fastest and most convenient route from point A to point B. Choose your preferred mode of transportation, such as metro, train, or bus, and let the app guide you to your destination with ease.')}}</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="service-box p-5 rounded mb-4">
          <div class="service-img-icon">
            <img :src="require('@/assets/img/solutions/custom-solutions/credit-management-tool.jpg')" alt="Credit Management Tool" class="img-fluid">
          </div>
          <h4 class="my-4">Credit Management Tool</h4>
          <p>{{$t('Our Credit Management Tool simplifies the process of monitoring and managing your credit-related activities. Stay organized and make informed decisions with this powerful and user-friendly solution.')}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  CUSTOM SOLUTIONS SECTION END  -->
<section class="section-padding">
  <div class="container">
    <div class="row align-items-left">
      <div class="col-md-12">
        <h3 class="mb-3">{{$t('Pioneering Personalized Tech Solutions')}}</h3>
        <p class="mb-4">{{$t('With a focus on delivering excellence and exceeding client expectations, Konnect Kit is your trusted partner for personalized technology solutions. We understand that each business has unique challenges and opportunities, which is why our solutions are not one-size-fits-all. Our experts collaborate with you to understand your specific needs and tailor our technology to meet those needs.')}}</p>
        <p class="mb-4">{{$t('From crafting AI-powered tools to creating a seamless user experience, our goal is to provide you with tools that not only solve your immediate challenges but also set you up for long-term success. By leveraging cutting-edge technology and innovative thinking, we help you navigate the digital landscape with confidence.')}}</p>
        <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
          <i class="icofont icofont-link"></i>
          <span class="text-content">&nbsp;{{$t('Reach out to us for')}}</span>
          <span class="contact-us">{{$t('personalized tech solutions')}} <i class="fa fa-angle-right"></i></span>
        </router-link>
      </div>
    </div>
  </div>
</section>
</div>
</template>
<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
export default {
  name: 'CustomSolutions',
  components: {
    Breadcrumb,
    SmallBannerBlock,
  },
  data() {
    return {};
  },
  metaInfo() {
  return {
    title: "Custom Solutions - Konnect Kit",
    meta: [
      { name: 'description', content: 'Discover the limitless potential of custom-tailored solutions at Konnect Kit. Our experts will work closely with you to develop innovative strategies and solutions that drive growth and success in the competitive digital landscape.' },
      { property: 'og:title', content: "Custom Solutions - Konnect Kit" },
      { property: 'og:description', content: 'Discover the limitless potential of custom-tailored solutions at Konnect Kit. Our experts will work closely with you to develop innovative strategies and solutions that drive growth and success in the competitive digital landscape.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/solutions/custom-solutions' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/solutions/custom-solutions' }
    ]
  }
},

  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },
};
</script>