<template>
<small-banner-block :title="$t('Company Overview')" :subtitle="$t('How We Turned Our Visionary Future into Reality: Our Story')">
</small-banner-block>

<breadcrumb :items="[
 { label: $t('Home'), route: 'Home' },
 { label: $t('About'), route: 'About' },
 { label: $t('Company Overview') }
]" />


  <!--ABOUT AREA START -->
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div>
            <p>{{$t('Konnect Kit was founded in 2020 with the goal of providing innovative technology solutions to businesses and individuals. Since its inception, the company has focused on delivering exceptional services tailored to the digital media and design needs of startups and small businesses. Over the years, Konnect Kit has built a strong community of customers, partners, and everyday users, united by their commitment to harnessing cutting-edge technology for business growth and personal empowerment.')}}</p>
            <p>{{$t('Leveraging cutting-edge technology, we deliver sophisticated and compelling brands that offer exceptional solutions for both businesses and end-users. Our products drive your business\'s technological advancements, empowering individuals to achieve more and generate increased revenue. With a customer-centric approach, we serve as a catalyst for our clients\' business growth. Our integrated platform fosters a thriving community of customers, partners, and everyday users, all interconnected through a single, comprehensive technological toolkit.')}}</p>
            <p>{{$t('Our commitment to excellence and innovation allows us to stay at the forefront of the industry, continually adapting to the ever-evolving digital landscape. We pride ourselves on our ability to anticipate and respond to the needs of our diverse client base, offering customized development solutions for businesses of all sizes. Through collaboration and expertise, we ensure that our clients thrive in the digital realm and achieve lasting success.')}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding pt-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
          <h3 class="mb-3">{{$t('Innovators in Development Since 2020')}}</h3>
          <p class="mb-4">{{$t('We offer development services for startups and small businesses, tailored to their digital media and design needs.')}}</p>
          <span class="h5 mb-4">{{$t('What we do:')}}</span>
      <ul class="about-list2 my-4">
        <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{$t('Custom development solutions')}}</li>
        <li class="mb-2">
          <i class="icofont icofont-check-circled"> </i> {{$t('Responsive web design')}}
        </li>
        <li class="mb-2">
          <i class="icofont icofont-check-circled"> </i> {{$t('Mobile app development')}}
        </li>
        <li class="mb-2">
          <i class="icofont icofont-check-circled"> </i> {{$t('E-commerce solutions')}}
        </li>
      </ul>


    </div>

    <div class="col-lg-6 col-md-4">
      <img :src="require(`@/assets/img/about/innovators.jpg`)" alt="{{$t('Innovators in Development Since 2020')}}" class="img-fluid rounded w-100">

    </div>
  </div>
</div>
</section>
  <!--  ABOUT AREA END  -->
  <!--  HISTORY AREA  -->
  <section class="section-padding pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 ">
          <div class="media img-block mb-3 mb-lg-0">
            <img :src="require(`@/assets/img/about/quality.jpg`)" alt="{{$t('Quality')}}" class="img-fluid rounded mr-3">
            <div class="media-body ">
          <h4 class="mb-3">{{$t('Founded in 2020 with a commitment to quality')}}</h4>
          <p>{{$t('Delivering exceptional services from the start.')}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="media img-block">
        <img :src="require(`@/assets/img/about/solutions.jpg`)" alt="{{$t('Solutions')}}" class="img-fluid rounded mr-3">

        <div class="media-body">
          <h4 class="mb-3">{{$t('Our mission is to provide clients with the solutions they need')}}</h4>
          <p>{{$t('Customized development for businesses of all sizes.')}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
  <!--  HISTORY AREA END  -->
  <!--  COUNTER AREA END -->
  <section class="section-padding" id="section-strategy">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-5">
                <span class="icon-3x text-default"><i class="icofont icofont-layers"></i></span>
                <h4 class="my-3">{{$t('Customized Development Solutions')}}</h4>
                <p>{{$t('We specialize in creating tailored development solutions that meet your specific business needs.')}}</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-5">
                <span class="icon-3x text-default"><i class="icofont icofont-time"></i></span>
                <h4 class="my-3">{{$t('Agile and Efficient')}}</h4>
                <p>{{$t('Our streamlined development process ensures your projects are delivered on time without compromising quality.')}}</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div>
                <span class="icon-3x text-default"><i class="icofont icofont-ui-browser"></i></span>
                <h4 class="my-3">{{$t('Cross-Platform Compatibility')}}</h4>
                <p>{{$t('Our solutions are built with cross-platform compatibility in mind, ensuring seamless user experience across devices.')}}</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div>
                <span class="icon-3x text-default"><i class="icofont icofont-shield"></i></span>
                <h4 class="my-3">{{$t('Trusted by Many')}}</h4>
                <p>{{$t('Our commitment to excellence has earned us the trust of numerous clients in various industries.')}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  SECTION CTA END  -->
</template>
<script>
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
export default {
  name: 'AboutCompanyOverview',
  components: {
    Breadcrumb,
    SmallBannerBlock
  },
  metaInfo() {
  return {
    title: "Company Overview - Konnect Kit",
    meta: [
      { name: 'description', content: 'Konnect Kit was founded in 2020 to provide innovative technology solutions to businesses and individuals. We leverage cutting-edge technology to deliver compelling brands and exceptional solutions, fostering a thriving community and empowering businesses for growth.' },
      { property: 'og:title', content: "Company Overview - Konnect Kit" },
      { property: 'og:description', content: 'Konnect Kit was founded in 2020 to provide innovative technology solutions to businesses and individuals. We leverage cutting-edge technology to deliver compelling brands and exceptional solutions, fostering a thriving community and empowering businesses for growth.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/about/company-overview' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/about/company-overview' }
    ]
  }
},

  data() {
    return {};
  },
  computed: {
},
setup() {
return {};
},
created() {
console.log("Page created");
},

};
</script>