<template>
    <div class="our-team">
        <small-banner-block :title="$t('Joao Morais')"
            :subtitle="$t('Joao Morais is the Business Owner at Konnect Kit. Leading a team of dedicated professionals, he is passionate about delivering innovative solutions that empower businesses and enhance user experiences.')" />

        <breadcrumb :items="[
            { label: $t('Home'), route: 'Home' },
            { label: $t('About'), route: 'About' },
            { label: $t('Our Team'), route: 'AboutOurTeam' },
            { label: $t('Joao Morais') },
        ]" />

        <!--  ABOUT AREA START  -->
        <section id="intro">
            <div class="container">
                <div class="row section-padding">
                    <div class="col-lg-5  d-none d-lg-block col-sm-12">
                        <div class="intro-img">
                            <img src="/static/img/team/joao-morais-single.png" alt="{{$t('Joao Morais, Business Owner at Konnect Kit')}}" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 ">
                        <h2 class="mb-4">{{$t('Joao Morais')}}</h2>
                        <p>{{$t('Joao Morais, an impassioned tech enthusiast and innovator. With an insatiable curiosity for technological advancements, Joao propels his team towards developing cutting-edge solutions that empower businesses and enhance user experiences.')}}
                        </p>
                        <p>{{$t('However, Joao\'s interests extend beyond the realm of technology. A passionate traveler, he is continually inspired by the diversity of landscapes and cultures he encounters on his journeys. He\'s an ardent hiker, believing that some of the best ideas emerge when you\'re exploring the great outdoors, far away from the hustle and bustle of city life.')}}</p>
                        <p>{{$t('Recently, Joao has undertaken a new challenge: learning to play the piano. True to his innovative spirit, he sees it as another dimension of his personal growth – a symphony of melody and rhythm that perfectly complements the symphony of codes and algorithms he deals with every day. His pursuit of piano is not just a hobby, but a reflection of his constant drive to learn, adapt, and conquer new frontiers, whether they\'re in technology, travel, or music.')}}</p>
                        <p>{{$t('Joao Morais is not just a tech fanatic and business leader; he is a testament to the fact that innovation, passion, and continual learning can truly manifest a well-rounded individual.')}}</p>
                        <ul class="list-unstyled list-inline team-social mt-4">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/joaomoraistech/" target="_blank"><i
                    class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/joaomoraistech/" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/jpmm1994" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
            </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--  ABOUT AREA END  -->


    </div>
</template>
<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
export default {
    name: 'JoaoMorais',
    components: {
        SmallBannerBlock,
        Breadcrumb
    },
    data() {
        return {};
    },
    metaInfo() {
        return {
            title: this.$t("Joao Morais - Konnect Kit"),
            meta: [
                { name: 'description', content: this.$t('Discover Joao Morais, the Business Owner at Konnect Kit. His passion for technology and personal growth makes him a leader dedicated to innovative solutions.') },
                { property: 'og:title', content: this.$t("Joao Morais - Konnect Kit") },
                { property: 'og:description', content: this.$t('Discover Joao Morais, the Business Owner at Konnect Kit. His passion for technology and personal growth makes him a leader dedicated to innovative solutions.') },
                { property: 'og:site_name', content: 'Konnect Kit' },
                { property: 'og:type', content: 'website' },
                { property: 'og:image', content: '/static/img/team-members/joao-morais.png' },
                { property: 'og:url', content: 'https://konnectkit.nl/about/our-team/joao-morais' },
                { name: 'robots', content: 'index,follow' }
            ],
            link: [
                { rel: 'canonical', href: 'https://konnectkit.nl/about/our-team/joao-morais' }
            ]
        }
    },

    computed: {

    },
    setup() {
        return {};
    },
    created() {
        console.log("Page created");
    },
};
</script>
