<template>
  <small-banner-block title="Our Work With Bakkerij Broodhuys"
    subtitle="In our collaboration with Bakkerij Broodhuys, we've showcased our commitment to client growth and success. Explore our journey with Bakkerij Broodhuys and learn how our innovative solutions, including e-commerce development and automation, have helped them streamline operations and thrive in their industry." />

  <breadcrumb :items="[
    { label: 'Home', route: 'Home' },
    { label: 'Community', route: 'Community' },
    { label: 'Customers', route: 'Customers' },
    { label: 'Bakkerij Broodhuys', },
  ]" />

  <!-- Bakkerij Broodhuys START -->
  <section id="engagement-solutions" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div class="section-heading">
            <h3>Our Technology Services for Bakkerij Broodhuys</h3>
            <p class="lead">Driving Business Growth and Efficiency through Innovative Solutions</p>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block col-sm-12" style="display: flex !important;align-items: center;">
        <div class="intro-img">
          <img :src="require(`@/assets/img/community/customers/bakkerij-broodhuys/bh.png`)" alt="Bakkerij Broodhuys" class="img-fluid">
        </div>
      </div>
        <div class="col-lg-7 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
              <div class="intro-box">
                <span>01.</span>
                <h4>Core Services</h4>
                <p>[Detail the core services used by Bakkerij Broodhuys and how they benefitted the client.]</p>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
              <div class="intro-box ">
                <span>02.</span>
                <h4>Artificial Intelligence Services</h4>
                <p>[If applicable, detail how our AI services were utilized and the outcomes achieved.]</p>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
              <div class="intro-box">
                <span>03.</span>
                <h4>Development Services</h4>
                <p>[Describe the development services we provided, such as creating their online shop, and the impact on
                  the client's business.]</p>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
              <div class="intro-box">
                <span>04.</span>
                <h4>Automation and Data Services</h4>
                <p>[If automation services were used, explain how they improved efficiency for Bakkerij Broodhuys. Discuss
                  any data services provided and their role in the client's operations.]</p>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
              <div class="intro-box">
                <span>05.</span>
                <h4>Hosting Services</h4>
                <p>[If hosting services were employed, mention this and the benefits realized.]</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Bakkerij Broodhuys END -->
  <!-- ABOUT BAKKERIJ BROODHUYS START -->
<section class="section-padding banner-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <div>
          <h3 class="pb-4">About Bakkerij Broodhuys</h3>
          <p>At Bakkerij Broodhuys, their dedicated team has been with them right from the start. The team includes a core group of pastry chefs and bakers who work in shifts to create artisan products. They are also a training company and host various interns to nurture talent.</p>

          <p>The stores have a friendly team who are always ready to serve the customers. Although the store employees are versatile and can work at any location, Bakkerij Broodhuys generally has a dedicated team for each store to provide a familiar face for the customers, enhancing their overall shopping experience.</p>

          <p>Bakkerij Broodhuys has recently launched a new ordering module which enables their customers to order their delicious breads, pastries, and cakes directly from their website, making it easier for them to enjoy their offerings.</p>

          <p>In 2010, the bakery was taken over by two passionate employees, Peter and Mike, who had the opportunity to acquire it from Ko and Trudy Koenis. Since then, Bakkerij Broodhuys has been committed to providing high-quality bakery products to their community.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ABOUT BAKKERIJ BROODHUYS END -->
<section class="section-padding bg-main">
  <div class="container">
    <h2 class="pb-4">Have You Experienced the Bakkerij Broodhuys Difference?</h2>
    <div class="row mb-4">
      <div class="col-md-12">
        <p class="pb-4">Bakkerij Broodhuys offers a diverse range of artisanal breads, pastries, and other baked goods. Crafted by their dedicated team of bakers, their products embody the perfect blend of tradition and innovation. Bakkerij Broodhuys uses only the highest-quality, fresh ingredients to ensure customers receive nothing but the best. Every bite of their delectable cakes or signature breads promises a unique taste experience. Explore their offerings today and taste the difference.</p>
        <a href="https://www.bakkerijbroodhuys.nl/" class="d-inline-block a-hover" target="_blank"><i class="icofont icofont-link"></i> Visit Bakkerij Broodhuys Shop</a>

      </div>
    </div>
  </div>
</section>


</template>
<script>
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
export default {
  name: 'CommunityCustomersBakkerijBroodhuys',
  components: {
    Breadcrumb,
    SmallBannerBlock

  },
  data() {
    return {};
  },
  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },

};
</script>
