<template>
  <p>This is the Outsmartis page</p>
</template>
<script>
export default {
  name: 'CommunityPartnersOutsmartis',
  components: {

  },
  data() {
    return {};
  },
  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },

};
</script>
