<template>
    <div class="footer">
        <!--  FOOTER AREA START  -->
        <section id="footer" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-12 col-md-5">
                        <div class="footer-widget footer-link">

                            <AppSubscribe class="pr-5"></AppSubscribe>

                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12 col-md-4">
                        <div class="footer-widget footer-link">
                            <h4>{{ $t('Quick Links') }}</h4>
                            <ul>
                                <li><router-link class="d-inline-block a-hover" to="/about"><i
                                            class="icofont icofont-link"></i> {{ $t('About') }}</router-link></li>
                                <li><router-link class="d-inline-block a-hover" to="/services"><i
                                            class="icofont icofont-link"></i> {{ $t('Services') }}</router-link></li>
                                <li><router-link class="d-inline-block a-hover" to="/solutions"><i
                                            class="icofont icofont-link"></i> {{ $t('Solutions') }}</router-link></li>
                                <li><router-link class="d-inline-block a-hover" to="/community"><i
                                            class="icofont icofont-link"></i> {{ $t('Community') }}</router-link></li>
                                <li><a href="https://privacy.mykit.ws/policy/konnectkit.nl"
                                        class="d-inline-block a-hover" target="_blank"><i
                                            class="icofont icofont-link"></i> {{ $t('Privacy policy') }}</a></li>
                            </ul>
                        </div>
                    </div>




                    <div class="col-lg-4 col-sm-12 col-md-4">
                        <div class="footer-widget footer-text">
                            <h4>{{ $t('Our location') }}</h4>
                            <p class="mail"><span>{{ $t('Email us at:') }}</span> <a
                                    href="mailto:info@konnectkit.nl">info@konnectkit.nl</a></p>
                            <p><span>{{ $t('Location:') }}</span> <br>
                              Ooievaarsteeg 2, <br> 1601JZ Enkhuizen, <br>Netherlands</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="footer-copy">
                            {{ $t('© 2023 Konnect Kit. All Rights Reserved.') }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  FOOTER AREA END  -->
    </div>
</template>
    
<script>
import AppSubscribe from '@/app/components/Subscribe.vue';
export default {
    name: 'AppFooter',
    components: {
    AppSubscribe

  },
};
</script>
