<template>
  <nav :class="{ 'open': navbarOpen }" class="navbar navbar-expand-lg fixed-top trans-navigation header-white">
    <div class="container">
      <router-link @click="closeDropdown"  class="navbar-brand" to="/">
        <img :src="require(`@/assets/img/logo.png`)" class="img-fluid b-logo" style="max-height: 60px;" />
      </router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav"
        :aria-expanded="menuOpen.toString()" aria-label="Toggle navigation" @click="toggleMenu">
        <span class="navbar-toggler-icon">
          <i :class="menuOpen ? 'fa fa-times' : 'fa fa-bars'"></i>
        </span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="mainNav">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <router-link @click="closeDropdown"  class="nav-link smoth-scroll" to="/" exact>
              <i class="icofont icofont-link"></i> {{ $t('Home') }}
            </router-link>
          </li>
          <li class="nav-item dropdown" ref="navbarToggle">
            <router-link @click="closeDropdown"  class="nav-link dropdown-toggle" to="/about" id="navbarServices" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icofont icofont-link"></i> {{ $t('About') }}
            </router-link>
            <div class="dropdown-menu" aria-labelledby="navbarServices">
              <router-link @click="closeDropdown"  class="dropdown-item " to="/about/company-overview">
                <i class="icofont icofont-link"></i> {{ $t('Company Overview') }}
              </router-link>

              <router-link @click="closeDropdown"  class="dropdown-item " to="/about/our-brands">
                <i class="icofont icofont-link"></i> {{ $t('Our Brands') }}
              </router-link>
              <router-link @click="closeDropdown"  class="dropdown-item " to="/about/our-team">
                <i class="icofont icofont-link"></i> {{ $t('Our Team') }}
              </router-link>
              <router-link @click="closeDropdown"  class="dropdown-item " to="/about/careers">
                <i class="icofont icofont-link"></i> {{ $t('Careers') }}
              </router-link>
              <router-link @click="closeDropdown"  class="dropdown-item " to="/about/contacts">
                <i class="icofont icofont-link"></i> {{ $t('Contacts') }}
              </router-link>
            </div>
          </li>
          <li class="nav-item dropdown" ref="navbarToggle">
            <router-link @click="closeDropdown"  class="nav-link dropdown-toggle" to="/services" id="navbarServices" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icofont icofont-link"></i> {{ $t('Services') }}
            </router-link>
            <div class="dropdown-menu" aria-labelledby="navbarServices">
              <router-link @click="closeDropdown"  class="dropdown-item " to="/services/core-services">
                <i class="icofont icofont-link"></i> {{ $t('Core Services') }} <br>
                <small>
                  {{ $t('Authentication Services') }},
                  {{ $t('Transcription Services') }},
                  {{ $t('Email Services') }},
                  {{ $t('Gamification Services') }}
                </small>
              </router-link>

              <router-link @click="closeDropdown"  class="dropdown-item " to="/services/development-services">
                <i class="icofont icofont-link"></i> {{ $t('Development Services') }} <br>
                <small>
                  {{ $t('Web and Mobile app development') }},
                  {{ $t('UI/UX design') }},
                  {{ $t('Custom Tailored Solutions') }},
                  {{ $t('Focused Development Teams') }},
                  {{ $t('API Integrations') }},
                  {{ $t('System Architecture Design') }}
                </small>
              </router-link>
              <router-link @click="closeDropdown"  class="dropdown-item " to="/services/artificial-intelligence-services">
                <i class="icofont icofont-link"></i> {{ $t('Artificial Intelligence Services') }} <br>
                <small>
                  {{ $t('Machine Learning') }},
                  {{ $t('Natural Language Processing') }},
                  {{ $t('Support Assistants (chatbots)') }},
                  {{ $t('Data Enrichment Services') }},
                  {{ $t('Data Structuring Services') }},
                  {{ $t('Predictive Analytics') }}
                </small>
              </router-link>
              <router-link @click="closeDropdown"  class="dropdown-item " to="/services/automation-services">
                <i class="icofont icofont-link"></i> {{ $t('Automation Services') }} <br>
                <small>
                  {{ $t('Workflow Automation') }},
                  {{ $t('System Integrations') }},
                  {{ $t('Business Process Management') }},
                  {{ $t('Bank Matching') }},
                  {{ $t('Reports Generation') }}
                </small>
              </router-link>
              <router-link @click="closeDropdown"  class="dropdown-item " to="/services/data-services">
                <i class="icofont icofont-link"></i> {{ $t('Data Services') }} <br>
                <small>
                  {{ $t('Data Storage') }},
                  {{ $t('Data Analytics') }},
                  {{ $t('Business Intelligence') }},
                  {{ $t('Data Security') }}
                </small>
              </router-link>
              <router-link @click="closeDropdown"  class="dropdown-item " to="/services/hosting-services">
                <i class="icofont icofont-link"></i> {{ $t('Hosting Services') }} <br>
                <small>
                  {{ $t('Apps') }},
                  {{ $t('Containers') }},
                  {{ $t('Virtual Machines') }}
                </small>
              </router-link>
              <router-link @click="closeDropdown"  class="dropdown-item " to="/services/education-and-training">
                <i class="icofont icofont-link"></i> {{ $t('Education and Training') }} <br>
              </router-link>
            </div>
          </li>

          <li class="nav-item dropdown" ref="navbarToggle">
            <router-link @click="closeDropdown"  class="nav-link dropdown-toggle" to="/solutions" id="navbarServices" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icofont icofont-link"></i> {{ $t('Solutions') }}
            </router-link>
            <div class="dropdown-menu" aria-labelledby="navbarServices">
              <router-link @click="closeDropdown"  class="dropdown-item" to="/solutions/engagement-solutions">
                <i class="icofont icofont-link"></i> {{ $t('Engagement Solutions') }}<br>
                <small>
                  {{ $t('Enhancing participant experience, fostering networking, and increasing engagement at events and communities with interactive features.') }}
                </small>
              </router-link>

              <router-link @click="closeDropdown"  class="dropdown-item " to="/solutions/human-resources-solutions">
                <i class="icofont icofont-link"></i> {{ $t('Human Resources Solutions') }}<br>
                <small>
                  {{ $t('HR management systems, recruiting platforms, and employee engagement tools.') }}
                </small>
              </router-link>

              <router-link @click="closeDropdown"  class="dropdown-item " to="/solutions/finance-solutions">
                <i class="icofont icofont-link"></i> {{ $t('Finance Solutions') }}<br>
                <small>
                  {{ $t('Fintech applications, compliance solutions, and payment processing.') }}
                </small>
              </router-link>

              <router-link @click="closeDropdown"  class="dropdown-item " to="/solutions/data-solutions">
                <i class="icofont icofont-link"></i> {{ $t('Data Solutions') }}<br>
                <small>
                  {{ $t('Data storage, analysis, and visualization for informed decision-making and insights.') }}
                </small>
              </router-link>

              <router-link @click="closeDropdown"  class="dropdown-item " to="/solutions/e-commerce-solutions">
                <i class="icofont icofont-link"></i> {{ $t('e-Commerce Solutions') }}<br>
                <small>
                  {{ $t('Online store development, payment gateway integration, inventory management, and customer support.') }}
                </small>
              </router-link>

              <router-link @click="closeDropdown"  class="dropdown-item " to="/solutions/custom-solutions">
                <i class="icofont icofont-link"></i> {{ $t('Custom Solutions') }}<br>
                <small>
                  {{ $t('Discover what we\'re proud of custom tailoring.') }}
                </small>
              </router-link>

            </div>
          </li>
          <!--<li class="nav-item dropdown" ref="navbarToggle">
            <router-link @click="closeDropdown"  class="nav-link dropdown-toggle" to="/developers" id="navbarServices" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icofont icofont-link"></i> {{ $t('Developers') }}
            </router-link>
            <div class="dropdown-menu" aria-labelledby="navbarServices">

              <router-link @click="closeDropdown"  class="dropdown-item " to="/developers/getting-started">
                <i class="icofont icofont-link"></i> {{ $t('Getting Started') }}<br>
                <small>
                  {{ $t('Kickstart your integration journey with our step-by-step guide.') }}
                </small>
              </router-link>

              <router-link @click="closeDropdown"  class="dropdown-item " to="/developers/documentation">
                <i class="icofont icofont-link"></i> {{ $t('Documentation') }}<br>
                <small>
                  {{ $t('Comprehensive guides and resources for seamless integration.') }}
                </small>
              </router-link>

              <router-link @click="closeDropdown"  class="dropdown-item " to="/developers/api-reference">
                <i class="icofont icofont-link"></i> {{ $t('API Reference') }}<br>
                <small>
                  {{ $t('Explore our extensive API for powerful and flexible integration.') }}
                </small>
              </router-link>

              <router-link @click="closeDropdown"  class="dropdown-item " to="/developers/sdks-n-libraries">
                <i class="icofont icofont-link"></i> {{ $t('SDKs and Libraries') }}<br>
                <small>
                  {{ $t('Harness our SDKs and libraries for popular programming languages.') }}
                </small>
              </router-link>

              <router-link @click="closeDropdown"  class="dropdown-item " to="/developers/code-samples">
                <i class="icofont icofont-link"></i> {{ $t('Code Samples') }}<br>
                <small>
                  {{ $t('Practical examples to jumpstart your development process.') }}
                </small>
              </router-link>

              <router-link @click="closeDropdown"  class="dropdown-item " to="/developers/utilities">
                <i class="icofont icofont-link"></i> {{ $t('Utilities') }}<br>
                <small>
                  {{ $t('Essential tools and utilities for developers.') }}
                </small>
              </router-link>


            </div>
          </li> -->
          <li class="nav-item dropdown" ref="navbarToggle">
            <router-link @click="closeDropdown"  class="nav-link dropdown-toggle" to="/community" id="navbarServices" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icofont icofont-link"></i> {{ $t('Community') }}
            </router-link>
            <div class="dropdown-menu" aria-labelledby="navbarServices">
              <router-link @click="closeDropdown"  class="dropdown-item " to="/community/announcements">
                <i class="icofont icofont-link"></i> {{ $t('Announcements') }}
              </router-link>
              
              <router-link @click="closeDropdown"  class="dropdown-item " :to="{ name: 'CommunityBlog' }">
    <i class="icofont icofont-link"></i> {{ $t('Blog') }}
</router-link>


              
              <router-link @click="closeDropdown"  class="dropdown-item " to="/community/events">
                <i class="icofont icofont-link"></i> {{ $t('Events') }}
              </router-link>
              <router-link @click="closeDropdown"  class="dropdown-item " to="/community/customers">
                <i class="icofont icofont-link"></i> {{ $t('Customers') }}
              </router-link>
              <!--
              <router-link @click="closeDropdown"  class="dropdown-item " to="/community/partners">
                <i class="icofont icofont-link"></i> {{ $t('Partners') }}
              </router-link>
              -->
              <router-link @click="closeDropdown"  class="dropdown-item " to="/community/investors">
                <i class="icofont icofont-link"></i> {{ $t('Investors') }}
              </router-link>
              <router-link @click="closeDropdown"  class="dropdown-item " to="/community/partnerships">
                <i class="icofont icofont-link"></i> {{ $t('Partnerships') }}
              </router-link>
              <router-link @click="closeDropdown"  class="dropdown-item " to="/community/f-a-q">
                <i class="icofont icofont-link"></i> {{ $t('FAQ') }}
              </router-link>
              
            </div>
          </li>
          <li class="dropdown language-button">
  <a class="nav-link dropdown-toggle custom-dropdown-toggle" href="#" id="languageDropdown" role="button" aria-expanded="false" style="padding: 0 5px 0 10px; margin-left: 24px;">
    {{ $t('Language') }} <span class="dropdown-arrow">▼</span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="languageDropdown">
    <li class="language-option" @click="changeLanguage('en')" :class="{ 'selected': $i18n.locale === 'en' }">
      <a class="dropdown-item">
        <span class="flag-icon flag-icon-us"></span> English
      </a>
    </li>
    <li class="language-option" @click="changeLanguage('sr')" :class="{ 'selected': $i18n.locale === 'sr' }">
      <a class="dropdown-item">
        <span class="flag-icon flag-icon-rs"></span> Srpski
      </a>
    </li>
  </ul>
</li>

        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  name: 'AppNavigation',
  data() {
    return {
      menuOpen: false
    };
  },
  methods: {
    toggleMenu() {
      this.menuOpen = !this.menuOpen;
      this.closeDropdowns();
    },
    changeLanguage(language) {
      this.$i18n.locale = language;
    },
    closeDropdowns() {
      const dropdownMenus = document.querySelectorAll('.dropdown-menu.show');
      dropdownMenus.forEach(menu => {
        menu.classList.remove('show');
      });
    },
    closeNavbar() {
      if (this.menuOpen) {
        this.toggleMenu();
      }
      this.closeDropdowns();
    }
  },
  mounted() {
    const languageDropdown = document.getElementById('languageDropdown');
    if (!languageDropdown) return;

    const languageOptions = document.querySelectorAll('.language-option');
    const menu = languageDropdown.nextElementSibling;

    languageDropdown.addEventListener('click', function(event) {
      event.preventDefault();
      menu.classList.toggle('show');
    });

    languageOptions.forEach(option => {
      option.addEventListener('click', function() {
        menu.classList.remove('show');
      });
    });

    const routerLinks = document.querySelectorAll('.nav-link router-link');
    routerLinks.forEach(link => {
      link.addEventListener('click', () => {
        if (this.menuOpen) {
          this.toggleMenu();
        }
      });
    });
  },
  beforeUnmount() {
    const routerLinks = document.querySelectorAll('.nav-link router-link');
    routerLinks.forEach(link => {
      link.removeEventListener('click', this.closeNavbar);
    });
  }
};
</script>