<template>
  <div class="subscribe-announcement">
    <h4>{{ $t('Stay Updated on Our Latest News!') }}</h4>
    <p>{{ $t('If you\'re interested in following our latest news and updates, subscribe to our newsletter by entering your email below.') }}</p>
    <div class="subscribe" v-if="!isSubmitted">
      <input type="email" :disabled="isLoading" v-model="inputEmail" class="email-input mt-2" :placeholder="$t('Enter your email address')">
      <button type="submit" :disabled="isLoading" class="btn-subscribe mt-2" @click="SubscribeToNewsletter">
        <span>{{ $t('Subscribe') }}</span>
        <span v-if="isLoading" class="icon"><span class="fa fa-spin fa-spinner"></span></span>
      </button>
    </div>
    <div class="subscribe" v-if="isSubmitted">
      <h3>{{ $t('Thank you for your subscription!') }}</h3>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
export default {
  name: 'AppSubscribe',
  data() {
    return {
      isLoading: false,
      isSubmitted: false,
      inputEmail: '',
    };
  },
  methods: {
    SubscribeToNewsletter() {
      if(!this.isLoading) {
        this.isLoading = true;
        axios.post('https://news.mykit.ws/api/subscribe', {
          email: this.inputEmail
        }, {
          headers: {
            'x-app-kit-token': 'YjUxZjgwODI2MDdkMzJiOGQxMWQ0ZDZmOTc5MmUzMmEyNzBjZGEwYTVmZTBjYTk0MTk2ZTk=',
            'content-type': 'application/json',
          }
        }).finally(() => {
          this.isSubmitted = true;
          this.isLoading = false;
        })
      }
    }
  }
};
</script>