<template>

  <small-banner-block
      title="SDKs & Libraries"
      subtitle="Leverage our powerful SDKs and libraries, available in various programming languages, to quickly and easily integrate with the Konnect Kit platform."/>

  <breadcrumb :items="[
        { label: 'Home', route: 'Home' },
        { label: 'Developers', route: 'Developers' },
        { label: 'SDKs and Libraries', },
    ]"/>

</template>
<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";

export default {
  name: 'DevelopersSDKsNLibraries',
  components: {
    Breadcrumb,
    SmallBannerBlock
  },
  data() {
    return {};
  },
  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },

};
</script>
