<template>
  <small-banner-block
    :title="$t('Human Resources Solutions')"
    :subtitle="$t('Elevate your HR processes with our cutting-edge tools and platforms designed to streamline recruitment, employee engagement, and HR management. Discover our comprehensive range of services tailored to help you unlock your organization\'s full potential in the ever-evolving business landscape.')"
  />
  <breadcrumb :items="[
    { label: $t('Home'), route: 'Home' },
    { label: $t('Solutions'), route: 'Solutions' },
    { label: $t('Human Resources Solutions') },
  ]" />

  <!-- HUMAN RESOURCES SOLUTIONS INTRODUCTION START -->
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div>
            <p>{{$t('At Konnect Kit, we offer comprehensive Human Resources Solutions to help businesses manage their workforce effectively and drive organizational success. Our cutting-edge solutions, including HR management systems, recruiting platforms, and employee engagement tools, are designed to cater to the unique requirements of each client.')}}</p>
            <p>{{$t('Discover our innovative EasyApply platform, which streamlines the job application process for both recruiters and applicants. With a focus on efficiency, quality, and user satisfaction, EasyApply delivers tailor-made solutions for today\'s fast-paced digital world.')}}</p>
            <p>{{$t('Explore our wide array of HR solutions and learn how Konnect Kit can empower your business to attract top talent, retain valuable employees, and foster a productive work environment.')}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- HUMAN RESOURCES SOLUTIONS INTRODUCTION END -->

  <!-- HR MANAGEMENT SYSTEMS START -->
  <section class="section-padding background-gray">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-4 pb-sm-20">
          <img :src="require('@/assets/img/solutions/human-resources-solutions/hr-management.jpg')"
            alt="HR Management Systems" class="img-fluid rounded w-100">
        </div>
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
          <h3 class="mb-3">{{$t('HR Management Systems')}}</h3>
          <p class="mb-4">{{$t('Leverage our expertise in HR management systems to streamline your human resources processes, from onboarding to performance management. Our solutions enable efficient data management, reduce manual tasks, and provide valuable insights to help you make informed decisions for your organization. Empower your HR team with the tools they need to boost productivity and nurture a positive work environment.')}}</p>
          <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
            <i class="icofont icofont-link"></i>
            <span class="text-content">&nbsp;{{$t('Contact us for')}}</span>
            <span class="contact-us">{{$t('HR management systems')}} <i class="fa fa-angle-right"></i></span>
          </router-link>
        </div>
      </div>
    </div>
  </section>
  <!-- HR MANAGEMENT SYSTEMS END -->

  <!-- RECRUITING PLATFORMS START -->
  <section class="section-padding order-reverse">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
          <h3 class="mb-3">{{$t('Recruiting Platform: EasyApply')}}</h3>
          <p class="mb-4">{{$t('Our innovative recruiting platform, EasyApply, simplifies the hiring process for employers and job seekers alike. Connect with top talent, streamline candidate screening, and enhance communication throughout the recruitment process. EasyApply offers a range of features, including a built-in resume builder, job application tracking, and automated candidate screening, making it a comprehensive solution for all your recruiting needs. Explore the power of EasyApply and experience how it revolutionizes the recruitment process for both employers and applicants.')}}</p>
          <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
            <i class="icofont icofont-link"></i>
            <span class="text-content">&nbsp;{{$t('Learn more about')}}</span>
            <span class="contact-us">{{$t('EasyApply')}} <i class="fa fa-angle-right"></i></span>
          </router-link>
        </div>
        <div class="col-lg-6 col-md-4 pb-sm-20">
          <img :src="require('@/assets/img/solutions/human-resources-solutions/easyapply.jpg')" alt="Recruiting Platform - EasyApply"
            class="img-fluid rounded w-100">
        </div>
      </div>
    </div>
  </section>
  <!-- RECRUITING PLATFORMS END -->
  <!-- EMPLOYEE ENGAGEMENT TOOLS START -->
  <section class="section-padding background-gray">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-4 pb-sm-20">
          <img :src="require('@/assets/img/solutions/human-resources-solutions/employee-engagement-tools.jpg')"
            alt="Employee Engagement Tools" class="img-fluid rounded w-100">
        </div>
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
          <h3 class="mb-3">{{$t('Employee Engagement Tools')}}</h3>
          <p class="mb-4">{{$t('Engage, motivate, and retain your employees with our tailor-made employee engagement tools. Foster a positive work environment and encourage collaboration among team members. Our solutions are designed to help you track employee performance, offer recognition and rewards, and facilitate open communication. By investing in employee engagement, you can boost productivity, reduce turnover, and create a strong company culture that drives success.')}}</p>
          <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
            <i class="icofont icofont-link"></i>
            <span class="text-content">&nbsp;{{$t('Contact us for')}}</span>
            <span class="contact-us">{{$t('employee engagement tools')}} <i class="fa fa-angle-right"></i></span>
          </router-link>
        </div>
      </div>
    </div>
  </section>
  <!-- EMPLOYEE ENGAGEMENT TOOLS END -->
</template>

<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";

export default {
  name: 'HumanResourcesSolutions',
  components: {
    Breadcrumb,
    SmallBannerBlock
  },
  metaInfo() {
  return {
    title: "Human Resources Solutions - Konnect Kit",
    meta: [
      { name: 'description', content: 'Elevate your HR processes with Konnect Kit’s HR management systems, recruiting platforms, and employee engagement tools, designed for organizational success.' },
      { property: 'og:title', content: "Human Resources Solutions - Konnect Kit" },
      { property: 'og:description', content: 'Elevate your HR processes with Konnect Kit’s HR management systems, recruiting platforms, and employee engagement tools, designed for organizational success.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/solutions/human-resources-solutions' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/solutions/human-resources-solutions' }
    ]
  }
},

  data() {
    return {};
  },
  computed: {},
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },
};
</script>
