<template>
    <div class="our-team">
        <small-banner-block :title="$t('Daan Balm')"
            :subtitle="$t('Daan Balm is a Frontend Developer at Konnect Kit. His proficiency in coding and dedication to creating user-focused interfaces are instrumental in the development of engaging and interactive web applications.')" />

        <breadcrumb :items="[
            { label: $t('Home'), route: 'Home' },
            { label: $t('About'), route: 'About' },
            { label: $t('Our Team'), route: 'AboutOurTeam' },
            { label: $t('Daan Balm') },
        ]" />

        <!--  ABOUT AREA START  -->
        <section id="intro">
            <div class="container">
                <div class="row section-padding">
                    <div class="col-lg-5  d-none d-lg-block col-sm-12">
                        <div class="intro-img">
                            <img src="/static/img/team/daan-balm.jpg" alt="intro-img" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 ">
                        <h2 class="mb-4">{{$t('Daan Balm')}}</h2>
                        <p>{{$t('Daan Balm, a dedicated Frontend Developer at Konnect Kit, brings his coding expertise and a knack for intuitive design to the table. With a keen eye for detail and a commitment to functional aesthetics, Daan plays a critical role in crafting engaging, user-centric web applications.')}}</p>
                        <p>{{$t('His proficiency in various frontend technologies allows him to construct effective solutions that deliver a seamless digital experience. At the core of his development process is an understanding of user needs and experiences, which is vital in creating interactive and responsive web applications.')}}</p>
                        <p>{{$t('Away from coding, Daan delves into his passion for video games. A fervent player of League of Legends, he enjoys the strategic gameplay and competitive nature of the game. This enthusiasm for gaming is not merely recreational; it aids him in understanding different aspects of user engagement, which in turn, informs his approach to web development.')}}</p>
                        <p>{{$t('Daan Balm is not just a proficient developer; he\'s a testament to the fact that a diverse set of passions can contribute to professional excellence in unexpected ways.')}}</p>
                        <ul class="list-unstyled list-inline team-social mt-4">
                         <li class="list-inline-item"><a href="https://www.linkedin.com/in/daanbalm/" target="_blank"><i
                    class="fab fa-linkedin"></i></a></li>
                         <li class="list-inline-item"><a href="https://www.instagram.com/error_type_string_undefined/"
                  target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--  ABOUT AREA END  -->
    </div>
</template>

<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
export default {
    name: 'DaanBalm',
    components: {
        SmallBannerBlock,
        Breadcrumb
    },
    data() {
        return {};
    },
    metaInfo() {
        return {
            title: this.$t("Daan Balm - Our Team - Konnect Kit"),
            meta: [
                { name: 'description', content: this.$t('Learn more about Daan Balm, a Frontend Developer at Konnect Kit. His expertise in coding and dedication to creating user-focused interfaces significantly contribute to our engaging and interactive web applications.') },
                { property: 'og:title', content: this.$t("Daan Balm - Our Team - Konnect Kit") },
                { property: 'og:description', content: this.$t('Learn more about Daan Balm, a Frontend Developer at Konnect Kit. His expertise in coding and dedication to creating user-focused interfaces significantly contribute to our engaging and interactive web applications.') },
                { property: 'og:site_name', content: 'Konnect Kit' },
                { property: 'og:type', content: 'website' },
                { property: 'og:image', content: '/static/img/team/daan-balm.jpg' },
                { property: 'og:url', content: 'https://konnectkit.nl/about/our-team/daan-balm' },
                { name: 'robots', content: 'index,follow' }
            ],
            link: [
                { rel: 'canonical', href: 'https://konnectkit.nl/about/our-team/daan-balm' }
            ]
        }
    },

    computed: {

    },
    setup() {
        return {};
    },
    created() {
        console.log("Page created");
    },
};
</script>
