
<template>
 <small-banner-block :title="$t('Become a Part of Our Vibrant Community')"
    :subtitle="$t('Join a network of passionate individuals, innovative businesses, and forward-thinking organizations. Engage in insightful discussions, share your unique perspectives, and contribute to our collective knowledge and success. Together, we can foster innovation, drive growth, and shape the future of technology.')" />
<breadcrumb :items="[
 { label: $t('Home'), route: 'Home' },
 { label: $t('Community') },
]" />

  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div>
            <p>{{$t('At Konnect Kit, community is at the heart of everything we do. We believe in fostering a vibrant and inclusive environment that inspires innovation, collaboration, and mutual growth. Our community comprises diverse individuals, businesses, and organizations, all working together towards shared goals.')}}</p>
            <p>{{$t('Being a part of our community means gaining access to a wealth of knowledge, resources, and opportunities. We encourage active participation, open discussions, and the exchange of ideas, as we believe that great solutions are born from collaboration. We provide various platforms for our members to connect, share, learn, and grow together.')}}</p>
            <p>{{$t('Join our community and be a part of the Konnect Kit journey. Whether you\'re a business looking for innovative solutions, a developer seeking challenges, or an enthusiast with a passion for technology, there\'s a place for you in our community. Together, we can shape the future, drive innovation, and create a positive impact.')}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- COMMUNITY COLLABORATION START -->
  <section class="section-padding pt-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
          <h3 class="mb-3">{{$t('Community Collaboration')}}</h3>
          <p class="mb-4">{{$t('Our community is a vibrant hub where members collaborate to solve complex problems, share innovative ideas, and drive technological progress. We believe that collective wisdom and shared experiences can catalyze growth and foster creativity.')}}</p>
          <span class="h5 mb-4">{{$t('What our community collaboration entails:')}}</span>
          <ul class="about-list2 my-4">
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{$t('Open discussions on technology trends and challenges')}}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{$t('Joint projects and collaborative problem-solving')}}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{$t('Knowledge sharing and mentorship opportunities')}}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{$t('Community-driven initiatives and events')}}</li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-4">
          <img :src="require(`@/assets/img/community/community-collaboration.jpg`)" alt="{{$t('Community Collaboration')}}"
            class="img-fluid rounded w-100">
        </div>
      </div>
    </div>
  </section>
  <!-- COMMUNITY COLLABORATION END -->
  <section class="section-padding banner-bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12">
          <AppSubscribe></AppSubscribe>
        </div>
      </div>
    </div>
  </section>
  <!-- COMMUNITY BLOG START -->
  <section class="section-padding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-4">
          <img :src="require(`@/assets/img/community/community-blog.jpg`)" alt="{{$t('Community Blog')}}"
            class="img-fluid rounded w-100">
        </div>
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4 order-md-1">
          <h3 class="mb-3">{{$t('Community Blog')}}</h3>
          <p class="mb-4">{{$t('Our community blog is a treasure trove of insights, knowledge, and experiences shared by our community members. It serves as a platform to learn from experts, get inspired, share your thoughts, and stay updated with the latest trends and innovations.')}}</p>
          <span class="h5 mb-4">{{$t('Our blog features:')}}</span>
          <ul class="about-list2 my-4">
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{$t('Expert opinions and industry insights')}}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{$t('Member stories and experiences')}}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{$t('Updates on latest technology trends')}}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{$t('Inspirational success stories')}}</li>
          </ul>
          <router-link class="mt-3 d-inline-block a-hover link-disabled" to="/community/blog" disabled><i class="icofont icofont-link"></i>
            {{$t('Our blog is coming soon')}}<i class="fa fa-angle-right"></i></router-link>
        </div>
      </div>
    </div>
  </section>
  <!-- COMMUNITY BLOG END -->
</template>
<script>
import AppSubscribe from '@/app/components/Subscribe.vue';
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
export default {
  name: 'CommunityIndex',
  components: {
    Breadcrumb,
    SmallBannerBlock,
    AppSubscribe
},
metaInfo() {
  return {
    title: "Join Our Vibrant Community - Konnect Kit",
    meta: [
      { name: 'description', content: 'Join a network of passionate individuals, innovative businesses, and forward-thinking organizations at Konnect Kit. Engage in insightful discussions, share your unique perspectives, and contribute to our collective knowledge and success.' },
      { property: 'og:title', content: "Join Our Vibrant Community - Konnect Kit" },
      { property: 'og:description', content: 'Join a network of passionate individuals, innovative businesses, and forward-thinking organizations at Konnect Kit. Engage in insightful discussions, share your unique perspectives, and contribute to our collective knowledge and success.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/community' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/community' }
    ]
  }
},

created() {
console.log("Page created");
},
};
</script>