<template>
  <small-banner-block
      :title="$t('Invest in Konnect Kit')"
      :subtitle="$t('Explore investment opportunities with Konnect Kit and become a part of our journey towards transforming businesses with innovative technology solutions. Learn more about our growth, vision, and plans for the future.')"/>

    <breadcrumb
      :items="[
        { label: $t('Home'), route: 'Home' },
        { label: $t('Community'), route: 'Community' },
        { label: $t('Investors')}
      ]"
    />



    <!-- INVESTORS INTRODUCTION START -->
    <section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div>
                    <p>{{ $t('As an investor, staying informed about the companies you invest in is crucial. At KonnectKit, we deeply value our investors and understand the significance of transparency and engagement.') }}</p>
                    <p>{{ $t('We cordially invite you to explore the myriad services and solutions offered by KonnectKit. Ranging from authentication to transcription, email, gamification, and beyond, we’re devoted to fostering innovation, efficiency, and excellence in the digital realm. Our diverse portfolio is built on the foundation of cutting-edge technology, industry expertise, and a relentless commitment to customer success.') }}</p>
                    <p>{{ $t('KonnectKit is continuously evolving, and our growth is driven by strategic investments and partnerships. As an investor, your contributions are vital to this journey. Take the time to delve into our offerings and learn how KonnectKit is shaping the digital landscape. Be part of a promising and impactful enterprise that is geared towards sustainable success and positive change in industries and communities alike.') }}</p>
                    <p class="mt-4">{{ $t('We look forward to building a prosperous and enduring relationship with you. Let’s shape the future together.') }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

  <!-- INVESTORS INTRODUCTION END -->
<!-- INVESTOR OUTREACH START -->
<section class="section-padding background-gray order-reverse">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
                <h3 class="mb-3">{{ $t('Unleash Potential: Forge Ahead with KonnectKit') }}</h3>
                <p class="mb-4">{{ $t('Be a part of the digital revolution by investing in KonnectKit. We are at the forefront of technological innovation, developing solutions that transform industries and improve lives. By investing in KonnectKit, you are investing in the future of technology.') }}</p>
                <span class="h5 mb-4">{{ $t('As an investor, you will:') }}</span>
                <ul class="about-list2 my-4">
                    <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Contribute to groundbreaking technological advancements') }}</li>
                    <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Be part of a network of forward-thinking individuals and organizations') }}</li>
                    <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Get the opportunity for potential high returns on investment') }}</li>
                    <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Have a tangible impact on communities and industries') }}</li>
                </ul>
                <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts">
                    <i class="icofont icofont-link"></i>
                    <span class="text-content">&nbsp;{{ $t('Join us and ') }}</span>
                    <span class="contact-us">{{ $t('become an investor') }} <i class="fa fa-angle-right"></i></span>
                </router-link>
            </div>
            <div class="col-lg-6 col-md-4 pb-sm-20">
                <img :src="require(`@/assets/img/community/investors/investors.jpg`)" alt="{{ $t('Invest in KonnectKit') }}"
                     class="img-fluid rounded w-100">
            </div>
        </div>
    </div>
</section>

<!-- Investment Proposition START -->
<section id="investment-proposition" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="section-heading">
                    <h3>{{ $t('Investment Proposition') }}</h3>
                    <p class="lead">{{ $t('Discover Why KonnectKit is a Stellar Investment Choice') }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block col-sm-12" style="display: flex !important;align-items: center;">
                <div class="intro-img">
                    <img :src="require(`@/assets/img/homepage/services-hp.png`)" alt="Investment Proposition" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="intro-box">
                            <h4>{{ $t('Innovative Solutions & Services') }}</h4>
                            <p>{{ $t('With products like EasyApply 2.7, KonnectKit continuously innovates to optimize business processes. Our comprehensive services in engagement, HR, finance, data, and e-commerce are tailored to meet specific needs.') }}</p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="intro-box">
                            <h4>{{ $t('Cutting-Edge Technology') }}</h4>
                            <p>{{ $t('Our advanced technology stack helps companies unlock new opportunities and create exceptional experiences. The continuous investment in technology keeps us ahead in a competitive landscape.') }}</p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="intro-box">
                            <h4>{{ $t('Experienced Team & Customization') }}</h4>
                            <p>{{ $t('Our dedicated team of experts and our strengths in customization and personalization set us apart, ensuring higher client satisfaction and retention.') }}</p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="intro-box">
                            <h4>{{ $t('Growth Potential') }}</h4>
                            <p>{{ $t('KonnectKit is well-positioned to capitalize on the growing demand for innovative solutions. Investing in KonnectKit means investing in a future-focused company with enormous growth potential.') }}</p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <router-link class="mt-3 d-inline-block a-hover long-link" to="/contact" style="padding-left: 15px;">
                            <i class="icofont icofont-link"></i>
                            <span class="text-content">&nbsp;{{ $t('Interested in Investing?') }}</span>
                            <span class="contact-us">&nbsp;{{ $t('Contact Us') }} <i class="fa fa-angle-right"></i></span>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Investment Proposition END -->

















</template>
<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
export default {
  name: 'CommunityInvestors',
  components: {
    SmallBannerBlock,
    Breadcrumb

  },
  data() {
    return {};
  },
  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },

};
</script>
