<template>
  <div class="about">
    <small-banner-block
        :title="$t('Check our story')"
        :subtitle="$t('At Konnect Kit, our clients are the heart of our innovation, driving us to deliver cutting-edge solutions tailored to their unique needs. We strive to create lasting connections, empower businesses, and enhance user experiences.')"/>

    <breadcrumb :items="[
        { label: $t('Home'), route: 'Home' },
        { label: $t('About') },
    ]"/>

    <!--MAIN HEADER AREA END -->
    <!--ABOUT AREA START -->
    <section class="section-padding">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
            <h3 class="mb-3">{{$t('Innovators in Development Since 2020')}}</h3>
            <p class="mb-4">{{$t('We offer development services for startups and small businesses, tailored to their digital media and design needs.')}}</p>

            <span class="h5 mb-4">{{$t('What we do:')}}</span>
            <ul class="about-list2 my-4">
              <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{$t('Custom development solutions')}}</li>
              <li class="mb-2">
                <i class="icofont icofont-check-circled"> </i> {{$t('Responsive web design')}}
              </li>
              <li class="mb-2">
                <i class="icofont icofont-check-circled"> </i> {{$t('Mobile app development')}}
              </li>
              <li class="mb-2">
                <i class="icofont icofont-check-circled"> </i> {{$t('E-commerce solutions')}}
              </li>
            </ul>

          </div>

          <div class="col-lg-6 col-md-4">
            <img :src="require(`@/assets/img/about/innovators.jpg`)" alt="{{$t('About page - innovators')}}" class="img-fluid rounded w-100">
          </div>
        </div>
      </div>
    </section>
    <!--  ABOUT AREA END  -->


    <!--  HISTORY AREA  -->
    <section class="section-padding pt-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 ">
            <div class="media img-block mb-3 mb-lg-0">
              <img :src="require(`@/assets/img/about/quality.jpg`)" alt="{{$t('Commitment to quality')}}" class="img-fluid rounded mr-3">
              <div class="media-body ">
                <h4 class="mb-3">{{$t('Founded in 2020 with a commitment to quality')}}</h4>
                <p>{{$t('Delivering exceptional services from the start.')}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="media img-block">
              <img :src="require(`@/assets/img/about/solutions.jpg`)" alt="{{$t('Solutions')}}" class="img-fluid rounded mr-3">
              <div class="media-body">
                <h4 class="mb-3">{{$t('Our mission is to provide clients with the solutions they need')}}</h4>
                <p>{{$t('Customized development for businesses of all sizes.')}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  HISTORY AREA END  -->
     <!--  COUNTER AREA START -->
    <section class="section-padding pt-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="text-center border p-4 rounded mb-4">
              <span class="counter  text-dark font-weight-normal">21</span>
              <h5 class="text-uppercase mt-2">{{$t('Our Happy Clients')}}</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="text-center border p-4 rounded mb-4">
              <span class="counter text-dark font-weight-normal">60</span>
              <h5 class="text-uppercase mt-2">{{$t('Projects Done')}}</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="text-center border p-4 rounded mb-4">
              <span class="counter text-dark font-weight-normal">9</span>
              <h5 class="text-uppercase mt-2">{{$t('Experienced Staff')}}</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="text-center border p-4 rounded">
              <span class="counter text-dark font-weight-normal">7</span>
              <h5 class="text-uppercase mt-2">{{$t('Ongoing Projects')}}</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  COUNTER AREA END -->
    <section class="section-padding" id="section-strategy">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-5">
                  <span class="icon-3x text-default"><i class="icofont icofont-layers"></i></span>
                  <h4 class="my-3">{{$t('Customized Development Solutions')}}</h4>
                  <p>{{$t('We specialize in creating tailored development solutions that meet your specific business needs.')}}</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-5">
                  <span class="icon-3x text-default"><i class="icofont icofont-time"></i></span>
                  <h4 class="my-3">{{$t('Agile and Efficient')}}</h4>
                  <p>{{$t('Our streamlined development process ensures your projects are delivered on time without compromising quality.')}}</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div>
                  <span class="icon-3x text-default"><i class="icofont icofont-ui-browser"></i></span>
                  <h4 class="my-3">{{$t('Cross-Platform Compatibility')}}</h4>
                  <p>{{$t('Our solutions are built with cross-platform compatibility in mind, ensuring seamless user experience across devices.')}}</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div>
                  <span class="icon-3x text-default"><i class="icofont icofont-shield"></i></span>
                  <h4 class="my-3">{{$t('Trusted by Many')}}</h4>
                  <p>{{$t('Our commitment to excellence has earned us the trust of numerous clients in various industries.')}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  SECTION CTA END  -->

    <!--  BRANDS START  -->
<section class="section-padding ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center text-lg-left">
                <div class="mb-5">
                    <h3 class="mb-2">{{$t('Trusted by thousands of customers worldwide')}}</h3>
                    <p>{{$t('Our brands have been delivering quality products and services for decades, and our commitment to excellence has never wavered.')}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-sm-6 col-md-2 text-center filter-img">
              <img :src="require(`@/assets/img/about/easyapply.png`)" alt="{{$t('EasyApply')}}" class="img-fluid rounded mr-3">
            </div>
            <div class="col-lg-2 col-sm-6 col-md-2 text-center filter-img">
              <img :src="require(`@/assets/img/about/bewitt.png`)" alt="{{$t('Bewitt')}}" class="img-fluid rounded mr-3">
            </div>
            <div class="col-lg-2 col-sm-6 col-md-2 text-center filter-img">
              <img :src="require(`@/assets/img/about/keycodemedia.png`)" alt="{{$t('KeyCodeMedia')}}" class="img-fluid rounded mr-3">
            </div>
            <div class="col-lg-2 col-sm-6 col-md-2 text-center filter-img">
              <img :src="require(`@/assets/img/about/zefir.png`)" alt="{{$t('Zefir')}}" class="img-fluid rounded mr-3">
            </div>
            <div class="col-lg-2 col-sm-6 col-md-2 text-center filter-img">
              <img :src="require(`@/assets/img/about/meaningful-to-you.png`)" alt="{{$t('Meaningful to you')}}" class="img-fluid rounded mr-3">
            </div>
            
        </div>
    </div>
</section>
<!--  BRANDS END  -->

      <!--  SECTION TEAM  -->
      <section class="section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="mb-5">
              <p>{{$t('At Konnect Kit, we believe that our team\'s diverse expertise and backgrounds are essential to fostering a culture of creativity and innovation. Each team member brings a unique perspective to the table, enabling us to develop and deliver cutting-edge solutions that cater to a wide range of business and individual needs. We are proud of our collaborative work environment, which encourages open communication, knowledge sharing, and mutual support, ensuring that we consistently exceed our clients\' expectations.')}}</p>
              <p>{{$t('Their passion for technology and commitment to staying current with industry trends enable us to offer state-of-the-art products and services that keep our clients ahead in the digital landscape. They are dedicated to providing personalized solutions that address the specific goals and objectives of each client, empowering them to grow and thrive in an increasingly competitive marketplace.')}}</p>
              <p>{{$t('At Konnect Kit, we recognize that our team is our greatest asset, and we are committed to supporting their ongoing growth and development. Through ongoing training, mentorship, and opportunities for advancement, we ensure that our team remains at the forefront of the industry, ready to tackle new challenges and continue driving success for our clients.')}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <img src="/static/img/team/joao-morais.jpg" alt="{{$t('Joao Morais')}}" class="img-fluid rounded w-100">

            <ul class="list-unstyled list-inline team-social mt-4">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/joaomoraistech/" target="_blank"><i
                    class="fab fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/joaomoraistech/" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://www.facebook.com/jpmm1994" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
            </ul>
            <h4 class="mt-3">{{$t('João Morais')}}</h4>
            <p>{{$t('Business Owner')}}</p>

          </div>
          <div class="col-lg-3 col-md-6">
            <img src="/static/img/team/shirley-martina.jpg" alt="{{$t('Shirley Martina')}}" class="img-fluid rounded w-100">
            <ul class="list-unstyled list-inline team-social mt-4">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/shirleymartina/" target="_blank"><i
                    class="fab fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/shirley_martina_/" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://www.facebook.com/shirley.martina" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
            </ul>
            <h4 class="mt-3">{{$t('Shirley Martina')}}</h4>
            <p>{{$t('Marketing Manager')}}</p>
          </div>
          <div class="col-lg-3 col-md-6">
            <img src="/static/img/team/ferenc-sic.jpg" alt="{{$t('Ferenc Sic')}}" class="img-fluid rounded w-100">
            <ul class="list-unstyled list-inline team-social mt-4">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/ferenc-si%C4%8D-b53204205/"
                  target="_blank"><i class="fab fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/fer_dawson/?hl=en" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://www.facebook.com/ferenc.sich/" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
            </ul>
            <h4 class="mt-3">{{$t('Ferenc Sic')}}</h4>
            <p>{{$t('Frontend Developer')}}</p>

          </div>
          <div class="col-lg-3 col-md-6">
            <img src="/static/img/team/daan-balm.jpg" alt="{{$t('Daan Balm')}}" class="img-fluid rounded w-100">

            <ul class="list-unstyled list-inline team-social mt-4">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/daanbalm/" target="_blank"><i
                    class="fab fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/error_type_string_undefined/"
                  target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <h4 class="mt-3">{{$t('Daan Balm')}}</h4>
            <p>{{$t('Frontend Developer')}}</p>

          </div>

          <div class="col-lg-3 col-md-6">
            <img src="/static/img/team/dimitrije-djordjevic.jpg" alt="{{$t('Dimitrije Djordjevic')}}" class="img-fluid rounded w-100">

            <ul class="list-unstyled list-inline team-social mt-4">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/dimitrije-djordjevic-2016529a/"
                  target="_blank"><i class="fab fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/dimitrije.djordjevic/" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://www.facebook.com/dimitrije.djordjevic.3" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
            </ul>
            <h4 class="mt-3">{{$t('Dimitrije Djordjevic')}}</h4>
            <p>{{$t('Creative Chief')}}</p>

          </div>

          <div class="col-lg-3 col-md-6">
            <img src="/static/img/team/johnny-cartucho.jpg" alt="{{$t('Johnny Cartucho')}}" class="img-fluid rounded w-100">

            <ul class="list-unstyled list-inline team-social mt-4">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/johnnycartucho/" target="_blank"><i
                    class="fab fa-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/johnnycartucho/" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://www.facebook.com/johnnycartucho" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
            </ul>
            <h4 class="mt-3">{{$t('Johnny Cartucho')}}</h4>
            <p>{{$t('Advisor')}}</p>

          </div>
          <div class="col-lg-3 col-md-6">
            <img src="/static/img/team/male-placeholder.jpg" alt="{{$t('Miguel Ramos')}}" class="img-fluid rounded w-100">

            <ul class="list-unstyled list-inline team-social mt-4">
              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-facebook-f"></i></a> --></li>
              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-twitter"></i></a> --></li>
              <li class="list-inline-item"><!--<a href="#"><i class="fab fa-pinterest"></i></a> --></li>
              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-linkedin"></i></a> --></li>
              <li class="list-inline-item"><!--<a href="#"><i class="fab fa-google-plus"></i></a>--></li>
            </ul>
            <h4 class="mt-3" style="padding-top: 3px;">{{$t('Miguel Ramos')}}</h4>
            <p>{{$t('Advisor')}}</p>
          </div>
          <div class="col-lg-3 col-md-6">
            <img src="/static/img/team/male-placeholder1.jpg" alt="{{$t('Levi Winter')}}" class="img-fluid rounded w-100">

            <ul class="list-unstyled list-inline team-social mt-4">

              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-facebook-f"></i></a> --></li>
              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-twitter"></i></a> --></li>
              <li class="list-inline-item"><!--<a href="#"><i class="fab fa-pinterest"></i></a> --></li>
              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-linkedin"></i></a> --></li>
              <li class="list-inline-item"><!--<a href="#"><i class="fab fa-google-plus"></i></a>--></li>

            </ul>
            <h4 class="mt-3" style="padding-top: 3px;">{{$t('Levi Winter')}}</h4>
            <p>{{$t('Operations')}}</p>

          </div>

          <div class="col-lg-3 col-md-6">
            <img src="/static/img/team/female-placeholder.jpg" alt="{{$t('Lea Blasko')}}" class="img-fluid rounded w-100">

            <ul class="list-unstyled list-inline team-social mt-4">
              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-facebook-f"></i></a> --></li>
              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-twitter"></i></a> --></li>
              <li class="list-inline-item"><!--<a href="#"><i class="fab fa-pinterest"></i></a> --></li>
              <li class="list-inline-item"> <!--<a href="#"><i class="fab fa-linkedin"></i></a> --></li>
              <li class="list-inline-item"><!--<a href="#"><i class="fab fa-google-plus"></i></a>--></li>
            </ul>
            <h4 class="mt-3" style="padding-top: 3px;">{{$t('Lea Blaskó')}}</h4>
            <p>{{$t('Sales Representative')}}</p>
          </div>
        </div>
      </div>
    </section>
    <!--  SECTION TEAM END  -->

  </div>
</template>

<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
export default {
  name: 'AboutIndex',
  components: {
    SmallBannerBlock,
    Breadcrumb

  },
  metaInfo() {
  return {
    title: "About Us - Konnect Kit",
    meta: [
      { name: 'description', content: 'At Konnect Kit, we deliver cutting-edge solutions tailored to our clients’ unique needs. Innovators in Development Since 2020, we offer custom development, responsive web design, mobile app development, and e-commerce solutions.' },
      { property: 'og:title', content: "About Us - Konnect Kit" },
      { property: 'og:description', content: 'At Konnect Kit, we deliver cutting-edge solutions tailored to our clients’ unique needs. Innovators in Development Since 2020, we offer custom development, responsive web design, mobile app development, and e-commerce solutions.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/about' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/about' }
    ]
  }
},

  data() {
    return {};
  },
  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },

};
</script>
