<template>
  <small-banner-block :title="$t('Unlock Your Business Potential with Our Services')"
    :subtitle="$t('Explore our comprehensive suite of services designed to empower your organization, streamline operations, and foster innovation. From core services and development solutions to AI-driven applications and data management, we have the expertise and tools to help you achieve success.')" />
  <breadcrumb :items="[
    { label: $t('Home'), route: 'Home' },
    { label: $t('Services'), },
  ]" />

  <section id="about" class="bg-light bg-services">
    <div class="about-bg-img d-none d-lg-block d-md-block" :style="{
      backgroundImage: `url(${require('@/assets/img/services/business-potential.jpg')})`,
      backgroundSize: 'cover',
      backgroundPosition: 'left center',
      maxHeight: '655px',
    }"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-sm-12 col-md-8">
          <div class="about-content">
            <h5 class="subtitle">{{ $t('About Our Services') }}</h5>
            <h3>{{ $t('Unlock Your Business Potential') }}</h3>
            <p>{{ $t('At Konnect Kit, we provide a wide range of services that help organizations streamline operations, foster innovation, and unlock their full potential. Our team of experts collaborates closely with clients to understand their unique challenges and objectives, delivering customized solutions for their specific needs. Discover our diverse service offerings and find the right fit for your organization.')}}</p>
            <ul class="about-list">
              <li>
                <router-link to="/services/core-services"><i class="icofont icofont-check-circled"></i> {{ $t('Core Services')}}</router-link>
              </li>
              <li>
                <router-link to="/services/artificial-intelligence-services"><i class="icofont icofont-check-circled"></i>
                  {{ $t('Artificial Intelligence Services') }}</router-link>
              </li>
              <li>
                <router-link to="/services/development-services"><i class="icofont icofont-check-circled"></i>
                  {{ $t('Development Services') }}</router-link>
              </li>
              <li>
                <router-link to="/services/automation-services"><i class="icofont icofont-check-circled"></i>
                  {{ $t('Automation Services') }}</router-link>
              </li>
              <li>
                <router-link to="/services/data-services"><i class="icofont icofont-check-circled"></i> {{ $t('Data Services')}}</router-link>
              </li>
              <li>
                <router-link to="/services/hosting-services"><i class="icofont icofont-check-circled"></i> {{ $t('Hosting Services')}}</router-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding section-strategy">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 m-auto">
          <div class="section-heading">
            <h4 class="section-title">{{ $t('Discover the Possibilities with our Services') }}</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 ">
          <div class="row">
            <div class="col-lg-4">
              <div>
                <span class="icon-3x text-default"><i class="icofont icofont-robot"></i></span>
                <h4 class="my-3">{{ $t('AI-Powered Chatbots') }}</h4>
                <p>{{ $t('Implement Artificial Intelligence chatbots to enhance customer support, automate processes, and provide personalized interactions at scale.')}}</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div>
                <span class="icon-3x text-default"><i class="icofont icofont-gears"></i></span>
                <h4 class="my-3">{{ $t('Workflow Automation') }}</h4>
                <p>{{ $t('Optimize business processes and increase efficiency through workflow automation, system integrations, and business process management.')}}</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div>
                <span class="icon-3x text-default"><i class="icofont icofont-code-alt"></i></span>
                <h4 class="my-3">{{ $t('Custom API Integrations') }}</h4>
                <p>{{ $t('Enable seamless communication between systems with custom API integrations, enhancing data sharing and improving operational efficiency.')}}</p>
              </div>
            </div>

          </div>
          <div class="row mt-4">
            <div class="col-lg-4">
              <div>
                <span class="icon-3x text-default"><i class="icofont icofont-shield"></i></span>
                <h4 class="my-3">{{ $t('Data Security') }}</h4>
                <p>{{ $t('Implement robust data security measures and ensure compliance with industry standards, protecting your organization and customers from potential risks.')}}</p>
              </div>
            </div>

            <div class="col-lg-4">
              <div>
                <span class="icon-3x text-default"><i class="icofont icofont-ui-browser"></i></span>
                <h4 class="my-3">{{ $t('UI/UX Design Services') }}</h4>
                <p>{{ $t('Design intuitive and visually appealing user interfaces that enhance user satisfaction and increase engagement across web and mobile applications.')}}</p>
              </div>
            </div>

            <div class="col-lg-4">
              <div>
                <span class="icon-3x text-default"><i class="icofont icofont-mobile-phone"></i></span>
                <h4 class="my-3">{{ $t('Mobile App Development') }}</h4>
                <p>{{ $t('Create engaging and high-performing mobile apps tailored to your business needs, ensuring a seamless user experience across devices.')}}</p>
              </div>
            </div>

            <div class="col-lg-12 text-center mt-5">

              <router-link to="/about/contacts" class="btn btn-black btn-circled mr-2">
                <i class="icofont icofont-link"></i>
                {{ $t('Get in touch') }}
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-sm-12 col-md-6 mb-4">
          <img :src="require('@/assets/img/services/services-core-services.jpg')" alt="{{$t('Core Services')}}"
            class="img-fluid">
        </div>
        <div class="col-lg-7 pl-4">
          <div class="mb-5">
            <h3 class="mb-4">
              <router-link to="/services/core-services"><i class="icofont icofont-link"></i>
                {{ $t('Core Services') }}
              </router-link>
            </h3>
            <p>{{ $t('Konnect Kit offers a wide array of core services, designed to cater to various needs and industries. From advertisement and content management to networking and real - time messaging, our solutions are adaptable, reliable, and scalable.')}}</p>
          </div>

          <ul class="about-list">
            <li>
              <h5 class="mb-2">{{ $t('Data') }} <span>{{ $t('Kit') }}</span></h5>
              <p class="is-size-3">{{ $t('View, manage, perform operations, and extract valuable insights from your data.')}}</p>
            </li>
            <li>
              <h5 class="mb-2">{{ $t('Content') }} <span>{{ $t('Kit') }}</span></h5>
              <p class="is-size-3">{{ $t('Effective content management for websites, blogs, and other platforms.') }}</p>
            </li>

            <li>
              <h5 class="mb-2">{{ $t('Financial') }} <span>{{ $t('Kit') }}</span> </h5>
              <p class="is-size-3">{{ $t('Payment, dispute, and financial management for secure transactions.') }}</p>
            </li>
            <li>
              <h5 class="mb-2">{{ $t('Consociate') }} <span>{{ $t('Kit') }}</span> </h5>
              <p class="is-size-3">{{ $t('Networking solutions for teams, friend requests, and interactive timelines.') }}
              </p>
            </li>
            <li>
              <h5 class="mb-2">{{ $t('Websockets Kit') }}</h5>
              <p class="is-size-3">{{ $t('Real-time messaging systems for seamless communication and collaboration.') }}</p>
            </li>
            <li>
              <h5 class="mb-2">{{ $t('Gamification') }} <span>{{ $t('Kit') }}</span></h5>
              <p class="is-size-3">{{ $t('Create engaging challenges, achievements, leaderboards, and more.') }}</p>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-gray">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 pr-4">
          <div class="mb-5">
            <h3 class="mb-4">
              <router-link to="/services/development-services"><i class="icofont icofont-link"></i>
                {{ $t('Development Services') }}
              </router-link>
            </h3>
            <p>{{ $t('Our development services are designed to help businesses create and maintain high-quality, efficient applications and systems.With a focus on performance, scalability, and user experience, our expert developers deliver tailored solutions to meet your unique requirements.')}}</p>
          </div>

          <ul class="about-list">
            <li>
              <h5 class="mb-2"> {{ $t('Custom Tailored Solutions') }} </h5>
              <p class="is-size-3">{{ $t('Develop bespoke solutions to address your specific business challenges and objectives.')}}</p>
            </li>
            <li>
              <h5 class="mb-2"> {{ $t('UI/UX Design') }} </h5>
              <p class="is-size-3">{{ $t('Create visually appealing and intuitive interfaces that enhance user experiences.')}}</p>
            </li>
            <li>
              <h5 class="mb-2"> {{ $t('Web/App Development') }} </h5>
              <p class="is-size-3">{{ $t('Build powerful and user-friendly web and mobile applications to drive your business forward.')}}</p>
            </li>
            <li>
              <h5 class="mb-2"> {{ $t('System Architecture Design') }} </h5>
              <p class="is-size-3">{{ $t('Design robust and scalable system architectures to support your applications and services.')}}</p>
            </li>
            <li>
              <h5 class="mb-2"> {{ $t('Focused Development Teams') }} </h5>
              <p class="is-size-3">{{ $t('Collaborate with dedicated development teams that understand your goals and requirements.')}}</p>
            </li>
            <li>
              <h5 class="mb-2"> {{ $t('API Integrations') }} </h5>
              <p class="is-size-3">{{ $t('Seamlessly integrate third-party APIs to enhance the functionality of your applications.')}}</p>
            </li>

          </ul>

        </div>

        <div class="col-lg-5 col-sm-12 col-md-6 mb-4">
          <img :src="require('@/assets/img/services/development-services.jpg')" alt="{{$t('Development Services')}}"
            class="img-fluid">

        </div>

    </div>
  </div>
</section></template>
<script>
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
export default {
  name: 'ServicesIndex',
  components: {
    Breadcrumb,
    SmallBannerBlock
  },
  metaInfo() {
  return {
    title: "Our Services - Unlock Your Business Potential with Konnect Kit",
    meta: [
      { name: 'description', content: 'Explore Konnect Kit’s comprehensive suite of services, including core services, development, AI, automation, and data services, designed to empower your organization, streamline operations, and foster innovation.' },
      { property: 'og:title', content: "Our Services - Unlock Your Business Potential with Konnect Kit" },
      { property: 'og:description', content: 'Explore Konnect Kit’s comprehensive suite of services, including core services, development, AI, automation, and data services, designed to empower your organization, streamline operations, and foster innovation.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/services' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/services' }
    ]
  }
},


  data() {
    return {};
  },

  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },

};
</script>