<template>
  <div class="about">

    <small-banner-block
      title="API Reference"
      subtitle="Explore our extensive API reference to understand the full scope of our available endpoints, request parameters, and response objects, enabling seamless integration with our platform."/>

    <breadcrumb :items="[
        { label: 'Home', route: 'Home' },
        { label: 'Developers', route: 'Developers' },
        { label: 'API Reference', },
    ]"/>

  </div>
</template>
<script>
import SmallBannerBlock from '@/app/components/Blocks/SmallBannerBlock';
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";

export default {
  name: 'DevelopersAPIReference',
  components: {
    Breadcrumb,
    SmallBannerBlock
  },
  data() {
    return {};
  },
  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },

};
</script>
