<template>
  <small-banner-block
       :title="$t('FAQ')"
       :subtitle="$t('Addressing Your Queries and Concerns')"
     />
     
  <breadcrumb :items="[
      { label: $t('Home'), route: 'Home' },
      { label: $t('Community'), route: 'Community' },
      { label: $t('FAQ') }
     ]" />
  
  <section class="section-padding faq">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div v-for="(item, index) in faqs" :key="index">
            <button class="btn btn-link pl-0" type="button" :data-toggle="'collapse'" :data-target="'#collapse' + index" aria-expanded="false">
              {{ $t(item.question) }}
            </button>
            <div :id="'collapse' + index" class="collapse">
              <p>{{ $t(item.answer) }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </template>
  
  <script>
  import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
  import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
  
  export default {
    name: 'CommunityFaq',
    components: {
      Breadcrumb,
      SmallBannerBlock
    },
    data() {
      return {
        faqs: [
  { 
    question: 'What kind of custom development solutions do you offer?', 
    answer: 'We provide tailored solutions to meet the specific digital media and design needs of our clients, ensuring optimal compatibility, responsiveness, and user experience.' 
  },
  { 
    question: 'Do you have experience with mobile app development?', 
    answer: 'Yes, we specialize in mobile app development and can create apps tailored to your business needs, ensuring they work seamlessly across various devices and platforms.' 
  },
  { 
    question: 'How do you ensure the websites you develop are responsive?', 
    answer: 'We use advanced web design techniques and tools to ensure our websites render well on a variety of devices and window or screen sizes.' 
  },
  { 
    question: 'Is there ongoing support after my website or app goes live?', 
    answer: 'Absolutely! We offer post-launch support to address any issues or updates you might need, ensuring your digital assets continue to perform optimally.' 
  },
  { 
    question: 'What platforms do you use for e-commerce solutions?', 
    answer: 'We leverage various platforms based on our client\'s needs, ranging from WooCommerce to Shopify, Magento, and custom-built solutions.' 
  },
  { 
    question: 'Do you follow a specific development methodology?', 
    answer: 'Yes, we follow an agile development approach which emphasizes collaboration, customer feedback, and rapid iteration to ensure timely and efficient project completion.' 
  },
  { 
    question: 'How do you ensure the security of the web and mobile applications you develop?', 
    answer: 'Security is paramount to us. We adopt best practices, conduct rigorous testing, and continuously update our knowledge and tools to safeguard against potential threats.' 
  },
  { 
    question: 'Can I see some of the previous projects you’ve completed?', 
    answer: 'Certainly! We\'re proud of our portfolio and would be happy to showcase our previous works that align with your interests or project needs.' 
  },
  { 
    question: 'How do you accommodate the specific needs or preferences of a client?', 
    answer: 'We work closely with our clients from the initial consultation phase, ensuring that we understand their requirements and preferences, which guides our development process to deliver a solution that aligns with their vision.' 
  },
  { 
    question: 'What measures do you take to ensure project delivery on time?', 
    answer: 'Our streamlined and efficient development process, combined with regular client communication, ensures that projects are completed within the stipulated time frame without compromising on quality.' 
  }
]
      };
    },
    computed: {
    
    },
    setup() {
      return {};
    },
    created() {
      console.log("FAQ page created");
    },
  };
  </script>
  