<template>
  <small-banner-block
      :title="$t('Unleash Your Business Growth with Konnect Kit')"
      :subtitle="$t('Dive into our comprehensive set of solutions tailored to elevate your business, optimize workflows, and stimulate innovation. From Engagement and HR Solutions to Finance, Data, e-Commerce, and Custom Solutions, our diverse expertise and tools are at your disposal to drive your success.')"/>

  <breadcrumb :items="[
        { label: $t('Home'), route: 'Home' },
        { label: $t('Services') },
    ]"/>
<section id="about" class="bg-light">
  <div class="about-bg-img d-none d-lg-block d-md-block" :style="{
      backgroundImage: `url(${require('@/assets/img/solutions/solutions.jpg')})`,
      backgroundSize: 'cover',
      backgroundPosition: 'left center',
      maxHeight: '655px',
    }"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-sm-12 col-md-8">
        <div class="about-content">
          <h5 class="subtitle">{{$t('About Our Solutions')}}</h5>
          <h3>{{$t('Empowering Your Business with the Right Tools')}}</h3>
          <p>{{$t('At Konnect Kit, we offer a broad spectrum of solutions designed to meet diverse business needs. Our services are tailored to enhance your participant experience at events, streamline human resource management, revolutionize finance management, provide data insights, and boost e-commerce performance. We also offer custom solutions, unique to your business needs.')}}</p>
          <ul class="about-list">
            <li>
              <router-link to="/solutions/engagement-solutions"><i class="icofont icofont-check-circled"></i> {{$t('Engagement Solutions')}}</router-link></li>
            <li>
              <router-link to="/solutions/human-resources-solutions"><i class="icofont icofont-check-circled"></i> {{$t('HR Solutions')}}</router-link></li>
            <li>
              <router-link to="/solutions/finance-solutions"><i class="icofont icofont-check-circled"></i> {{$t('Finance Solutions')}}</router-link></li>
            <li>
              <router-link to="/solutions/data-solutions"><i class="icofont icofont-check-circled"></i> {{$t('Data Solutions')}}</router-link></li>
            <li>
              <router-link to="/solutions/e-commerce-solutions"><i class="icofont icofont-check-circled"></i> {{$t('e-Commerce Solutions')}}</router-link></li>
            <li>
              <router-link to="/solutions/custom-solutions"><i class="icofont icofont-check-circled"></i> {{$t('Custom Solutions')}}</router-link></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding section-strategy">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 m-auto">
        <div class="section-heading">
          <h4 class="section-title">{{$t('Drive Innovation with Konnect Kit')}}</h4>
        </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 ">
    <div class="row">
      <div class="col-lg-4">
        <div>
          <span class="icon-3x text-default"><i class="icofont icofont-robot"></i></span>
          <h4 class="my-3">{{$t('Engagement Solutions')}}</h4>
          <p>{{$t('Boost networking and engagement at your events with our interactive features designed to enhance participant experience.')}}</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <span class="icon-3x text-default"><i class="icofont icofont-gears"></i></span>
          <h4 class="my-3">{{$t('Human Resources Solutions')}}</h4>
          <p>{{$t('Streamline your HR operations with our HR management systems, recruiting platforms, and employee engagement tools.')}}</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <span class="icon-3x text-default"><i class="icofont icofont-code-alt"></i></span>
          <h4 class="my-3">{{$t('Finance Solutions')}}</h4>
          <p>{{$t('Revolutionize your financial operations with our fintech applications, compliance solutions, and payment processing systems.')}}</p>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-4">
        <div>
          <span class="icon-3x text-default"><i class="icofont icofont-shield"></i></span>
          <h4 class="my-3">{{$t('Data Solutions')}}</h4>
          <p>{{$t('Empower your decision-making process with data storage, analysis, and visualization for insightful business strategies.')}}</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div>
          <span class="icon-3x text-default"><i class="icofont icofont-ui-browser"></i></span>
          <h4 class="my-3">{{$t('e-Commerce Solutions')}}</h4>
          <p>{{$t('Boost your online presence with our online store development, payment gateway integration, inventory management, and customer support solutions.')}}</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div>
          <span class="icon-3x text-default"><i class="icofont icofont-mobile-phone"></i></span>
          <h4 class="my-3">{{$t('Custom Solutions')}}</h4>
          <p>{{$t('Experience the power of customization with our solutions tailored specifically to your unique business needs.')}}</p>
        </div>
      </div>

      <div class="col-lg-12 text-center mt-5">
        <router-link to="/about/contacts" class="btn btn-black btn-circled ml-2">
          <i class="icofont icofont-link"></i>
          {{$t('Get in touch')}}
        </router-link>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<!--ABOUT AREA START -->
<section class="section-padding">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
        <h3 class="mb-3">{{$t('Transforming Businesses with Cutting-Edge Solutions')}}</h3>
        <p class="mb-4">{{$t('At Konnect Kit, our technology solutions are more than just tools - they are game-changers that redefine how businesses operate and thrive in a digital era.')}}</p>

        <span class="h5 mb-4">{{$t('Beyond Standard Solutions:')}}</span>
        <p class="my-4">{{$t('Our approach is not about ticking boxes. It\'s about understanding the unique needs of your business and delivering solutions that drive results. We provide:')}}</p>
        <ul class="about-list2 my-4">
          <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{$t('HR management systems that foster productive work environments')}}</li>
          <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{$t('Recruiting platforms that connect you with top talent efficiently')}}</li>
          <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{$t('Employee engagement tools that boost morale and productivity')}}</li>
          <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{$t('Custom development solutions that align with your business goals')}}</li>
        </ul>

      </div>

      <div class="col-lg-6 col-md-4">
        <img :src="require(`@/assets/img/solutions/cutting-edge-solutions.jpg`)" alt="Cutting Edge Solutions" class="img-fluid rounded w-100">
      </div>
    </div>
  </div>
</section>
<!--  ABOUT AREA END  -->


<!--  SOLUTIONS AREA  -->
<section class="section-padding pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 ">
        <div class="media img-block mb-3 mb-lg-0">
          <img :src="require(`@/assets/img/about/quality.jpg`)" alt="Quality" class="img-fluid rounded mr-3">
          <div class="media-body ">
            <h4 class="mb-3">{{$t('Adaptable and Scalable Solutions')}}</h4>
            <p>{{$t('We provide solutions that adapt to your evolving business needs, ensuring continuous growth and success.')}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="media img-block">
          <img :src="require(`@/assets/img/about/solutions.jpg`)" alt="Innovation and Efficiency" class="img-fluid rounded mr-3">
          <div class="media-body">
            <h4 class="mb-3">{{$t('Fostering Innovation and Efficiency')}}</h4>
            <p>{{$t('Our solutions are designed to foster innovation, streamline operations, and increase efficiency, enabling businesses to stay ahead in a competitive landscape.')}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</template>
<script>
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
export default {
  name: 'SolutionsIndex',
  components: {
    Breadcrumb,
    SmallBannerBlock
  },
  metaInfo() {
  return {
    title: "Solutions for Business Growth - Konnect Kit",
    meta: [
      { name: 'description', content: 'Explore Konnect Kit’s solutions including Engagement, HR, Finance, Data, e-Commerce, and Custom Solutions, tailored to optimize workflows and stimulate innovation.' },
      { property: 'og:title', content: "Solutions for Business Growth - Konnect Kit" },
      { property: 'og:description', content: 'Explore Konnect Kit’s solutions including Engagement, HR, Finance, Data, e-Commerce, and Custom Solutions, tailored to optimize workflows and stimulate innovation.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/solutions' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/solutions' }
    ]
  }
},

  data() {
    return {};
  },
  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },

};
</script>
