<template>

  <small-banner-block
      title="Hello, Developers"
      subtitle="Unlock the full potential of Konnect Kit with our digital resources. Seamlessly connect your systems and applications to our platform, optimizing workflows and automating processes for increased efficiency. Explore our robust API, comprehensive documentation, and helpful resources designed to empower your development journey and fuel your success."/>

  <breadcrumb :items="[
        { label: 'Home', route: 'Home' },
        { label: 'Developers', },
    ]"/>

  <section id="about" class="bg-light">
    <div class="about-bg-img d-none d-lg-block d-md-block"
      :style="{
        backgroundImage: `url(${require('@/assets/img/developers/getting-started.png')})`,
        backgroundSize: 'cover',
      }"
    ></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-sm-12 col-md-8">
          <div class="about-content">
            <h5 class="subtitle">Welcome to the Developer Portal</h5>
            <h3>Unlock the power of Konnect Kit</h3>
            <p>Our Developer Portal is your one-stop-shop for all the resources you need to connect with the Konnect Kit platform. Here, you'll find comprehensive documentation, API references, SDKs, code samples, and more to help you build seamless integrations and create innovative solutions that leverage our platform's capabilities.</p>

            <ul class="about-list">
              <li>
                <router-link to="/developers/getting-started"><i class="icofont icofont-check-circled"></i> Getting Started</router-link></li>

              <li>
                <router-link to="/developers/api-reference"><i class="icofont icofont-check-circled"></i> API Reference</router-link></li>
              <li>
                <router-link to="/developers/documentation"><i class="icofont icofont-check-circled"></i> Documentation</router-link></li>
              <li>
                <router-link to="/developers/sdks-n-libraries"><i class="icofont icofont-check-circled"></i> SDKs and Libraries</router-link></li>
              <li>
                <router-link to="/developers/code-samples"><i class="icofont icofont-check-circled"></i> Code Samples</router-link></li>
              <li>
                <router-link to="/developers/utilities"><i class="icofont icofont-check-circled"></i> Developer Utilities</router-link></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="section-padding section-strategy">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 m-auto">
          <div class="section-heading">
            <h4 class="section-title">Here's a few ideas of things you could do with our technology</h4>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-8 ">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-5">
                <span class="icon-3x text-default"><i class="icofont icofont-rocket"></i></span>
                <h4 class="my-3">Event Platforms</h4>
                <p>Create immersive virtual event experiences that facilitate networking, engagement, and real-time interaction among participants.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-5">
                <span class="icon-3x text-default"><i class="icofont icofont-chart-bar-graph"></i></span>
                <h4 class="my-3">Data-Driven Decision Tools</h4>
                <p>Develop powerful decision-making tools that leverage data analysis, visualization, and insights to drive growth and innovation.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div>
                <span class="icon-3x text-default"><i class="icofont icofont-users-social"></i></span>
                <h4 class="my-3">Personalized Customer Experiences</h4>
                <p>Build solutions that deliver personalized customer experiences, enhancing user satisfaction and fostering brand loyalty.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div>
                <span class="icon-3x text-default"><i class="icofont icofont-globe"></i></span>
                <h4 class="my-3">Global Collaboration Platforms</h4>
                <p>Create platforms that enable seamless global collaboration, empowering teams to work together efficiently and effectively.</p>
              </div>
            </div>
            <div class="col-lg-12 mt-5">

              <router-link to="/solutions" class="btn btn-black btn-circled">Discover more solutions</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="pricing" class="section-padding bg-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 m-auto">
          <div class="section-heading">
            <h4 class="section-title">We Can't Wait to See What You'll Build!</h4>
            <p>Our platform is designed to empower developers like you to create groundbreaking solutions.
              <br> We're excited to see the incredible projects you'll develop by leveraging the power of our systems.
            </p>
            <router-link to="/developers/getting-started" class="btn btn-primary mt-4 btn-circled ">Get Started</router-link>
          </div>
        </div>
      </div>
    </div>
  </section>


</template>
<script>
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
export default {
  name: 'DevelopersIndex',
  components: {
    Breadcrumb,
    SmallBannerBlock

  },
  data() {
    return {};
  },
  computed: {

  },
  setup() {
    return {};
  },
  created() {
    console.log("Page created");
  },

};
</script>
