<template>
 <small-banner-block
    :title="$t('Partnerships')"
    :subtitle="$t('Cultivating Innovations Through Collaborative Endeavors')"
  />
  
  <breadcrumb :items="[
   { label: $t('Home'), route: 'Home' },
   { label: $t('Community'), route: 'Community' },
   { label: $t('Partnerships') }
  ]" />
  
  <!-- PARTNERSHIPS INTRODUCTION START -->
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div>
            <p>
              {{ $t('At Konnect Kit, partnerships represent more than just business alliances. They are a fusion of vision, values, and shared objectives. Guided by Joao Morais’ leadership, we believe in the transformative power of collective effort and joint ventures.') }}
            </p>
            <p>
              {{ $t('Our doors are always open to forward-thinking organizations and passionate individuals who share our zeal for innovation in technology. If you believe in the potential of a strategic alliance that could redefine the tech landscape, we are eager to hear from you.') }}
            </p>
            <p>
              {{ $t('Collaboration is at the heart of everything we do. By partnering with us, you’re not just entering into a business deal; you\'re becoming part of a dynamic ecosystem that thrives on innovation, creativity, and mutual growth. Let’s explore the myriad opportunities that our partnership could unfold. If you have a proposal or an idea that aligns with our services and values, reach out to us. Let’s shape the future of tech, together.') }}
            </p>
            <router-link class="mt-3 d-inline-block a-hover" to="/about/contacts">
              <i class="icofont icofont-link"></i>
              {{ $t('Interested in forging a partnership? Contact us to schedule a meeting.') }} <i class="fa fa-angle-right"></i>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- PARTNERSHIPS INTRODUCTION END -->
<!-- STRATEGIC PARTNERSHIPS START -->
<section class="section-padding background-gray">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-4 pb-sm-20">
        <img :src="require(`@/assets/img/community/partnerships/partnership.jpg`)" alt="{{ $t('Strategic Partnerships') }}" class="img-fluid rounded w-100">
      </div>
      <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
        <h3 class="mb-3">{{ $t('Building Strategic Partnerships') }}</h3>
        <p class="mb-4">
          {{ $t('Konnect Kit believes in fostering long-term, value-driven partnerships. With a focus on co-innovation, our strategic alliances have always led to the creation of industry-leading solutions, pioneering breakthroughs, and mutual growth.') }}
        </p>
        <p class="mb-4">
          {{ $t('Join hands with us and gain access to an extensive network of tech experts, innovative tools, and a vast marketplace. Let’s craft a new tech narrative, together.') }}
        </p>
        <router-link class="mt-3 d-inline-block a-hover" to="/about/contacts">
          <i class="icofont icofont-link"></i>
          {{ $t('Interested in a strategic partnership? Reach out today.') }} <i class="fa fa-angle-right"></i>
        </router-link>
      </div>
    </div>
  </div>
</section>
<!-- STRATEGIC PARTNERSHIPS END -->
  
<!-- PARTNERSHIP PROCESS START -->
<section class="section-padding order-reverse">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
        <h3 class="mb-3">{{ $t('Initiating a Partnership with Konnect Kit') }}</h3>
        <p class="mb-4">
          {{ $t('Ready to forge a partnership? Here’s how we can collaborate and craft groundbreaking innovations.') }}
        </p>
        <ul class="about-list2 my-4">
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Step 1: Initial Contact – Share your idea and vision with us.') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Step 2: Exploration – Joint sessions to understand synergies.') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Step 3: Proposal – Crafting a joint plan for collaboration.') }}</li>
            <li class="mb-2"><i class="icofont icofont-check-circled"></i> {{ $t('Step 4: Partnership Kick-off – Begin the journey of innovation!') }}</li>
        </ul>
        <router-link class="mt-3 d-inline-block a-hover" to="/about/contacts">
            <i class="icofont icofont-link"></i>
            {{ $t('Excited to start the process? Contact us now.') }} <i class="fa fa-angle-right"></i>
        </router-link>
      </div>
      <div class="col-lg-6 col-md-4 pb-sm-20">
          <img :src="require(`@/assets/img/community/partnerships/collaboration.jpg`)" alt="{{ $t('Partnership Process') }}" class="img-fluid rounded w-100">
      </div>
    </div>
  </div>
</section>
<!-- PARTNERSHIP PROCESS END -->


 
  
  </template>
  
  
  <script>
  import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
  import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
  export default {
  name: 'CommunityPartherships',
  components: {
  Breadcrumb,
  SmallBannerBlock
  },
  metaInfo() {
    return {
      title: "Hosting Services - Konnect Kit",
      meta: [
        { name: 'description', content: 'Konnect Kit’s Hosting Services provide reliable hosting for Apps, Containers, and Virtual Machines with top-notch performance, security, and scalability.' },
        { property: 'og:title', content: "Hosting Services - Konnect Kit" },
        { property: 'og:description', content: 'Konnect Kit’s Hosting Services provide reliable hosting for Apps, Containers, and Virtual Machines with top-notch performance, security, and scalability.' },
        { property: 'og:site_name', content: 'Konnect Kit' },
        { property: 'og:type', content: 'website' },
        { property: 'og:image', content: '/static/img/logoinbackground.png' },
        { property: 'og:url', content: 'https://konnectkit.nl/services/hosting-services' },
        { name: 'robots', content: 'index,follow' }
      ],
      link: [
        { rel: 'canonical', href: 'https://konnectkit.nl/services/hosting-services' }
      ]
    }
  },
  
  data() {
  return {};
  },
  computed: {
  
  },
  setup() {
  return {};
  },
  created() {
  console.log("Page created");
  },
  
  };
  </script>