<template>
    <small-banner-block title="Spotlight on Client Success"
        subtitle="Introducing GovWise, a remarkable example of our collaborative achievements. Delve into their story to understand how our strategic technological solutions have accelerated their growth." />
    
      <breadcrumb :items="[
        { label: 'Home', route: 'Home' },
        { label: 'Community', route: 'Community' },
        { label: 'Customers', route: 'Customers'},
        { label: 'Fractal Mind',},
      ]" />
    
    <!-- Fractal Mind START -->
    <section id="engagement-solutions" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="section-heading">
          <h3>Our Technological Innovations for Fractal Mind</h3>
          <p class="lead">Propelling Growth with State-of-the-Art Tech Solutions</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 d-none d-lg-block col-sm-12" style="display: flex !important;align-items: center;">
        <div class="intro-img">
          <img :src="require(`@/assets/img/community/customers/govwise/gw.png`)" alt="Fractal Mind" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="intro-box">
              <span>01.</span>
              <h4>Core Services</h4>
              <p>[Detail the core services used by Fractal Mind and how they benefitted the client.]</p>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="intro-box ">
              <span>02.</span>
              <h4>Data Analytics Services</h4>
              <p>[If applicable, detail how our data analytics services were utilized and the outcomes achieved.]</p>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="intro-box">
              <span>03.</span>
              <h4>Software Development</h4>
              <p>[Describe the software development services we provided, such as creating their platform, and the impact on
                the client's business.]</p>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="intro-box">
              <span>04.</span>
              <h4>Automation and Cybersecurity Services</h4>
              <p>[If automation or cybersecurity services were used, explain how they improved efficiency for Fractal Mind. Discuss
                any data services provided and their role in the client's operations.]</p>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="intro-box">
              <span>05.</span>
              <h4>Cloud and Hosting Services</h4>
              <p>[If cloud and hosting services were employed, mention this and the benefits realized.]</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- Fractal Mind END -->

    <!-- ABOUT FRACTAL MIND START -->
<section class="section-padding banner-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <div>
          <h3 class="pb-4">About Fractal Mind</h3>
          <p>Fractal Mind envisions a world where everyone, from employees to consumers, students to enthusiasts, are engaged in a common objective. With a suite of gamified solutions tailored to each client's challenges, they boost employee engagement, business results, learning objectives, and behavioral change.</p>
          <p>Recognizing that by 2020 more than half of the workforce will be constituted not only by Millennials but also Generation Z, it is essential to captivate these generations by creating appealing work, consumption, learning, and self-development environments. With this epic mission in mind, Fractal Mind has assembled a multidisciplinary team focused on positively impacting society, using the power of Gamification and Design Thinking.</p>

      <p>Their unique approach to engagement and learning leverages the motivational elements of games and the human-centered principles of design thinking. Through their innovative solutions, they have been able to transform the way their clients work, learn, and interact, fostering a culture of engagement and continuous improvement.</p>

      <p>Fractal Mind is not just about achieving short-term goals. They are committed to creating sustainable change that has a lasting impact. This is why they work closely with their clients to understand their unique challenges and objectives, and design solutions that are not only engaging but also effective in driving long-term success.</p>

      <p>Through their commitment to innovation, collaboration, and impact, Fractal Mind has established itself as a leader in the field of gamification and design thinking, helping their clients navigate the complexities of engaging the modern workforce with ease and confidence.</p>
    </div>
  </div>
</div>
</div>
</section>
<!-- ABOUT FRACTAL MIND END -->


<section class="section-padding bg-main">
  <div class="container">
    <h2 class="pb-4">Curious about the Fractal Mind Revolution?</h2>
    <div class="row mb-4">
      <div class="col-md-12">
        <p class="pb-4">Fractal Mind offers a unique blend of gamification and design thinking solutions tailored to the specific challenges of each client. Their innovative approach engages employees, drives business results, fosters learning, and encourages behavioural change. With a focus on appealing to the modern workforce, Fractal Mind is positively impacting society and revolutionizing the way we work, learn, and interact. Discover how Fractal Mind's solutions can help you drive engagement and achieve lasting success.</p>
        <a href="https://fractalmind.pt/" class="d-inline-block a-hover" target="_blank"><i class="icofont icofont-link"></i> Visit Fractal Mind's Website</a>
      </div>
    </div>
  </div>
</section>
    
    
    </template>
    <script>
    import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
    import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
    export default {
      name: 'CommunityCustomersFractalMind',
      components: {
        Breadcrumb,
        SmallBannerBlock
    
      },
      data() {
        return {};
      },
      computed: {
    
      },
      setup() {
        return {};
      },
      created() {
        console.log("Page created");
      },
    
    };
    </script>
    