<template>
    <div class="our-team">
        <small-banner-block :title="$t('Johnny Cartucho')"
            :subtitle="$t('Johnny Cartucho is an Advisor at Konnect Kit and a PhD Researcher in Augmented Reality with Airbus at Loughborough University. His groundbreaking research and innovative approaches make him a key figure in the field of Augmented Reality.')" />

        <breadcrumb :items="[
            { label: $t('Home'), route: 'Home' },
            { label: $t('About'), route: 'About' },
            { label: $t('Our Team'), route: 'AboutOurTeam' },
            { label: $t('Johnny Cartucho') },
        ]" />

        <!--  ABOUT AREA START  -->
        <section id="intro">
            <div class="container">
                <div class="row section-padding">
                    <div class="col-lg-5  d-none d-lg-block col-sm-12">
                        <div class="intro-img">
                            <img src="/static/img/team/johnny-cartucho-single.jpg" alt="intro-img" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 ">
                        <h2 class="mb-4">{{ $t('Johnny Cartucho') }}</h2>
                        <p>{{ $t('Johnny Cartucho serves as an Advisor at Konnect Kit while also undertaking groundbreaking research as a PhD Researcher in Augmented Reality with Airbus at Loughborough University. His role as an Advisor for our team allows us to leverage his expertise and pioneering vision in the field of Augmented Reality (AR).') }}</p>
                        <p>{{ $t('Prior to his work with Airbus, Johnny was the Founder and CEO of Tiger Time, where he gathered valuable experience in leading a team and executing his vision. This experience has only strengthened his skills as a researcher and innovator in AR technology.') }}</p>
                        <p>{{ $t('Johnny\'s work is characterized by innovation and forward-thinking. His research has the potential to revolutionize how we interact with technology and the world around us, reinforcing the importance of AR in the future of technology.') }}</p>
                        <p>{{ $t('Johnny Cartucho is more than a researcher; he is a pioneer in the AR field. His dedication and innovative approaches are invaluable to our team, shaping the future of how we interact with technology.') }}</p>
                        <ul class="list-unstyled list-inline team-social mt-4">
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/johnnycartucho/" target="_blank"><i
                        class="fab fa-linkedin"></i></a></li>
                             <li class="list-inline-item"><a href="https://www.instagram.com/johnnycartucho/" target="_blank"><i
                        class="fab fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.facebook.com/johnnycartucho" target="_blank"><i
                        class="fab fa-facebook-f"></i></a></li>
                </ul>
                    </div>
                </div>
                
            </div>
            
        </section>
        <!--  ABOUT AREA END  -->
    </div>
</template>

<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
export default {
    name: 'JohnnyCartucho',
    components: {
        SmallBannerBlock,
        Breadcrumb
    },
    data() {
        return {};
    },
    metaInfo() {
        return {
            title: this.$t("Johnny Cartucho - Our Team - Konnect Kit"),
            meta: [
                { name: 'description', content: this.$t('Learn more about Johnny Cartucho, an Advisor at Konnect Kit and a PhD Researcher in Augmented Reality with Airbus at Loughborough University. His innovative approaches are shaping the future of Augmented Reality.') },
                { property: 'og:title', content: this.$t("Johnny Cartucho - Our Team - Konnect Kit") },
                { property: 'og:description', content: this.$t('Learn more about Johnny Cartucho, an Advisor at Konnect Kit and a PhD Researcher in Augmented Reality with Airbus at Loughborough University. His innovative approaches are shaping the future of Augmented Reality.') },
                { property: 'og:site_name', content: 'Konnect Kit' },
                { property: 'og:type', content: 'website' },
                { property: 'og:image', content: '/static/img/team/johnny-cartucho-single.jpg' },
                { property: 'og:url', content: 'https://konnectkit.nl/about/our-team/johnny-cartucho' },
                { name: 'robots', content: 'index,follow' }
            ],
            link: [
                { rel: 'canonical', href: 'https://konnectkit.nl/about/our-team/johnny-cartucho' }
            ]
        }
    },

    computed: {

    },
    setup() {
        return {};
    },
    created() {
        console.log("Page created");
    },
};
</script>
