<template>
  <!--MAIN BANNER AREA START -->
  <div class="banner-area banner-3">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-sm-12 col-md-12">
              <div class="banner-content content-padding">
                <h5 class="subtitle px-3">{{ $t ('Latest Announcement') }}</h5>

                <h1 class="banner-title">
                  {{ $t('Konnect Kit Launches: EasyApply 2.7 - Carefully Tailored for Candidates & Employers!') }}
                </h1>
                <p>{{ $t('Konnect Kit is thrilled to announce the release of EasyApply 2.7 with new features and improved functionality, this update makes the hiring process more streamlined and efficient than ever. Boost your recruitment with the power of EasyApply.') }}</p>
                <router-link to="/about/our-brands/easyapply" class="btn btn-white btn-circled">
                  <i class="icofont icofont-link"></i>
                  {{ $t('Read more') }}</router-link>
                <a href="https://easyapply.app/" class="btn btn-white btn-circled" target="_blank">
                  <i class="icofont icofont-link"></i>
                  {{ $t('Visit website') }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  MAIN BANNER AREA START END  -->

  <!--  ABOUT AREA START  -->
  <section id="intro" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div class="section-heading">
            <p class="lead">{{ $t('At Konnect Kit, we empower individuals and businesses through innovative, tailor-made technology solutions. Our robust and adaptable platform delivers seamless experiences, unlocking a world of opportunities. Experience the future of technology with us, and embrace delightful possibilities for all.') }}</p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!--  ABOUT AREA END  -->
  <!--  SERVICE AREA START  -->
  <section id="about" class="bg-light">
    <div class="about-bg-img d-none d-lg-block d-md-block" :style="{
      backgroundImage: `url(${require('@/assets/img/homepage/possibilities.svg')})`,
      backgroundSize: 'cover',
      backgroundPosition: 'left center',
      maxHeight: '655px',
    }"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-8">
          <div class="about-content">
            <h5 class="subtitle">{{ $t('About Konnect Kit') }}</h5>
            <h3>{{ $t('Empowering businesses with innovative technology solutions') }}</h3>
            <p>{{ $t('At Konnect Kit, we create tailor-made technology solutions to empower individuals and businesses across various industries. Our dedicated team of experts provides a wide range of services designed to unlock new opportunities, streamline processes, and create delightful experiences for your customers. Explore our services and discover how we can help you achieve your goals.') }}</p>

            <ul class="about-list">
              <li>
                <router-link to="/services/core-services">
                  <i class="icofont icofont-link"></i> {{ $t('Core Services') }}</router-link>
              </li>
              <li>
                <router-link to="/services/development-services"><i class="icofont icofont-link"></i> {{ $t('Development Services') }}</router-link>
              </li>
              <li>
                <router-link to="/services/artificial-intelligence-services"><i class="icofont icofont-link"></i> {{ $t('AI Services') }}</router-link>
              </li>
              <li>
                <router-link to="/services/automation-services"><i class="icofont icofont-link"></i> {{ $t('Automation Services') }}</router-link>
              </li>
              <li>
                <router-link to="/services/data-services"><i class="icofont icofont-link"></i> {{ $t('Data Services') }}</router-link>
              </li>
              <li>
                <router-link to="/services/hosting-services"><i class="icofont icofont-link"></i> {{ $t('Hosting Services') }}</router-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  SERVICE AREA END  -->
  <!--  SERVICE PARTNER START  -->
  <section id="service-head" class="bg-feature" style="background-image: url('/static/img/banner/banner-bg.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 m-auto">
          <div class="section-heading text-white">
            <h4 class="section-title">{{ $t('Customized Technology Solutions for Your Unique Business Needs') }}</h4>
            <p>{{ $t('At Konnect Kit, we pride ourselves on delivering innovative solutions tailored to the specific needs of our clients. Our cutting-edge technology and expertise have helped businesses across various industries unlock new opportunities, streamline processes, and create exceptional customer experiences. Explore our success stories to see how our comprehensive range of services can empower your business.') }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  SERVICE PARTNER END  -->

  <!--  SOLUTIONS AREA START  -->
  <section id="service">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="service-box">
            <div class="service-inner">
              <h4 class="text-white">{{ $t('Engagement Solutions') }}</h4>
              <p class="fixed-height">{{ $t('Enhance participant experience, foster networking, and increase engagement at events and communities with interactive features.') }}</p>
              <router-link class="btn btn-primary btn-sm mt-3" to="/solutions/engagement-solutions">
                <i class="icofont icofont-link"></i> {{ $t('Explore') }}
              </router-link>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="service-box">
            <div class="service-inner">
              <h4 class="text-white">{{ $t('HR Solutions') }}</h4>
              <p class="fixed-height">{{ $t('Streamline HR management with systems, recruiting platforms, and employee engagement tools tailored for your business.') }}</p>
              <router-link class="btn btn-primary btn-sm mt-3" to="/solutions/human-resources-solutions">
                <i class="icofont icofont-link"></i> {{ $t('Explore') }}
              </router-link>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="service-box">
            <div class="service-inner">
              <h4 class="text-white">{{ $t('Finance Solutions') }}</h4>
              <p class="fixed-height">{{ $t('Empower your business with fintech applications, compliance solutions, and seamless payment processing systems.') }}</p>
              <router-link class="btn btn-primary btn-sm mt-3" to="/solutions/finance-solutions">
                <i class="icofont icofont-link"></i> {{ $t('Explore') }}
              </router-link>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="service-box">
            <div class="service-inner">
              <h4 class="text-white">{{ $t('Data Solutions') }}</h4>
              <p class="fixed-height">{{ $t('Unlock the power of data storage, analysis, and visualization for informed decision-making and valuable insights.') }}</p>
              <router-link class="btn btn-primary btn-sm mt-3" to="/solutions/data-solutions">
                <i class="icofont icofont-link"></i> {{ $t('Explore') }}
              </router-link>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="service-box">
            <div class="service-inner">
              <h4 class="text-white">{{ $t('e-Commerce Solutions') }}</h4>
              <p class="fixed-height">{{ $t('Drive growth with online store development, payment gateway integration, inventory management, and customer support services.') }}</p>
              <router-link class="btn btn-primary btn-sm mt-3" to="/solutions/e-commerce-solutions">
                <i class="icofont icofont-link"></i> {{ $t('Explore') }}
              </router-link>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="service-box">
            <div class="service-inner">
              <h4 class="text-white">{{ $t('Custom Solutions') }}</h4>
              <p class="fixed-height">{{ $t('Discover tailored solutions designed to address your unique business challenges and drive success.') }}</p>
              <router-link class="btn btn-primary btn-sm mt-3" to="/solutions/custom-solutions">
                <i class="icofont icofont-link"></i> {{ $t('Explore') }}
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!--  SOLUTIONS AREA END  -->
  <!-- Our Services START -->
  <section id="services" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <div class="section-heading">
            <h3>{{ $t('Our Technology Services') }}</h3>
            <p class="lead">{{ $t('Providing a Range of Innovative Solutions to Drive Business Growth and Efficiency') }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 d-none d-lg-block col-sm-12" style="display: flex !important;align-items: center;">
          <div class="intro-img">
            <img :src="require(`@/assets/img/homepage/services-hp.png`)" alt="Services" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
              <div class="intro-box">

                <h4>{{ $t('Core Services') }}</h4>
                <p>{{ $t('Our core services include Authentication, Transcription, Email, and Gamification Services, designed to foster robust business processes and engagement.') }}</p>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
              <div class="intro-box">

                <h4>{{ $t('Development Services') }}</h4>
                <p>{{ $t('We provide comprehensive development services, such as Web and Mobile App Development, UI/UX Design, Custom Tailored Solutions, Focused Development Teams, API Integrations, and System Architecture Design.') }}</p>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
              <div class="intro-box">

                <h4>{{ $t('Artificial Intelligence Services') }}</h4>
                <p>{{ $t('Our AI services include Machine Learning, Natural Language Processing, Support Assistants (Chatbots), Data Enrichment and Structuring Services, and Predictive Analytics.') }}</p>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
              <div class="intro-box">

                <h4>{{ $t('Automation and Data Services') }}</h4>
                <p>{{ $t('We offer Automation Services, including Workflow Automation, System Integrations, Business Process Management, Bank Matching, and Reports Generation. Our Data Services include Data Storage, Data Analytics, Business Intelligence, and Data Security.') }}</p>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
              <div class="intro-box">

                <h4>{{ $t('Hosting Services') }}</h4>
                <p>{{ $t('We provide robust hosting services for Apps, Containers, and Virtual Machines, ensuring optimal performance and security.') }}</p>
              </div>
            </div>
            <router-link class="mt-3 d-inline-block a-hover long-link" to="/about/contacts" style="padding-left: 15px;">
              <i class="icofont icofont-link"></i>
              <span class="text-content">&nbsp;{{ $t('Have questions or need assistance?') }}</span>
              <span class="contact-us">&nbsp;{{ $t('Contact us') }} <i class="fa fa-angle-right"></i></span>

            </router-link>


          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Our Services END -->



  <!--  BRANDS START  -->
  <section id="pricing" class="section-padding bg-main">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="pricing-block ">
            <div class="price-header">
              <img :src="require(`@/assets/img/about/brands/easy-apply.jpg`)" alt="EasyApply"
                class="img-fluid circle-image mb-4">
              <h4>{{ $t('EasyApply') }}</h4>
            </div>
            <div class="line"></div>
            <p class="padding-20">{{ $t('EasyApply is a job search platform that uses powerful algorithms to match candidates with job opportunities based on their skills, experience, and personality types.') }}</p>
            <router-link class="btn btn-hero btn-circled" to="/about/our-brands/easyapply">
              <i class="icofont icofont-link"></i> {{ $t('Learn more') }}
            </router-link>

            <a href="https://easyapply.app/" class="btn btn-hero btn-circled" target="_blank"><i
                class="icofont icofont-link"></i> {{ $t('Visit website') }}</a>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="pricing-block">
            <div class="price-header">
              <img :src="require(`@/assets/img/about/brands/bewitt.jpg`)" alt="Bewitt"
                class="img-fluid circle-image mb-4">
              <h4>{{ $t('BEWITT') }}</h4>
            </div>
            <div class="line"></div>
            <p class="padding-20">{{ $t('BEWITT offers a SaaS solution to enhance the experience of events, training, and communities, creating interactive and immersive experiences for audiences.') }}</p>
            <router-link class="btn btn-hero btn-circled" to="/about/our-brands/bewitt">
              <i class="icofont icofont-link"></i> {{ $t('Learn more') }}
            </router-link>

            <!--<a href="https://bewitt.com/" class="btn btn-hero btn-circled" target="_blank"><i
                class="icofont icofont-link"></i> {{ $t('Visit website') }}</a> -->

                <button disabled href="#" class="btn btn-hero btn-circled" target="_blank"><i
                class="icofont icofont-link"></i> {{ $t('In Construction!') }}</button>
          </div>

        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="pricing-block ">
            <div class="price-header">
              <img :src="require(`@/assets/img/about/brands/key-code-media.jpg`)" alt="KeyCodeMedia"
                class="img-fluid circle-image mb-4">
              <h4>{{ $t('KeyCode.Media') }}</h4>
            </div>
            <div class="line"></div>
            <p class="padding-20">{{ $t('KeyCode.Media is a digital agency focused on transforming businesses by delivering simple, intuitive, and powerful websites and webshops, enhancing user experience.') }}</p>
            <router-link class="btn btn-hero btn-circled" to="/about/our-brands/keycodemedia">
              <i class="icofont icofont-link"></i> {{ $t('Learn more') }}
            </router-link>

            <button disabled href="#" class="btn btn-hero btn-circled" target="_blank"><i
                class="icofont icofont-link"></i> {{ $t('Coming soon!') }}</button>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  BRANDS END  -->
</template>


<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import HelloWorld from '@/app/components/HelloWorld.vue'; // @ is an alias to /src

@Options({
  components: {
    HelloWorld,
  },
  metaInfo() {
  return {
    title: "Konnect Kit",
    meta: [
      { name: 'description', content: 'Empower your business with Konnect Kit’s tailor-made tech solutions. Explore innovative services in AI, automation, and more for limitless opportunities.' },
      { property: 'og:title', content: "Konnect Kit" },
      { property: 'og:description', content: 'Empower your business with Konnect Kit’s tailor-made tech solutions. Explore innovative services in AI, automation, and more for limitless opportunities.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png'},
      { property: 'og:url', content: 'https://konnectkit.nl/' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/' }
    ]
  }
},

})
export default class HomeView extends Vue { }
</script>
