<template>
  <div class="keycodemedia">
    <small-banner-block :title="$t('Unlock Success with KeyCode.Media')"
      :subtitle="$t('Embark on your digital transformation journey with KeyCode.Media. Our mission is to transform businesses through the delivery of simple, intuitive, and powerful digital solutions, creating unique, engaging experiences that enhance your brand\'s digital presence.')" />
      <breadcrumb :items="[
  { label: $t('Home'), route: 'Home' },
  { label: $t('About'), route: 'About' },
  { label: $t('Our Brands'), route: 'AboutOurBrands' },
  { label: $t('KeyCodeMedia'), }
]" />
<section class="section-padding bg-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="">
          <p>{{$t('Welcome to KeyCode.Media, a digital agency committed to transforming businesses through the delivery of simple, intuitive, and powerful digital solutions. Our focus is on creating engaging and user-friendly websites and webshops that effectively cater to the needs of our clients and their target audiences.')}}</p>
          <p>{{$t('As a subsidiary of Konnect Kit, KeyCode.Media shares a vision for a future where technology and innovation drive positive change. Our dedicated team of professionals leverages diverse skills and expertise to craft digital experiences that enhance your brand\'s presence and impact in the digital landscape.')}}</p>
          <p>{{$t('Explore KeyCode.Media\'s comprehensive offerings and learn how we can guide you through your digital transformation journey. With us, you unlock new opportunities, foster growth, and achieve lasting success in the ever-evolving digital world.')}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--  SERVICE PARTNER START  -->
<section id="service-head" class="bg-feature" style="background-image: url('/static/img/banner/banner-bg.jpg')">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-sm-12 m-auto">
        <div class="heading text-white text-center">
          <h4 class="section-title text-white">{{$t('Unlock Success in Your Digital Transformation Journey')}}</h4>
          <p>{{$t('KeyCode.Media is a digital agency focused on delivering intuitive and powerful digital solutions. By leveraging advanced technology, we aim to create meaningful connections and drive positive change.')}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  SERVICE PARTNER END  -->

<!--  SERVICE AREA START  -->
<section id="service" class="padding-bottom-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="service-box p-5 rounded mb-4">
          <div class="service-img-icon">
          <img :src="require(`@/assets/img/our-brands/keycodemedia/intuitive-websites.jpg`)"
          alt="{{$t('Unique and Intuitive Websites')}}" class="img-fluid">
        </div>
          <h4 class="my-4">{{$t('Unique and Intuitive Websites')}}</h4>
          <p>{{$t('KeyCode.Media specializes in creating websites that accurately represent your brand, ensuring seamless navigation and user experience.')}}</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="service-box p-5 rounded mb-4">
          <div class="service-img-icon">
          <img :src="require(`@/assets/img/our-brands/keycodemedia/e-commerce-platforms.jpg`)"
          alt="{{$t('Powerful E-commerce Platforms')}}" class="img-fluid">
        </div>
          <h4 class="my-4">{{$t('Powerful E-commerce Platforms')}}</h4>
          <p>{{$t('Our e-commerce solutions enable you to sell your products online effectively, reaching a larger audience and driving growth.')}}</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="service-box p-5 rounded mb-4">
          <div class="service-img-icon">
          <img :src="require(`@/assets/img/our-brands/keycodemedia/analytics.jpg`)"
          alt="{{$t('Insightful Analytics')}}" class="img-fluid">
        </div>
          <h4 class="my-4">{{$t('Insightful Analytics')}}</h4>
          <p>{{$t('Gain critical insights about your revenue, customer base, most sold products, customer retention and engagement, and more with our data-driven solutions.')}}</p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="service-box p-5 rounded ">
          <div class="service-img-icon">
          <img :src="require(`@/assets/img/our-brands/keycodemedia/technology.jpg`)"
          alt="{{$t('Cutting-Edge Technology')}}" class="img-fluid">
        </div>
          <h4 class="my-4">{{$t('Cutting-Edge Technology')}}</h4>
          <p>{{$t('Be part of a tech ecosystem that is constantly evolving, focusing on the needs and privacy of people.')}}</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="service-box p-5 rounded ">
          <div class="service-img-icon">
          <img :src="require(`@/assets/img/our-brands/keycodemedia/centric-approach.jpg`)"
          alt="{{$t('Brand-Centric Approach')}}" class="img-fluid">
        </div>
          <h4 class="my-4">{{$t('Brand-Centric Approach')}}</h4>
          <p>{{$t('Our digital solutions are crafted to resonate with your unique brand, ensuring a consistent and captivating brand image.')}}</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="service-box p-5 rounded ">
          <div class="service-img-icon">
          <img :src="require(`@/assets/img/our-brands/keycodemedia/digital-solutions.jpg`)"
          alt="{{$t('Customized Digital Solutions')}}" class="img-fluid">
        </div>
          <h4 class="my-4">{{$t('Customized Digital Solutions')}}</h4>
          <p>{{$t('At KeyCode.Media, we understand that every business is unique. That\'s why we provide fully customizable digital solutions tailored to meet your specific needs and objectives.')}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  SERVICE AREA END  -->

<!--  TESTIMONIAL AREA START  -->

<section id="testimonial" class="section-padding brands-customers">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="mb-5">
          <h3 class="mb-2">{{$t('Empowering Success Stories')}}</h3>
          <p>{{$t('Immerse in the inspiring journey of just some of our satisfied clients transformed by our solutions.')}}</p>
        </div>


      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 m-auto col-sm-12 col-md-12">
        <div class="carousel slide" id="test-carousel2">
          <div class="carousel-inner">
            <ol class="carousel-indicators">
              <li data-target="#test-carousel2" data-slide-to="0" class="active"></li>
              <li data-target="#test-carousel2" data-slide-to="1"></li>
              <li data-target="#test-carousel2" data-slide-to="2"></li>
            </ol>

            <div class="carousel-item active">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <div class="testimonial-content style-2">
                    <div class="author-info ">
                      <div class="author-img">
                        <img :src="require('@/assets/img/our-brands/keycodemedia/testimonials/broodhuys-testimonial.jpg')"
                          alt="{{$t('Broodhuys Testimonial')}}" class="img-fluid">
                      </div>

                    </div>

                    <p><i class="icofont icofont-quote-left"></i>{{$t('Our website was due for a refresh and due to the pandemic, we decided to also set up an online store. We found the process to be enjoyable. The collaboration with the KeyCodeMedia team was pleasant and with little extra hassle. Additionally, the result was of high quality. We now have a beautiful website and a clear, accessible online store.')}}<i class="icofont icofont-quote-right"></i></p>
                    <div class="author-text">
                      <h5>{{$t('Josh Denver')}}</h5>
                      <p>{{$t('Broodhuys')}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <div class="testimonial-content style-2">
                    <div class="author-info ">
                      <div class="author-img">
                        <img :src="require('@/assets/img/our-brands/keycodemedia/testimonials/drac-testimonial.jpg')"
                          alt="{{$t('Drac Testimonial')}}" class="img-fluid">
                      </div>
                    </div>

                    <p><i class="icofont icofont-quote-left"></i>{{$t('The KeyCodeMedia team was incredibly professional, dedicated and they worked tirelessly to ensure that every detail was perfect. The site is not only easy to navigate, but also visually stunning, responsive and includes all the features I wanted. I would highly recommend KeyCodeMedia to anyone looking for a high-quality, custom-made website.')}}<i class="icofont icofont-quote-right"></i></p>
                    <div class="author-text">
                      <h5>{{$t('Sofia Silva')}}</h5>
                      <p>{{$t('Drac')}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  ITEM END  -->

            <div class="carousel-item ">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <div class="testimonial-content style-2">
                    <div class="author-info ">
                      <div class="author-img">
                        <img :src="require('@/assets/img/our-brands/keycodemedia/testimonials/subwardens-testimonial.jpg')"
                          alt="{{$t('Subwardens Testimonial')}}" class="img-fluid">
                      </div>
                    </div>

                    <p><i class="icofont icofont-quote-left"></i>{{$t('I am so grateful to the KeyCodeMedia team for their exceptional work on my website\'s UI/UX design. The new design is highly functional and user-friendly. The team demonstrated a deep understanding of user behavior, and the final result accurately represents my brand. I highly recommend KonnectKit for any UI/UX project, it\'s truly transformative.')}}<i class="icofont icofont-quote-right"></i></p>
                    <div class="author-text">
                      <h5>{{$t('Lotte Janssen')}}</h5>
                      <p>{{$t('Subwardens')}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  ITEM END  -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  TESTIMONIAL AREA END  -->
</div>
</template>
<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
export default {
  name: 'AboutOurBrandsKeyCodeMedia',
  components: {
    SmallBannerBlock,
    Breadcrumb,
  },
  data() {
    return {};
  },
  metaInfo() {
  return {
    title: "Unlock Success with KeyCode.Media - Konnect Kit",
    meta: [
      { name: 'description', content: 'Embark on your digital transformation journey with KeyCode.Media. Transform your business with simple, intuitive, and powerful digital solutions that enhance your brand\'s digital presence.' },
      { property: 'og:title', content: "Unlock Success with KeyCode.Media - Konnect Kit" },
      { property: 'og:description', content: 'Embark on your digital transformation journey with KeyCode.Media. Transform your business with simple, intuitive, and powerful digital solutions that enhance your brand\'s digital presence.' },
      { property: 'og:site_name', content: 'Konnect Kit' },
      { property: 'og:type', content: 'website' },
      { property: 'og:image', content: '/static/img/logoinbackground.png' },
      { property: 'og:url', content: 'https://konnectkit.nl/about/our-brands/keycodemedia' },
      { name: 'robots', content: 'index,follow' }
    ],
    link: [
      { rel: 'canonical', href: 'https://konnectkit.nl/about/our-brands/keycodemedia' }
    ]
  }
},

  computed: {
},
setup() {
return {};
},
created() {
console.log("Page created");
},

};
</script>