<template>
  <div id="app">
    <AppNavigation></AppNavigation> 
    <router-view></router-view>
    <AppFooter></AppFooter>
  </div>
</template>

<script>
import AppNavigation from '@/app/components/Navigation.vue';
import AppFooter from '@/app/components/Footer.vue';
export default {
  name: 'App',
  components: {
    AppNavigation, 
    AppFooter,

  },
  watch: {
    '$route'() {
      window.scrollTo(0,0);
    }
  }
};
</script>

<style lang="scss">
@import '@/assets/css/app.scss';
</style>
