<template>
  <small-banner-block :title="`${$t('Explore Our Blog')}`"
    :subtitle="`${$t('Dive into a wealth of knowledge and insights from our experts. Stay up-to-date with the latest industry trends, best practices, and innovative ideas that will help you transform your business.')}`" />

  <breadcrumb :items="[
    { label: `${$t('Home')}`, route: 'Home' },
    { label: `${$t('Community')}`, route: 'Community' },
    { label: `${$t('Blog')}`, },
  ]" />
  <!--  Blog AREA START  -->
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12">
              <div class="sidebar-widget about-bar">
                <h5 class="mb-3">{{ $t('The Tech Savvy Corner') }}</h5>
                <p>{{ $t('Welcome to our blog, where we explore and discuss the latest technology solutions, brands, products, and trends that power businesses and empower individuals. Our mission is to provide valuable insights and advice on how to leverage Konnect Kit\'s innovative offerings to drive growth and stay ahead in the digital world. Join our community of like-minded readers and stay informed!') }}</p>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-widget category">
                <h5 class="mb-3">{{ $t('Category') }}</h5>
                <ul class="list-styled category">
                  <li><a @click.prevent="handleCategoryClick('Technology Solutions')" :class="{'selected-c': activeCategory == 'Technology Solutions'}"><i class="icofont icofont-link"></i> {{ $t('Technology Solutions') }}</a></li>
                  <li><a @click.prevent="handleCategoryClick('Brand Spotlights')" :class="{'selected-c': activeCategory == 'Brand Spotlights'}"><i class="icofont icofont-link"></i> {{ $t('Brand Spotlights') }}</a></li>
                  <li><a @click.prevent="handleCategoryClick('Product Reviews')" :class="{'selected-c': activeCategory == 'Product Reviews'}"><i class="icofont icofont-link"></i> {{ $t('Product Reviews') }}</a></li>
                  <li><a @click.prevent="handleCategoryClick('Customer Success Stories')" :class="{'selected-c': activeCategory == 'Customer Success Stories'}"><i class="icofont icofont-link"></i> {{ $t('Customer Success Stories') }}</a></li>
                  <li><a @click.prevent="handleCategoryClick('Web & App Development')" :class="{'selected-c': activeCategory == 'Web & App Development'}"><i class="icofont icofont-link"></i> {{ $t('Web & App Development') }}</a></li>
                  <li><a @click.prevent="handleCategoryClick('Industry News & Trends')" :class="{'selected-c': activeCategory == 'Industry News & Trends'}"><i class="icofont icofont-link"></i> {{ $t('Industry News & Trends') }}</a></li>
                  <li><a @click.prevent="handleCategoryClick('Tips & Best Practices')" :class="{'selected-c': activeCategory == 'Tips & Best Practices'}"><i class="icofont icofont-link"></i> {{ $t('Tips & Best Practices') }}</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-widget tag">
                <a href="#" @click.prevent="handleTagClick('MobileApps')" :class="{'selected-c': activeTag == 'MobileApps'}"><i class="icofont icofont-link"></i> {{ $t('MobileApps') }}</a>
                <a href="#" @click.prevent="handleTagClick('BestPractices')" :class="{'selected-c': activeTag == 'BestPractices'}"><i class="icofont icofont-link"></i> {{ $t('BestPractices') }}</a>
                <a href="#" @click.prevent="handleTagClick('AppDevelopment')" :class="{'selected-c': activeTag == 'AppDevelopment'}"><i class="icofont icofont-link"></i> {{ $t('AppDevelopment') }}</a>
                <a href="#" @click.prevent="handleTagClick('TechBrands')" :class="{'selected-c': activeTag == 'TechBrands'}"><i class="icofont icofont-link"></i> {{ $t('TechBrands') }}</a>
                <a href="#" @click.prevent="handleTagClick('SuccessStories')" :class="{'selected-c': activeTag == 'SuccessStories'}"><i class="icofont icofont-link"></i> {{ $t('SuccessStories') }}</a>
                <a href="#" @click.prevent="handleTagClick('IndustryTrends')" :class="{'selected-c': activeTag == 'IndustryTrends'}"><i class="icofont icofont-link"></i> {{ $t('IndustryTrends') }}</a>
                <a href="#" @click.prevent="handleTagClick('WebDevelopment')" :class="{'selected-c': activeTag == 'WebDevelopment'}"><i class="icofont icofont-link"></i> {{ $t('WebDevelopment') }}</a>
                <a href="#" @click.prevent="handleTagClick('DigitalSolutions')" :class="{'selected-c': activeTag == 'DigitalSolutions'}"><i class="icofont icofont-link"></i> {{ $t('DigitalSolutions') }}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6" v-for="(post, index) in filteredPosts" :key="index">
              <div class="blog-post">
                <img :src="post.image" :alt="post.title" class="img-fluid blog-img">
                <div class="pr-4 pl-4 pb-4 pt-0">
                  <p class="text-muted">By {{ post.author }} | {{ formatDate(post.date) }}</p>
                  <router-link :to="{ name: 'SingleBlog', params: { slug: post.slug } }" class="h4 fixed-height">
                    <i class="icofont icofont-link"></i>{{ post.title }}
                  </router-link>
                  <p class="text-muted mt-4 mb-4">{{ truncateText(post.content, 147) }}</p>
                  <router-link :to="{ name: 'SingleBlog', params: { slug: post.slug } }" class="read-more">
                    <i class="icofont icofont-link"></i> {{ $t('Read More') }}
                  </router-link>
                </div>
              </div>
            </div>
          </div>
          <pagination :pages="numberOfPages" :current="currentPage" @change="changePage"></pagination>
        </div>
      </div>
    </div>
  </section>
  <!--  Blog AREA END  -->
</template>


<script>
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";

export default {
  name: 'CommunityBlog',
  components: {
    Breadcrumb,
    SmallBannerBlock
  },
  data() {    
    return {
      posts: [],
      selectedCategories: [],
      selectedTags: [],
      activeCategory: '',
      activeTag: '',
    };
  },
  computed: {
    filteredPosts() {
      return this.posts.filter(post => {
        if (this.selectedCategories.length > 0) {
          if (!post.categories || !this.selectedCategories.some(category => post.categories.includes(category))) {
            return false;
          }
        }
        if (this.selectedTags.length > 0) {
          if (!post.tags || !this.selectedTags.some(tag => post.tags.includes(tag))) {
            return false;
          }
        }
        return true;
      });
    },
  },
  created() {
    this.loadPosts();
  },
  methods: {
    handleCategoryClick(category) {
      const index = this.selectedCategories.indexOf(category);
      if (index >= 0) {
        this.selectedCategories.splice(index, 1);
      } else {
        this.selectedCategories.push(category);
      }
      this.activeCategory = this.selectedCategories[this.selectedCategories.length - 1] || '';
    },
    handleTagClick(tag) {
      const index = this.selectedTags.indexOf(tag);
      if (index >= 0) {
        this.selectedTags.splice(index, 1);
      } else {
        this.selectedTags.push(tag);
      }
      this.activeTag = this.selectedTags[this.selectedTags.length - 1] || '';
    },
    loadPosts() {
      this.posts = [
      {
  slug: this.$t('unlocking-the-power-of-data-with-konnect-kit'),
  author: this.$t('Ferenc Sic'),
  date: this.$t('2023-07-11'),
  title: this.$t('Unlocking the Power of Data with Konnect Kit'),
  image: require('@/assets/img/blog/power-of-data.jpg'),
  content: this.$t('In the modern age, data has become the new currency. With the exponential growth of information, businesses and individuals alike are recognizing the importance of harnessing data for decision-making, innovation, and efficiency. At Konnect Kit, the vision is clear: transform data into an asset that drives growth and success. Let’s uncover how Konnect Kit is at the forefront of this data revolution.'),
  categories: [this.$t('Technology Solutions'), this.$t('Web & App Development')],
  tags: [this.$t('DigitalSolutions')]
},
{
  slug: this.$t('meet-the-minds-behind-konnect-kit-our-diverse-and-talented-team'),
  author: this.$t('Ferenc Sic'),
  date: this.$t('2023-07-07'),
  title: this.$t('Meet the Minds Behind Konnect Kit: Our Diverse and Talented Team'),
  image: require('@/assets/img/blog/team.jpg'),
  content: this.$t('Dive into the world of Konnect Kit and explore the talents, passions, and collaborative spirit of our diverse team that makes innovation...'),
  categories: [this.$t('Industry News & Trends')],
  tags: [this.$t('SuccessStories')]
},
{
  slug: this.$t('responsive-web-design-crafting-digital-canvases-with-konnect-kit'),
  author: this.$t('Ferenc Sic'),
  date: this.$t('2023-07-06'),
  title: this.$t('Responsive Web Design: Crafting Digital Canvases with Konnect Kit'),
  image: require('@/assets/img/blog/responsive-design.jpg'),
  content: this.$t('In the age of screens aplenty, responsiveness is key. Explore how Konnect Kit crafts digital canvases that mold themselves across devices...'),
  categories: [this.$t('Technology Solutions'), this.$t('Web & App Development')],
  tags: [this.$t('MobileApps'), this.$t('DigitalSolutions'), this.$t('ResponsiveDesign')]
},
{
  slug: this.$t('design-thinking-at-konnect-kit-merging-creativity-with-technology'),
  author: this.$t('Ferenc Sic'),
  date: this.$t('2023-07-06'),
  title: this.$t('Design Thinking at Konnect Kit: Merging Creativity with Technology'),
  image: require('@/assets/img/blog/design-thinking.jpg'),
  content: this.$t('Creativity and technology can create magic when in harmony. Dive into the world of design thinking at Konnect Kit, where innovation takes form through a meticulous blend of imagination and technical prowess.'),
  categories: [this.$t('Brand Spotlights'), this.$t('Tips & Best Practices')],
  tags: [this.$t('WebDevelopment'), this.$t('ResponsiveDesign')]
},
{
  slug: this.$t('unfolding-the-future-e-commerce-solutions-by-konnect-kit'),
  author: this.$t('Ferenc Sic'),
  date: this.$t('2023-07-03'),
  title: this.$t('Unfolding the Future: E-commerce Solutions by Konnect Kit'),
  image: require('@/assets/img/blog/e-commerce.jpg'),
  content: this.$t('The realm of E-commerce is ever-expanding. Join us as we analyze the robust E-commerce solutions provided by Konnect Kit, designed to offer a...'),
  categories: [this.$t('Technology Solutions'), this.$t('Web & App Development')],
  tags: [this.$t('MobileApps'), this.$t('DigitalSolutions')]
},
{
  slug: this.$t('empowering-small-businesses-the-konnect-kit-way'),
  author: this.$t('Ferenc Sic'),
  date: this.$t('2023-07-03'),
  title: this.$t('Empowering Small Businesses: The Konnect Kit Way'),
  image: require('@/assets/img/blog/small-business.jpg'),
  content: this.$t('Small businesses are pivotal contributors to economic dynamism, innovation, and diversification. They necessitate a distinct array of resources and services to build and sustain themselves in an increasingly competitive landscape. Konnect Kit is committed to equipping small businesses with comprehensive technological solutions, effectively serving as a catalyst for growth and innovation.'),
  categories: [this.$t('Technology Solutions'), this.$t('Web & App Development')],
  tags: [this.$t('MobileApps'), this.$t('DigitalSolutions'), this.$t('AppDevelopment')]
},
{
  slug: this.$t('the-konnect-kit-toolbox-an-inside-look-at-our-technological-arsenal'),
  author: this.$t('Ferenc Sic'),
  date: this.$t('2023-06-19'),
  title: this.$t('The Konnect Kit Toolbox: An Inside Look at Our Technological Arsenal'),
  image: require('@/assets/img/blog/konnect-kit-toolbox.jpg'),
  content: this.$t('Today, we’re unlocking the vault to give you an exclusive inside look at the technological arsenal of Konnect Kit. Our toolbox is brimming with innovative services and solutions that empower businesses and individuals to thrive in the digital landscape.'),
  categories: [this.$t('Industry News & Trends')],
  tags: [this.$t('MobileApps'), this.$t('DigitalSolutions')]
}

      ];
    },
    formatDate(dateString) {
      return new Date(dateString).toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' });
    },
    truncateText(text, length) {
      if (text.length <= length) {
        return text;
      } else {
        let end = length;
        while (text.charAt(end) !== ' ' && end < text.length) {
          end++;
        }
        return text.substring(0, end) + "...";
      }
    },
  },
};
</script>
