<template>

  <nav aria-label="breadcrumb"
       class="breadcrumb-bgd">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb ">

            <template :key="`bread-piece-${idx}`"
                      v-for="(item, idx) in items">
              <li :class="['breadcrumb-item', {
              'active': Number(idx) === Number((items.length - 1))
            }]" aria-current="page">
                <template v-if="item.route">
                  <a href="#" @click.prevent.stop="visit(item.route)">
                    {{ item.label }}
                  </a>
                </template>
                <template v-else>
                  {{ item.label }}
                </template>
              </li>

            </template>

          </ol>
        </div>

      </div>
    </div>
  </nav>

</template>
<script lang="ts">
import {Options, Vue} from 'vue-class-component';

@Options({
  props: {
    items: Array,
  },
  methods: {
    visit(routeName: string) {
      this.$router.push({
        name: routeName,
      })
    },
  },
})
export default class Breadcrumb extends Vue {
  items!: string
}
</script>