<template>

  <div class="page-banner-area page-about page-banner">
    <div class="overlay dark-overlay"></div>
    <div class="container">
      <div class="row ">
        <div class="col-lg-8 m-a col-sm-12 col-md-12">
          <div class="banner-content content-padding">
            <h1 class="text-white">{{ title }}</h1>
            <p>{{ subtitle }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
  props: {
    title: String,
    subtitle: String,
  }
})
export default class SmallBannerBlock extends Vue {
  title!: string
  subtitle!: string
}
</script>