<template>
    <div class="our-team">
        <small-banner-block :title="$t('Shirley Martina')"
            :subtitle="$t('Shirley Martina is the Marketing Manager and a Business Coach at Konnect Kit. With her vast experience in marketing and passion for coaching, she inspires individuals and teams to realize their highest potential.')" />
        <breadcrumb :items="[
            { label: $t('Home'), route: 'Home' },
            { label: $t('About'), route: 'About' },
            { label: $t('Our Team'), route: 'AboutOurTeam' },
            { label: $t('Shirley Martina') },
        ]" />

        <!--  ABOUT AREA START  -->
        <section id="intro">
            <div class="container">
                <div class="row section-padding">
                    <div class="col-lg-5  d-none d-lg-block col-sm-12">
                        <div class="intro-img">
                            <img src="/static/img/team/shirley-martina-single.jpg" alt="intro-img" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 ">
                        <h2 class="mb-4">{{$t('Shirley Martina')}}</h2>
                        <p>{{$t('As the Marketing Manager at Konnect Kit, Shirley Martina employs her extensive experience in the field to orchestrate innovative and effective marketing campaigns, spotlighting the unique value Konnect Kit offers.')}}</p>
                        <p>{{$t('In addition to her marketing duties, Shirley is also a certified Business Coach. She firmly believes that every challenge is an opportunity for growth. Her coaching mindset is instrumental not only in her direct coaching work, but also in leading the marketing team, where she continuously inspires and motivates her colleagues.')}}</p>
                        <p>{{$t('Shirley\'s passion for personal development is evident in both her professional life and her personal endeavors. Always in pursuit of new skills and knowledge, she exemplifies the power and value of lifelong learning.')}}</p>
                        <p>{{$t('In all her roles, Shirley Martina embodies the essence of leadership – guiding her team not only towards achieving business objectives, but also fostering personal and professional growth among its members.')}}</p>
                        <ul class="list-unstyled list-inline team-social mt-4">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/shirleymartina/" target="_blank"><i
                    class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/shirley_martina_/" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/shirley.martina" target="_blank"><i
                    class="fab fa-facebook-f"></i></a></li>
            </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--  ABOUT AREA END  -->
    </div>
</template>

<script>
import Breadcrumb from "@/app/components/Blocks/Breadcrumb";
import SmallBannerBlock from "@/app/components/Blocks/SmallBannerBlock";
export default {
    name: 'ShirleyMartina',
    components: {
        SmallBannerBlock,
        Breadcrumb
    },
    data() {
        return {};
    },
    metaInfo() {
        return {
            title: this.$t("Shirley Martina - Our Team - Konnect Kit"),
            meta: [
                { name: 'description', content: this.$t('Discover more about Shirley Martina, the Marketing Manager and Business Coach at Konnect Kit. Her dedication and expertise contribute significantly to our team and our services.') },
                { property: 'og:title', content: this.$t("Shirley Martina - Our Team - Konnect Kit") },
                { property: 'og:description', content: this.$t('Discover more about Shirley Martina, the Marketing Manager and Business Coach at Konnect Kit. Her dedication and expertise contribute significantly to our team and our services.') },
                { property: 'og:site_name', content: 'Konnect Kit' },
                { property: 'og:type', content: 'website' },
                { property: 'og:image', content: '/static/img/team/shirley-martina-single.jpg' },
                { property: 'og:url', content: 'https://konnectkit.nl/about/our-team/shirley-martina' },
                { name: 'robots', content: 'index,follow' }
            ],
            link: [
                { rel: 'canonical', href: 'https://konnectkit.nl/about/our-team/shirley-martina' }
            ]
        }
    },

    computed: {

    },
    setup() {
        return {};
    },
    created() {
        console.log("Page created");
    },
};
</script>
